﻿@model ProductDetailsModel.AddToCartModel
@using Nop.Web.Models.Catalog;
@using Nop.Core.Domain.Orders;
@if (!Model.DisableWishlistButton)
{
    var addToWishlistText = "";
    if (Model.UpdatedShoppingCartItemId != 0 && Model.UpdateShoppingCartItemType.HasValue && Model.UpdateShoppingCartItemType.Value == ShoppingCartType.Wishlist)
    {
        addToWishlistText = T("ShoppingCart.AddToWishlist.Update").Text;
    }
    else
    {
        addToWishlistText = T("ShoppingCart.AddToWishlist").Text;
    }
    <div class="col-md-2 col-sm-1 col ml-4 wishlist-group-btn align-self-center">
        <button id="add-to-wishlist-button-@Model.ProductId" class="btn btn-secondary add-to-wishlist-button" value="@addToWishlistText" data-productid="@Model.ProductId" onclick="AjaxCart.addproducttocart_details('@Url.RouteUrl("AddProductToCart-Details", new { productId = Model.ProductId, shoppingCartTypeId = (int)ShoppingCartType.Wishlist })', '#product-details-form');return false;">
            <span class="sr-only">@addToWishlistText</span>
            <span class="fa fa-heart-o"></span>
        </button>
	</div>
    }
