﻿@model ProductDetailsModel
@using Nop.Web.Models.Catalog;
@if (Model.HasSampleDownload)
{
    <div class="download-sample pt-1 pb-1">
        <a class="btn btn-sm btn-secondary download-sample-button" href="@Url.RouteUrl("GetSampleDownload", new { productid = Model.Id })">@T("Products.DownloadSample")</a>
    </div>
}