﻿@model ProductDetailsModel.GiftCardModel
@using Nop.Web.Models.Catalog;
@if (Model.IsGiftCard)
{
    <div class="giftcard generalMarginSupporter">
        <fieldset>
            <legend class="sr-only">@T("admin.giftcards.fields.recipientname")</legend>
            @Html.LabelFor(model => model.RecipientName, new {@class = "col-form-label" }, ":")
                @Html.TextBoxFor(model => model.RecipientName, new { @class = "form-control recipient-name" })
        </fieldset>
        @if (Model.GiftCardType == Nop.Core.Domain.Catalog.GiftCardType.Virtual)
        {
            <fieldset>
                <legend class="sr-only">@T("admin.giftcards.fields.recipientemail")</legend>
                @Html.LabelFor(model => model.RecipientEmail, new { @class = "col-form-label" }, ":")
                    @Html.TextBoxFor(model => model.RecipientEmail, new { @class = "form-control recipient-email" })
            </fieldset>
        }
        <fieldset>
            <legend class="sr-only">@T("admin.giftcards.fields.sendername")</legend>
            @Html.LabelFor(model => model.SenderName, new { @class = "col-form-label" }, ":")
                @Html.TextBoxFor(model => model.SenderName, new { @class = "form-control sender-name" })
        </fieldset>
        @if (Model.GiftCardType == Nop.Core.Domain.Catalog.GiftCardType.Virtual)
        {
            <fieldset>
                <legend class="sr-only">@T("admin.giftcards.fields.senderemail")</legend>
                @Html.LabelFor(model => model.SenderEmail, new { @class = "col-form-label" }, ":")
                    @Html.TextBoxFor(model => model.SenderEmail, new { @class = "form-control sender-email" })
            </fieldset>
        }
                <fieldset>
                    <legend class="sr-only">@T("privatemessages.send.message")</legend>
                    @Html.LabelFor(model => model.Message, new { @class = "col-form-label" }, ":")
                        @Html.TextAreaFor(model => model.Message, new { @class = "form-control message" })
                </fieldset>
    </div>
}