@model ProductDetailsModel
@using Nop.Web.Models.Catalog;
@using Nop.Core.Infrastructure;
@{
    Html.AddScriptParts("~/Scripts/jquery.magnific-popup.js");
		Html.AddScriptParts("~/Scripts/jquery.elevatezoom.js");

	Html.AddCssFileParts("~/Content/magnific-popup/magnific-popup.css");

    var settings = EngineContext.Current.Resolve<Nop4you.Plugin.Widgets.ThemeGarden.ThemeGardenSettings>();
}
<div class="gallery col-12 col-sm-12 col-md-6">
    <div class="row">
	<div class="slider-image">
            <div class="picture-main">
                <div class="img_con" style="width:100%; float:left;">
        <div class="picture mb-1">
            @if (Model.DefaultPictureZoomEnabled)
            {
                <a href="@Model.DefaultPictureModel.FullSizeImageUrl" data-toggle="tooltip" title="@Model.DefaultPictureModel.Title" id="main-product-img-lightbox-anchor-@Model.Id">
                    <img class="img-fluid img-responsive mms" alt="@Model.DefaultPictureModel.AlternateText" data-zoom-image="@Model.DefaultPictureModel.ImageUrl" data-toggle="tooltip" src="@Model.DefaultPictureModel.ImageUrl" title="@Model.DefaultPictureModel.Title" itemprop="image" id="main-product-img-@Model.Id" />
                </a>
                <script type="text/javascript">
                    $(document).ready(function () {
                        $('#main-product-img-lightbox-anchor-@Model.Id').magnificPopup(
                        {
                            type: 'image',
                            removalDelay: 300,
                            gallery: {
                                enabled: true,
                                tPrev: '@T("Media.MagnificPopup.Previous")',
                                tNext: '@T("Media.MagnificPopup.Next")',
                                tCounter: '@T("Media.MagnificPopup.Counter")'
                            },
                            tClose: '@T("Media.MagnificPopup.Close")',
                            tLoading: '@T("Media.MagnificPopup.Loading")'
                        });
						  
                    });
                </script>
            }
            else
            {
                @*<img class="img-fluid" alt="@Model.DefaultPictureModel.AlternateText" src="@Model.DefaultPictureModel.ImageUrl" title="@Model.DefaultPictureModel.Title" itemprop="image" id="main-product-img-@Model.Id" />*@
				
				 <img class="img-responsive mms" data-zoom-image="@Model.DefaultPictureModel.FullSizeImageUrl" alt="@Model.DefaultPictureModel.AlternateText" src="@Model.DefaultPictureModel.ImageUrl" title="@Model.DefaultPictureModel.Title" itemprop="image" id="main-product-img-@Model.Id" />

            }
        </div>
		</div>
		</div>
        @if (Model.PictureModels.Count > 1)
        {
            <div class="picture-thumbs">
                
                @foreach (var picture in Model.PictureModels)
                {
                    
                        var gallery = "";
                        if (settings.useGallery)
                        {
                            gallery = "href=" + @picture.FullSizeImageUrl;
                        }
                    
                    <a class="thumb-item" title="@picture.Title" @gallery>
                        <img src="@picture.ThumbImageUrl" alt="@picture.AlternateText" title="@picture.Title" data-defaultsize="@picture.ImageUrl" data-fullsize="@picture.FullSizeImageUrl" class="img-thumbnail" />
                    </a>
                }
            </div>
            if (!settings.useGallery)
            {
                <script type="text/javascript">
                    $(document).ready(function () {
                        $('.thumb-item img').on('click', function () {
                            $('#main-product-img-@Model.Id').attr('src', $(this).attr('data-defaultsize'));
                            $('#main-product-img-@Model.Id').attr('title', $(this).attr('title'));
                            $('#main-product-img-@Model.Id').attr('alt', $(this).attr('alt'));
                            $('#main-product-img-lightbox-anchor-@Model.Id').attr('href', $(this).attr('data-fullsize'));
                            $('#main-product-img-lightbox-anchor-@Model.Id').attr('title', $(this).attr('title'));
                        });
                    });
                </script>
            } else
            {
                <script type="text/javascript">
                    $(document).ready(function () {
                        $('.thumb-item').magnificPopup(
                        {
                            type: 'image',
                            removalDelay: 300,
                            gallery: {
                                enabled: true,
                                tPrev: '@T("Media.MagnificPopup.Previous")',
                                tNext: '@T("Media.MagnificPopup.Next")',
                                tCounter: '@T("Media.MagnificPopup.Counter")'
                            },
                            tClose: '@T("Media.MagnificPopup.Close")',
                            tLoading: '@T("Media.MagnificPopup.Loading")'
                        });
						$(".mms").elevateZoom({
							zoomType: "lens",
							lensShape: "rectangle",
							lensSize: 150,

						});


						function displayZoomLens() {
							$(".zoomContainer").css("display", "block");
							$(".zoomContainer").css("cursor", "zoom-out");
							$(".picture-main").addClass("new_picturemain");
							$(".picture-main").removeClass("picture-main");
						}

						function hideZoomLens() {
							$(".zoomContainer").css("cursor", "zoom-in");
							$(".zoomContainer").css("display", "none");
							$(".new_picturemain").addClass("picture-main");
							$(".new_picturemain").removeClass("new_picturemain");
						}
						
                    });
                </script>
				<script>
				 $(document).ready(function() {
       		

	
	$("#zoom_01").elevateZoom({
        gallery: 'image-additional',
        cursor: 'pointer',
        galleryActiveClass: 'active',
        imageCrossfade: true
    });
    $("#zoom_01").bind("click", function(e) {
        var ez = $('#zoom_01').data('elevateZoom');
        $.fancybox(ez.getGalleryList());
        return false;
    });
	


		
		 });
				</script>
            }

        }
    </div>
</div>
</div>
