﻿@model ProductDetailsModel
@using Nop.Web.Models.Catalog;
@if (Model.EmailAFriendEnabled)
{
        <button type="button" value="@T("Products.EmailAFriend")" class="btn btn-secondary email-a-friend-button" onclick="setLocation('@Url.RouteUrl("ProductEmailAFriend", new { productId = Model.Id })')">
            <i class="fa fa-envelope-o"></i>
            <span class="sr-only">@T("Products.EmailAFriend")</span>
        </button>
}
