﻿@*@model ProductDetailsModel
@using Nop.Web.Models.Catalog;
@if (Model.AskQuestionEnabled)
{
        <button type="button" value="@T("Products.AskQuestion")" class="btn btn-secondary ask-a-question-button" onclick="setLocation('@Url.RouteUrl("AskQuestion", new { productId = Model.Id })')">
            <i class="fa fa-question"></i>
            <span class="sr-only">@T("Products.AskQuestion")</span>
        </button>
}*@