﻿@model IList<ProductTagModel>
@using Nop.Web.Models.Catalog;
@if (Model.Count > 0)
{
    <div class="col-sm-12 product-tags-box">
        <div class="title">
            <strong>@T("Products.Tags")</strong>
        </div>
        <div class="product-tags-list">
                @for (int i = 0; i < Model.Count; i++)
                {
                        <a class="btn btn-secondary producttag" href="@Url.RouteUrl("ProductsByTag", new { productTagId = Model[i].Id, SeName = Model[i].SeName })">
                            @Model[i].Name <span>@T("Products.Tags.Count", Model[i].ProductCount)</span></a> 
                }
        </div>
    </div>
}