﻿@model ProductDetailsModel.ProductBreadcrumbModel
@using Nop.Core.Domain.Common;
@using Nop.Core.Infrastructure;
@using Nop.Web.Models.Catalog;
@{
    var breadcrumbDelimiter = EngineContext.Current.Resolve<CommonSettings>().BreadcrumbDelimiter;
}
@if (Model.Enabled)
{
    <div class="container">
        <div class="row">
        <ol class="breadcrumb">
            @Html.Widget("productbreadcrumb_before", Model.ProductId)
            <li class="breadcrumb-item">
                <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                    <a href="@Url.RouteUrl("HomePage")" itemprop="url">
                        <span itemprop="title">@T("Products.Breadcrumb.Top")</span>
                    </a>
                </span>
                @*<span class="delimiter">@breadcrumbDelimiter</span>*@
            </li>
            @foreach (var category in Model.CategoryBreadcrumb)
            {
                <li class="breadcrumb-item">
                    <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                        <a href="@Url.RouteUrl("Category", new { SeName = category.SeName })" itemprop="url">
                            <span itemprop="title">@category.Name</span>
                        </a>
                    </span>
                    @*<span class="delimiter">@breadcrumbDelimiter</span>*@
                </li>
            }
            <li class="breadcrumb-item active">
                <strong class="current-item">@Model.ProductName</strong>
                @Html.Widget("productbreadcrumb_after", Model.ProductId)
            </li>
        </ol>
            </div>
        </div>
}