﻿@model ProductAskQuestionModel
@using Nop.Web.Models.Catalog;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(Model.ProductName);
    Html.AddTitleParts(T("PageTitle.ProductAskQuestion").Text);
}
<div class="page ask-a-question-page">
        <h2 class="text-xs-center generalTitle">@T("Products.AskQuestion.Title")</h2>
            <h2 class="h4 text-xs-center"><a href="@Url.RouteUrl("Product", new { SeName = Model.ProductSeName })" class="product">@Model.ProductName</a></h2>
        @if (Model.SuccessfullySent)
        {
            <section class="result">
                @Model.Result
            </section>
        }
        else
        {
            using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                var validationSummary = Html.ValidationSummary(true);
                if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
                {
                    <div class="message-error">@validationSummary</div>
                }
                        <fieldset class="form-group">
                                @Html.LabelFor(model => model.Email, new { @class = " col-form-label" })
                                @Html.TextBoxFor(model => model.Email, new { @class = "form-control ask-question-email", placeholder = T("Products.AskQuestion.Email.Hint") })
                                @Html.ValidationMessageFor(model => model.Email)
                        </fieldset>
                        <fieldset class="form-group">
                                @Html.LabelFor(model => model.FullName, new { @class = "col-form-label" })
                                @Html.TextBoxFor(model => model.FullName, new { @class = "form-control ask-question-fullname", placeholder = T("Products.AskQuestion.FullName.Hint") })
                                @Html.ValidationMessageFor(model => model.FullName)
                        </fieldset>
                        <fieldset class="form-group">
                            @Html.LabelFor(model => model.Phone, new { @class = "ccol-form-label" })
                                @Html.TextBoxFor(model => model.Phone, new { @class = "form-control ask-question-phone", placeholder = T("Products.AskQuestion.Phone.Hint") })
                                @Html.ValidationMessageFor(model => model.Phone)
                        </fieldset>
                        <fieldset class="form-group">
                            @Html.LabelFor(model => model.Message, new { @class = "col-form-label" })
                                @Html.TextAreaFor(model => model.Message, new { @class = "form-control ask-question-message", placeholder = T("Products.AskQuestion.Message.Hint") })
                                @Html.ValidationMessageFor(model => model.Message)
                        </fieldset>

                        if (Model.DisplayCaptcha)
                        {
                            <div class="captcha-box">
                                @Html.Raw(Html.GenerateCaptcha())
                            </div>
                        }
                <div class="buttons generalMarginSupporter pt-1 pb-1">
                    <input type="submit" name="send-email" class="btn btn-success send-ask-question-button" value="@T("Products.AskQuestion.Button")" />
                    <span class="sr-only">@T("Products.AskQuestion.Button")</span>
                </div>
            }
        }
</div>
