﻿@model IList<ProductOverviewModel>
@using Nop.Web.Models.Catalog;
@if (Model.Count > 0)
{
    <div class="col-12 product-grid cross-sells pt-1 px-0">
        <div class="cross-sells-title">
            <h5 class="generalTitle text-center"><span>@T("ShoppingCart.CrossSells")</span></h5>
        </div>
        <div class="row flex-grid">
            @foreach (var product in Model)
            {
                <div class="col-lg-3 col-sm-6 col-12 mb-2">
                    @Html.Partial("_ProductBox", product)
                </div>
            }
        </div>
    </div>
}