﻿@model CustomerProductReviewsModel
@using Nop.Web.Models.Catalog
@using Nop.Web.Models.Customer;
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.CustomerProductReviews").Text);
    //page class
    Html.AppendPageCssClassParts("html-my-product-reviews-list-page");
}
@section left
{
    @Html.Action("CustomerNavigation", "Customer", new { selectedTabId = CustomerNavigationEnum.ProductReviews })
}

<div class="page account-page my-product-reviews-list-page">
        <h2 class="h4">@T("Account.MyAccount") - @T("Account.CustomerProductReviews")</h2>
    <div class="page-body">
        @if (Model.ProductReviews.Count > 0)
        {
            foreach (var review in Model.ProductReviews)
            {
                @GetReviewRow(review)
            }
            var pager = Html.Pager(Model.PagerModel);
            if (!MvcHtmlString.IsNullOrEmpty(pager))
            {
                <div class="pager navigation">
                    @pager
                </div>
            }
        }
        else
        {
            <div class="no-data">
                @T("Account.CustomerProductReviews.NoRecords")
            </div>
        }
    </div>
</div>

@helper GetReviewRow(CustomerProductReviewModel review)
{
    int ratingPercent = review.Rating * 20;
    <div class="product-review-item card pb-3">
        <div class="review-item-head card-header row mx-0">
            <div class="review-title col-12 col-md-6 px-0">
                <strong>@review.Title</strong>@(!string.IsNullOrEmpty(review.ApprovalStatus) ? string.Format(" - {0}", review.ApprovalStatus) : null)
            </div>
            <div class="product-review-box col-12 col-md-6">
                <div class="rating ml-auto mb-0 mt-1">
                    <div style="width: @(ratingPercent)%">
                    </div>
                </div>
            </div>
        </div>
        <div class="review-content card-block mb-3">
            <div class="review-text">
                @Html.Raw(Nop.Core.Html.HtmlHelper.FormatText(review.ReviewText, false, true, false, false, false, false))
            </div>
            @if (!String.IsNullOrEmpty(review.ReplyText))
            {
                <div class="reply text-right">
                    <div class="reply-header">
                        <small><em>@T("Reviews.Reply")</em></small>
                    </div>
                    <div class="reply-text">
                        <em>@Html.Raw(Nop.Core.Html.HtmlHelper.FormatText(review.ReplyText, false, true, false, false, false, false))</em>
                    </div>
                </div>
            }
        </div>
        <div class="review-info card-footer py-1">
            <span class="user">
                <label class="mb-0">@T("Account.CustomerProductReviews.ProductReviewFor"):</label>
                <a href="@Url.RouteUrl("Product", new {SeName = review.ProductSeName})">@review.ProductName</a>

            </span>
            <span class="separator">|</span>
            <span class="date">
                <label class="mb-0">@T("Reviews.Date"):</label>
                <span>@review.WrittenOnStr</span>
            </span>
        </div>
    </div>
}