@model IList<ProductOverviewModel>

@using Nop.Web.Models.Catalog;

@if (Model.Count > 0)
{
    <div class="container">
        <div class="home-page-product-grid generalMarginSupporter">
            <h5 class="generalTitle text-center"><span>@T("HomePage.Products")</span></h5>
			 <div class="featured-slider ">
			
                @foreach (var item in Model)
                {
				<section class=" slider ">
						<div class=" slide ">
                    <div class="featured-grids-col">
                        @Html.Partial("_ProductBox", item)
                    </div>
					 </div>
					 </section>
                }
           
			</div>
        </div>
    </div>

}   