﻿@model IList<ProductOverviewModel>

@using Nop.Web.Models.Catalog;
@if (Model.Count > 0)
{
    <div class="container">
            <div class="product-grid bestsellers">
                <h5 class="generalTitle text-center">
                <span>@T("Bestsellers")</span>
                </h5>
                <div class="row">
                    @foreach (var item in Model)
                    {
                        <div class="col--12 col-md-6 col-lg-3">
                            @Html.Partial("_ProductBox", item)
                        </div>
                    }
                </div>
            </div> 
    </div>
}