﻿@model ProductReviewsModel
@using Nop.Web.Models.Catalog;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(Model.ProductName);
    Html.AddTitleParts(T("PageTitle.ProductReviews").Text);
}
<div class="container">
    <div class="row">
        <div class="page product-reviews-page">
            <h2 class="text-center"><strong>@T("Reviews.ProductReviewsFor") <a href="@Url.RouteUrl("Product", new { SeName = Model.ProductSeName })">@Model.ProductName</a></strong></h2>
            @Html.Widget("productreviews_page_top", Model.ProductId)
            @if (Model.AddProductReview.SuccessfullyAdded)
            {
                <div class="result">
                    @Model.AddProductReview.Result
                </div>
            }
            else
            {
                <div class="write-review" id="review-form">
                    <h5 class="generalTitle"><strong>@T("Reviews.Write")</strong></h5>
                    @using (Html.BeginForm())
                {
                        @Html.AntiForgeryToken()
                        var validationSummary = Html.ValidationSummary(true);
                        if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
                        {
                            <div class="message-error">@validationSummary</div>
                        }
                        <fieldset>
                            <div class="form-fields">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.AddProductReview.Title, new { @class = "col-form-label" }, ":")
                                    @Html.TextBoxFor(model => model.AddProductReview.Title, Model.AddProductReview.CanCurrentCustomerLeaveReview ? (object)(new { @class = "form-control review-title" }) : (object)(new { @class = "form-control review-title", disabled = "disabled" }))
                                    @Html.ValidationMessageFor(model => model.AddProductReview.Title)
                                </div>
                                @Html.LabelFor(model => model.AddProductReview.ReviewText, new { @class = "col-form-label" }, ":")
                                @Html.TextAreaFor(model => model.AddProductReview.ReviewText, Model.AddProductReview.CanCurrentCustomerLeaveReview ? (object)(new { @class = "form-control review-text" }) : (object)(new { @class = "form-control review-text", disabled = "disabled" }))
                                @Html.ValidationMessageFor(model => model.AddProductReview.ReviewText)
                                <div class="form-group review-rating row d-flex justify-content-around">
                                    @Html.LabelFor(model => model.AddProductReview.Rating, new { @class = "col-12 col-form-label" }, ":")
                                    <span class="col col-form-label label first hidden-sm-down text-right">@T("Reviews.Fields.Rating.Bad")</span>
                                    <div class="col-12 col-sm-6 rating-options text-center">
                                        <label class="custom-control custom-radio">
                                            @Html.RadioButtonFor(model => model.AddProductReview.Rating, "1", new { @class = "custom-control-input", id = "addproductrating_1" })
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">1</span>
                                        </label>
                                        <label class="custom-control custom-radio">
                                            @Html.RadioButtonFor(model => model.AddProductReview.Rating, "2", new { @class = "custom-control-input", id = "addproductrating_2" })
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">2</span>
                                        </label>
                                        <label class="custom-control custom-radio">
                                            @Html.RadioButtonFor(model => model.AddProductReview.Rating, "3", new { @class = "custom-control-input", id = "addproductrating_3" })
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">3</span>
                                        </label>
                                        <label class="custom-control custom-radio">
                                            @Html.RadioButtonFor(model => model.AddProductReview.Rating, "4", new { @class = "custom-control-input", id = "addproductrating_4" })
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">4</span>
                                        </label>
                                        <label class="custom-control custom-radio">
                                            @Html.RadioButtonFor(model => model.AddProductReview.Rating, "5", new { @class = "custom-control-input", id = "addproductrating_5" })
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">5</span>
                                        </label>
                                    </div>
                                    <span class="label col col-form-label hidden-sm-down text-left">@T("Reviews.Fields.Rating.Excellent")</span>

                                </div>
                                @if (Model.AddProductReview.DisplayCaptcha)
                                {
                                    <div class="captcha-box">
                                        @Html.Raw(Html.GenerateCaptcha())
                                    </div>
                                }
                            </div>
                        </fieldset>
                        <div class="buttons text-left my-3">
                            <input type="submit" name="add-review" class="btn btn-success write-product-review-button" value="@T("Reviews.SubmitButton")" />
                        </div>
                    }
                </div>
            }
            @if (Model.Items.Count > 0)
            {
                <div class="product-review-list">
                    <h5><strong>@T("Reviews.ExistingReviews")</strong></h5>
                    @foreach (var review in Model.Items)
                    {
                        int ratingPercent = review.Rating * 20;

                        <div class="card comment product-review-item pb-3">
                            <div class="card-header review-item-head">
                                <div class="rating float-right">
                                    <div style="width: @(ratingPercent)%">
                                    </div>
                                </div>
                                <div class="review-info">
                                    <span class="user">
                                        <span>@T("Reviews.From"):</span>
                                        @if (review.AllowViewingProfiles)
                                        {
                                            <a href="@Url.RouteUrl("CustomerProfile", new { id = review.CustomerId })">@(review.CustomerName)</a>
                                        }
                                        else
                                        {
                                            @review.CustomerName
                                        }
                                    </span>
                                    <span class="separator">|</span>
                                    <span class="date">
                                        <span>@T("Reviews.Date"):</span>
                                        <span>@review.WrittenOnStr</span>
                                    </span>
                                </div>
                            </div>
                            <div class="card-block mb-3">
                                <div class="review-title">
                                    <strong>@review.Title</strong>
                                </div>
                                <div class="review-content">
                                    <div class="review-text">
                                        @Html.Raw(Nop.Core.Html.HtmlHelper.FormatText(review.ReviewText, false, true, false, false, false, false))
                                    </div>
                                    @if (!String.IsNullOrEmpty(review.ReplyText))
                                    {
                                        <div class="reply text-right">
                                            <div class="reply-header">
                                                <small><em>@T("Reviews.Reply")</em></small>
                                            </div>
                                            <div class="reply-text">
                                                <em>@Html.Raw(Nop.Core.Html.HtmlHelper.FormatText(review.ReplyText, false, true, false, false, false, false))</em>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="card-footer text-center">
                                @Html.Widget("productreviews_page_inside_review", review.Id)
                                @Html.Partial("_ProductReviewHelpfulness", review.Helpfulness, new ViewDataDictionary())
                            </div>
                        </div>
                    }
                </div>
            }
            @Html.Widget("productreviews_page_bottom", Model.ProductId)
        </div>
    </div>
</div>
