﻿@model IList<ProductOverviewModel>

@using Nop.Web.Models.Catalog;
@if (Model.Count > 0)
{
    <div class="col-12 also-purchased-products-grid generalFlexBox px-0 mt-3">
        <div class="also-purchased-title text-center">
            <h2 class="h4"><strong>@T("Products.AlsoPurchased")</strong></h2>
        </div>
        <div class="flex-row d-flex row">
            @foreach (var item in Model)
                {
                <div class="col-lg-3 col-sm-6 col-12">
                    @Html.Partial("_ProductBox", item)
                </div>
            }
        </div>
    </div>
}
