@model ProductDetailsModel
@using Nop.Core
@using Nop.Core.Domain.Seo;
@using Nop.Core.Infrastructure;
@using Nop.Services.Localization;
@using Nop.Web.Models.Catalog;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title, meta
    Html.AddTitleParts(!String.IsNullOrEmpty(Model.MetaTitle) ? Model.MetaTitle : Model.Name);
    Html.AddMetaDescriptionParts(Model.MetaDescription);
    Html.AddMetaKeywordParts(Model.MetaKeywords);

    var seoSettings = EngineContext.Current.Resolve<SeoSettings>();

    //canonical URL
    if (seoSettings.CanonicalUrlsEnabled)
    {
        var productUrl = Url.RouteUrl("Product", new { SeName = Model.SeName }, this.Request.Url.Scheme);
        Html.AddCanonicalUrlParts(productUrl);
    }

    //open graph META tags
    if (seoSettings.OpenGraphMetaTags)
    {
        Html.AddHeadCustomParts("<meta property=\"og:type\" content=\"product\" />");
        Html.AddHeadCustomParts("<meta property=\"og:title\" content=\"" + Html.Encode(Model.Name) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"og:description\" content=\"" + Html.Encode(Model.MetaDescription) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"og:image\" content=\"" + Model.DefaultPictureModel.ImageUrl + "\" />");
        Html.AddHeadCustomParts("<meta property=\"og:url\" content=\"" + Request.Url.AbsoluteUri + "\" />");
        Html.AddHeadCustomParts("<meta property=\"og:site_name\" content=\"" + Html.Encode(Model.CurrentStoreName) + "\" />");
    }

    //Twitter META tags
    if (seoSettings.TwitterMetaTags)
    {
        Html.AddHeadCustomParts("<meta property=\"twitter:card\" content=\"summary\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:site\" content=\"" + Html.Encode(Model.CurrentStoreName) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:title\" content=\"" + Html.Encode(Model.Name) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:description\" content=\"" + Html.Encode(Model.MetaDescription) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:image\" content=\"" + Model.DefaultPictureModel.ImageUrl + "\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:url\" content=\"" + Request.Url.AbsoluteUri + "\" />");
    }
}
<div class="container">
<!--product breadcrumb-->
@section Breadcrumb
{
    @Html.Partial("_ProductBreadcrumb", Model.Breadcrumb)
}

@Html.Widget("productdetails_after_breadcrumb", Model.Id)
<div class="page product-details-page">
        @Html.Widget("productdetails_top", Model.Id)
        @using (Html.BeginRouteForm("Product", new { SeName = Model.SeName }, FormMethod.Post, new { id = "product-details-form" }))
        {
            <div  itemscope itemtype="http://schema.org/Product" data-productid="@Model.Id">
                <div class="col d-md-inline-flex d-md-flex px-0">
                    @Html.Widget("productdetails_before_pictures", Model.Id)
                    <!--product pictures-->
                    @Html.Partial("_ProductDetailsPictures", Model)
                    @Html.Widget("productdetails_after_pictures", Model.Id)
                    <div class="overview col-12 col-md-6">
                        @Html.Partial("_Discontinued", Model)
                        <h2 class="generalTitle h4 product-title" itemprop="name">
                            @Model.Name
                        </h2>
                        <div class="col-lg-12 px-0">
                            @{
                                var dataDictPrice = new ViewDataDictionary();
                                dataDictPrice.TemplateInfo.HtmlFieldPrefix = string.Format("price_{0}", Model.Id);

                                @Html.Partial("_ProductTierPrices", Model.TierPrices)

                                var dataDictAddToCart = new ViewDataDictionary();
                                dataDictAddToCart.TemplateInfo.HtmlFieldPrefix = string.Format("addtocart_{0}", Model.Id);
                            }
                        </div>
                      <div class="col  d-md-flex px-0 product-detail-bg">
                      
						 <div class="col-lg-6">
						  @Html.Partial("_ProductPrice", Model.ProductPrice, dataDictPrice)
						 </div>
						<div class="col-lg-6">
						@Html.Partial("_ProductManufacturers", Model.ProductManufacturers)  

						</div>
						</div>
						<div class="col d-md-flex px-0 product-detail-bg cart-col">
						  <div class="col-lg-6">
                           
							@Html.Partial("_AddToCart", Model.AddToCart, dataDictAddToCart)
                        @Html.Widget("productdetails_inside_overview_buttons_before", Model.Id)
                        </div>
						<div class="col-lg-6">


                                    @{
                                        var dataDictAddToWishlist = new ViewDataDictionary();
                                        dataDictAddToWishlist.TemplateInfo.HtmlFieldPrefix = string.Format("addtocart_{0}", Model.Id);
                                    }
									
                                    <div class="d-md-inline-flex d-sm-flex product-simple-share my-2 ml-1 product-share-list">
                                        @Html.Partial("_AddToWishlist", Model.AddToCart, dataDictAddToWishlist)
                                        @Html.Partial("_CompareProductsButton", Model) 
                                        @Html.Partial("_ProductEmailAFriendButton", Model)
                                    </div>
									
                        </div>
						</div>
                             
                       
                        <!--availability-->
                        @Html.Partial("_Availability", Model)
                        <!--SKU, MAN, GTIN, vendor-->
                        @Html.Partial("_SKU_Man_GTIN_Ven", Model)
                            @if (!String.IsNullOrEmpty(Model.ShortDescription))
                            {
                                <div class="short-description generalMarginSupporter">
                                    @Html.Raw(Model.ShortDescription)
                                </div>
                            }
                        

                        <!-- <div class="col-12 overview-buttons generalMarginSupporter">
                            <div class="row">
                                <div class="col-lg-12 generalAdToCart px-0 my-3">


                                    
                                    <div class="d-md-inline-flex d-sm-flex product-simple-share my-2 ml-1">
                                        
                                       @Html.Partial("_CompareProductsButton", Model)
                                        <!--@Html.Partial("_ProductEmailAFriendButton", Model)
                                    </div>
                                </div>
                            </div>
                        </div>-->

                            @Html.Widget("productdetails_overview_top", Model.Id)
                            <!--product reviews-->
                            @Html.Partial("_ProductReviewOverview", Model.ProductReviewOverview)
                            <!--manufacturersFGFGNFGNGH-->
                            <!--@Html.Partial("_ProductManufacturers", Model.ProductManufacturers)-->
                            <!--delivery-->
                            @Html.Partial("_DeliveryInfo", Model)
                            <!--sample download-->
                            @Html.Partial("_DownloadSample", Model)
                            <!--attributes-->
                            @{
                                var dataDictAttributes = new ViewDataDictionary();
                                dataDictAttributes.TemplateInfo.HtmlFieldPrefix = string.Format("attributes_{0}", Model.Id);
                                @Html.Partial("_ProductAttributes", Model.ProductAttributes, dataDictAttributes)
                            }
                            <!--gift card-->
                            @{
                                var dataDictGiftCard = new ViewDataDictionary();
                                dataDictGiftCard.TemplateInfo.HtmlFieldPrefix = string.Format("giftcard_{0}", Model.Id);
                                @Html.Partial("_GiftCardInfo", Model.GiftCard, dataDictGiftCard)
                            }
                            <!--rental info-->

                            @{

                                var dataDictRental = new ViewDataDictionary();
                                dataDictRental.TemplateInfo.HtmlFieldPrefix = string.Format("rental_{0}", Model.Id);
                                @Html.Partial("_RentalInfo", Model, dataDictRental)
                            }
                            <!--price & add to cart-->
                            
                            @Html.Widget("productdetails_inside_overview_buttons_after", Model.Id)
                            <div class="col-12 product-share px-0">
                                @Html.Partial("_ShareButton", Model)
                            </div>
                            @Html.Widget("productdetails_overview_bottom", Model.Id)
                       
                        </div>
                </div>    
				<div class="container">
<div class="col d-md-flex px-">
<div class="row">
                <div class="col-8 mt-4 mb-2 px-0">
                    <div class="flex-row">
                        <ul class="nav nav-tabs" role="tablist">
                            @if (!String.IsNullOrEmpty(Model.FullDescription))
                            {
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#desctipt">
                                    <i class="fa fa-sticky-note-o hidden-lg-up"></i>
                                        <span class="hidden-md-down">Products Description</span>
                                    </a>
                                </li>
                            }
                            @if (Model.ProductTags.Any())
                            {
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#tags">
                                        <i class="fa fa-tags hidden-lg-up"></i>
                                        <span class="hidden-md-down">@T("Products.Tags")</span>
                                    </a>
                                </li>
                            }
                            @if (Model.ProductSpecifications.Any())
                            {
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#spec">
                                        <span class="hidden-md-down">@T("Products.Specs")</span>
                                        <i class="fa fa-puzzle-piece hidden-lg-up"></i>
                                    </a>
                                </li>
                            }

                            @*<li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#reviw">
                                    <span class="hidden-md-down">Reviews</span>
                                    <i class="fa fa-comments hidden-lg-up"></i>
                                </a>
                            </li>*@
                            @*<li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#Faqn">
                                    <span class="hidden-md-down">Q&amp;As</span>
                                    <i class="fa fa-question hidden-lg-up"></i>
                                </a>
                            </li>*@

                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="desctipt">

                                @if (!String.IsNullOrEmpty(Model.FullDescription))
                                {
                                    <div class="full-description generalMarginSupporter" itemprop="description">
                                        @Html.Raw(Model.FullDescription)
                                    </div>
                                }
                            </div>
                            <div class="tab-pane " id="tags">
                                @Html.Partial("_ProductTags", Model.ProductTags)

                            </div>
                            <div class="tab-pane " id="spec">
                                @Html.Partial("_ProductSpecifications", Model.ProductSpecifications)
                            </div>

                            <div class="tab-pane" id="reviw">
                               This is for testing
                            </div>
                            <div class="tab-pane" id="Faqn">
                                This is for faq testing
                            </div>
                        </div>
                    </div>
                </div>
				<div class="col-4 right-product-detail-bar col-sm12 col-xs-12 mb-2">
					<div class="product-detail-right-bar">
						<a href="https://sunnyelectricals.com/delivery-collection">
							<img src="/Themes/Garden/Content/images/9fa66d16-7f11-4c6b-ae52-5af7ae97f75d.png" alt="freedelivery imag" class="img-fluid">
						</a>
						<br>
						<a href="#">
							<img src="/Themes/Garden/Content/images/9368da9d-6f7a-472a-ac3c-6d91034713c9.png" alt="freedelivery imag" class="img-fluid">
						</a>
						
					</div>
				</div>
</div>
</div>
</div>
                <!--wishlist, compare, email a friend-->
                                    @Html.Widget("productdetails_before_collateral", Model.Id)

                                    @Html.Action("ProductsAlsoPurchased", "Product", new { productId = Model.Id })

                                    @Html.Action("RelatedProducts", "Product", new { productId = Model.Id })
                                </div>
								
                                    }
									



        @Html.Widget("productdetails_bottom", Model.Id)

</div>
</div>
