﻿@model IList<ProductOverviewModel>
@using Nop.Web.Models.Catalog;
@if (Model.Count > 0)
{
    <div id="block-recently-viewed-products" class="block block-recently-viewed-products">
            <h2 class="h5 hidden-md-down generalTitle"><strong>@T("Products.RecentlyViewedProducts")</strong></h2>
            <h2 class="h5 bg-faded p-3 hidden-lg-up"><strong>@T("Products.RecentlyViewedProducts")</strong><i id="computers" class="fa fa-angle-down fa-1x float-xs-right" aria-hidden="true"></i></h2>
            <ul class="list viewBox pl-0">
                @for (int i = 0; i < Model.Count; i++)
                {
                    var product = Model[i];
                    <li @(i == Model.Count - 1 ? @Html.Raw(" class=\"last\"") : @Html.Raw(" class=\"mb-1\""))>
                        <div class="d-flex flex-row">
                                @if (!String.IsNullOrEmpty(product.DefaultPictureModel.ImageUrl))
                                {
                                    <div class="hidden-md-down">
                                            <a class="product-picture" href="@Url.RouteUrl("Product", new { SeName = product.SeName })" title="@product.DefaultPictureModel.Title">
                                                <img alt="@product.DefaultPictureModel.AlternateText" src="@product.DefaultPictureModel.ImageUrl" title="@product.DefaultPictureModel.Title" />
                                            </a>
                                    </div>
                                }
                                      <a class="product-name pl-2" href="@Url.RouteUrl("Product", new { SeName = product.SeName })">@product.Name</a>
                                </div>
                        </li>
                }
            </ul>
    </div>
}