﻿@model IList<ProductOverviewModel>

@using Nop.Web.Models.Catalog;

@if (Model.Count > 0)
{
    <div class="product-grid recommended-product-grid pt-2">
        <h2 class="generalTitle text-sm-center">
            @T("HomePage.Recommended.Products")
        </h2>
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-lg-4 col-md-6 col--12">
                        @Html.Partial("_ProductBox", item)
                    </div>
                }
            </div>
    </div>
}