﻿@model IList<ProductOverviewModel>

@using Nop.Web.Models.Catalog;
@if (Model.Count > 0)
{
    <div class="col-12 related-products-grid product-grid px-0 mt-4">
        <div class="related-products-title">
            <h2 class="h4"><strong>@T("Products.RelatedProducts")</strong></h2>
        </div>
        <div class="flex-row d-flex row">
                @foreach (var item in Model)
                {
                    <div class="col-lg-3 col-sm-6 col-12">
                        @Html.Partial("_ProductBox", item)
                    </div>
                }
         </div>
    </div>
}
