﻿@model CustomerReturnRequestsModel
@using Nop.Web.Models.Customer
@using Nop.Web.Models.Order
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);
}
@section left
{
    @Html.Action("CustomerNavigation", "Customer", new { selectedTabId = CustomerNavigationEnum.ReturnRequests })
}
<div class="page account-page return-request-list-page">
    <h1 class="h2 generalTitle">@T("Account.CustomerReturnRequests")</h1>
        <div class="row flex-grid">
            @foreach (var item in Model.Items)
            {
                <div class="col--12 col-md-6 col-lg-6">
                    <div class="card">
                        <h5 class="card-header">
                            <strong>@string.Format(T("Account.CustomerReturnRequests.Title").Text, item.CustomNumber, item.ReturnRequestStatus)</strong>
                        </h5>
                        <div class="card-block">
                            <ul class="details pl-0">
                                <li class="product">
                                    <label>@T("Account.CustomerReturnRequests.Item")</label>
                                    <a href="@Url.RouteUrl("Product", new { SeName = item.ProductSeName })">@item.ProductName</a>
                                    <span>x @item.Quantity</span>
                                </li>
                                <li class="reason">
                                    <label>@T("Account.CustomerReturnRequests.Reason")</label>
                                    <span>@item.ReturnReason</span>
                                </li>
                                <li class="action">
                                    <label>@T("Account.CustomerReturnRequests.Action")</label>
                                    <span>@item.ReturnAction</span>
                                </li>
                                @if (item.UploadedFileGuid != Guid.Empty)
                                {
                                    <li class="uploaded-file">
                                        <label>@T("Account.CustomerReturnRequests.UploadedFile")</label>
                                        <span>
                                            <a href="@Url.Action("GetFileUpload", "Download", new {downloadId = item.UploadedFileGuid.ToString()})">
                                                @T("Account.CustomerReturnRequests.UploadedFile.Download")
                                            </a>
                                        </span>
                                    </li>
                                }
                                @if (!String.IsNullOrEmpty(item.Comments))
                                {
                                    <li class="comments">
                                        <label>@T("Account.CustomerReturnRequests.Comments")</label>
                                        <div>@Html.Raw(Nop.Core.Html.HtmlHelper.FormatText(item.Comments, false, true, false, false, false, false))</div>
                                    </li>
                                }
                            </ul>
                        </div>
                        <div class="card-footer">
                            <div class="date">
                                <label>@T("Account.CustomerReturnRequests.Date")</label>
                                <span>@item.CreatedOn.ToString()</span>
                            </div>
                        </div>
                    </div>

                </div>

            }
    </div>
</div>
