﻿@model ForumBreadcrumbModel
@using Nop.Core.Domain.Common;
@using Nop.Core.Infrastructure;
@using Nop.Web.Models.Boards;
@{
    var breadcrumbDelimiter = EngineContext.Current.Resolve<CommonSettings>().BreadcrumbDelimiter;
}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="@Url.RouteUrl("HomePage")" title="@T("Forum.Breadcrumb.HomeTitle")">@T("Forum.Home")</a>
        </li>
        <li class="breadcrumb-item">
            @Html.RouteLink(T("Forum.Forums").Text, "Boards", null, new { title = T("Forum.Breadcrumb.ForumHomeTitle") })
        </li>
        @if (Model.ForumGroupId != 0)
        {
            <li class="breadcrumb-item">
                @Html.RouteLink(Model.ForumGroupName, "ForumGroupSlug",
                new { id = Model.ForumGroupId, slug = Model.ForumGroupSeName },
                new { title = String.Format("{0}: {1} ", T("Forum.Breadcrumb.ForumGroupTitle"), Model.ForumGroupName) })
            </li>        
        }
        @if (Model.ForumId != 0)
        {
            <li class="breadcrumb-item">
                @Html.RouteLink(Model.ForumName, "ForumSlug",
                new { id = Model.ForumId, slug = Model.ForumSeName },
                new { title = String.Format("{0}: {1} ", T("Forum.Breadcrumb.ForumTitle"), Model.ForumName) })
            </li>
        }
        @if (Model.ForumTopicId != 0)
        {
            <li class="breadcrumb-item active">
                <strong>@Model.ForumTopicSubject</strong>
            </li>
        }
    </ol>
