﻿@model BoardsIndexModel
@using Nop.Web.Models.Boards;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    Html.AddTitleParts(T("Forum.PageTitle.Default").Text);
}
<div class="container">
    <div class="row">
        <div class="page forums-main-page">
            @Html.Action("TopicBlock", "Topic", new { systemName = "ForumWelcomeMessage" })
            @Html.Partial("_ForumHeader")
            @foreach (var forumGroup in Model.ForumGroups)
            {
                Html.RenderPartial("_ForumGroup", forumGroup);
            }
            @Html.Action("ActiveDiscussionsSmall")
        </div>
    </div>
</div>
