﻿@model LastPostModel
@using Nop.Web.Models.Boards;
@if (Model.Id != 0)
{
    <div class="date">
        @Model.PostCreatedOnStr
    </div>
    if (Model.ShowTopic)
    {
        <div class="origin">
            <span>@T("Forum.In"):</span>
            @Html.RouteLink(Model.ForumTopicSubject, "TopicSlug", new { id = Model.ForumTopicId, slug = Model.ForumTopicSeName })
        </div>
    }
    <div class="author">
        <span>@T("Forum.By"):</span>
        @if (Model.AllowViewingProfiles)
        {
            @Html.RouteLink(Model.CustomerName, "CustomerProfile", new { Id = Model.CustomerId })
        }
        else
        {
            <span>@Model.CustomerName</span>
        }
    </div>
}
else
{
    <div class="no-post">
        @T("Forum.NoPosts")
    </div>
}
