﻿@{
    Layout = "~/Views/Shared/_Root.cshtml";
}
@{
    //current category ID
    int currentCategoryId = 0;
    if (Url.RequestContext.RouteData.Values["controller"].ToString().Equals("catalog", StringComparison.InvariantCultureIgnoreCase) &&
        Url.RequestContext.RouteData.Values["action"].ToString().Equals("category", StringComparison.InvariantCultureIgnoreCase))
    {
        currentCategoryId = Convert.ToInt32(Url.RequestContext.RouteData.Values["categoryId"].ToString());
    }


    //current manufacturer ID
    int currentManufacturerId = 0;
    if (Url.RequestContext.RouteData.Values["controller"].ToString().Equals("catalog", StringComparison.InvariantCultureIgnoreCase) &&
        Url.RequestContext.RouteData.Values["action"].ToString().Equals("manufacturer", StringComparison.InvariantCultureIgnoreCase))
    {
        currentManufacturerId = Convert.ToInt32(Url.RequestContext.RouteData.Values["manufacturerId"].ToString());
    }


    //current product ID
    int currentProductId = 0;
    if (Url.RequestContext.RouteData.Values["controller"].ToString().Equals("product", StringComparison.InvariantCultureIgnoreCase) &&
        Url.RequestContext.RouteData.Values["action"].ToString().Equals("productdetails", StringComparison.InvariantCultureIgnoreCase))
    {
        currentProductId = Convert.ToInt32(Url.RequestContext.RouteData.Values["productId"].ToString());
    }
}
<div class="container">
@if (IsSectionDefined("Breadcrumb"))
{
    @section Breadcrumb {
        @RenderSection("Breadcrumb")
    }
}

    <div class="col-xs-12 col-md-12 cat_images pr-0 pl-0"><img src="~/Themes/Garden/Content/images/category_image.jpg" alt="category header image" class="img-fluid" /></div>
    <div class="ui-helper-clearfix"> </div>

<div class="d-lg-flex d-grid flex-md-row mx-0">
    
    <div class="col-lg-3 col-md-12 generalLeftSide mt-3 pl-2 pr-2 pb-2 pt-0 mr-2" style="padding-left:0px !important">
        @*<div class="shop-by mb-3">
            <strong>@T("nop4you.theme.gardentheme.shopby")</strong>
        </div>*@

        @*<div class="blog-text mb-3">
            <strong>@T("nop4you.theme.gardentheme.blogtext")</strong>
        </div>

        <div class="my-account-text mb-3">
            <strong>@T("nop4you.theme.gardentheme.myaccounttext")</strong>
        </div>*@
        
        <div class="sideleft">
        @if (IsSectionDefined("left"))
        {
            @RenderSection("left")
        }
        else
        {
            if (IsSectionDefined("filters"))
            {
                @RenderSection("filters")
            }

            @Html.Widget("left_side_column_before")
            @Html.Action("CategoryNavigation", "Catalog", new { currentCategoryId = currentCategoryId, currentProductId = currentProductId })
            @Html.Widget("left_side_column_after_category_navigation")
            @Html.Action("ManufacturerNavigation", "Catalog", new { currentManufacturerId = currentManufacturerId })
            @Html.Action("VendorNavigation", "Catalog")
            @Html.Action("RecentlyViewedProductsBlock", "Product", new { productThumbPictureSize = 64 })
            @Html.Action("PopularProductTags", "Catalog")
            @Html.Action("PollBlock", "Poll", new { systemKeyword = "LeftColumnPoll" })
            @Html.Widget("left_side_column_after")
        }
            <div class="clearfix"></div>
<div class="col-xs-12 col-md-12 pr-0 pl-0 lft_banner">
    <a href="/Special-Offer/">
        <img src="~/Themes/Garden/Content/images/sale.png" alt="accessories imag" class="img-fluid" />
    </a>
</div>
            <div class="col-xs-12 col-md-12 pr-0 pl-0 lft_logo">
                <a href="/triton-electric-showers">
                    <img src="~/Themes/Garden/Content/images/logo_leftside.jpg" alt="accessories imag" class="img-fluid" />
                </a>
            </div>
            </div>
    </div>
    <div class="col-lg-9 col-md-12 mt-3 generalSideRight pl-0">
        @Html.Widget("main_column_before")
        @RenderBody()
        @Html.Widget("main_column_after")
    </div>
</div>
</div>
<script>
    var $pageSelected = $('.page');

    if ($pageSelected.hasClass('account-page')) {
        $(".shop-by").css("display", "none");
        $(".my-account-text").css("display", "block");
    }
    if ($pageSelected.hasClass('blog-page')) {
        $(".shop-by").css("display", "none");
        $(".my-account-text").css("display", "none");
        $(".blog-text").css("display", "block");
    }
    if ($pageSelected.hasClass('blogpost-page')) {
        $(".shop-by").css("display", "none");
        $(".my-account-text").css("display", "none");
        $(".blog-text").css("display", "block");
    }
</script>