﻿@using Nop.Core.Domain;
@using Nop.Core.Domain.Common;
@using Nop.Core.Domain.Seo
@using Nop.Core.Infrastructure;
@using Nop.Services.Security;
@{  var storeSettings = EngineContext.Current.Resolve<StoreInformationSettings>();
    var permissionService = EngineContext.Current.Resolve<IPermissionService>();
    var displayMiniProfiler = storeSettings.DisplayMiniProfilerInPublicStore
        && (!storeSettings.DisplayMiniProfilerForAdminOnly || permissionService.Authorize(StandardPermissionProvider.AccessAdminPanel));

    var commonSettings = EngineContext.Current.Resolve<CommonSettings>();
    if (commonSettings.RenderXuaCompatible)
    {Html.AppendHeadCustomParts(string.Format("<meta http-equiv=\"X-UA-Compatible\" content=\"{0}\"/>", commonSettings.XuaCompatibleValue));}
}
<!DOCTYPE html>
<html @Html.Partial("LanguageAttributes")>
<head>
    <title>@Html.NopTitle(true)</title>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
    <meta name="description" content="@(Html.NopMetaDescription())" />
    <meta name="keywords" content="@(Html.NopMetaKeywords())" />
    <meta name="generator" content="grandnode" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    @Html.NopHeadCustom()
    @Html.Partial("Head")
    @Html.Widget("head_html_tag")
    @Html.NopCssFiles(this.Url, ResourceLocation.Head)
    @Html.NopScripts(this.Url, ResourceLocation.Head)
    @Html.NopCanonicalUrls()
    @Html.Action("RssHeaderLink", "News")
    @Html.Action("RssHeaderLink", "Blog")
    @Html.Action("Favicon", "Common")
    @if (displayMiniProfiler)
    {@StackExchange.Profiling.MiniProfiler.RenderIncludes()}
</head>
<body>
    @RenderBody()
    @Html.NopCssFiles(this.Url, ResourceLocation.Foot)
    @Html.NopScripts(this.Url, ResourceLocation.Foot)
    <script type="text/javascript">
    $(document).ready(function () {
        $('.block').on('click', function () {
            var windowWidth = $(window).width();
            if (windowWidth <= 992) {
                var elemId = this.id;
                $("#" + elemId).toggleClass("active");
                $("#" + elemId).siblings(".block").removeClass("active");
                $("#" + elemId).find(".viewBox").slideToggle();
                $("#" + elemId).siblings(".block").find(".viewBox").slideUp();
            };
        });
    });
    </script>
    <script>
    $(".block").click(function () {
        var getId = this.id;
        console.log(getId);
        $("#" + getId).find(".fa").toggleClass("rotate");
        $("#" + getId).siblings(".block").find(".fa").removeClass("rotate");
    });
    </script>
    <script type="text/javascript">
    $(document).ready(function () {
        if ($('#back-to-top').length) {
            var scrollTrigger = 100, // px
                backToTop = function () {
                    var scrollTop = $(window).scrollTop();
                    if (scrollTop > scrollTrigger) {
                        $('#back-to-top').addClass('show');
                    } else {
                        $('#back-to-top').removeClass('show');
                    }
                };
            backToTop();
            $(window).on('scroll', function () {
                backToTop();
            });
            $('#back-to-top').on('click', function (e) {
                e.preventDefault();
                $('html,body').animate({
                    scrollTop: 0
                }, 1000);
            });
        }

        $('#btnWorldPay').click(function () {
            debugger;
            var txt;
            var amount = $("#amountworldpay").val();
            var r = confirm("Agree with WorldPay Payment");
            if (r == true) {
                var href="https://secure-test.worldpay.com/wcc/purchase?instId=80569&cartId=12313&amount="+amount;
                href += "&name=shivani&email=shivani.arya@fivesol.com&currency=GBP&desc=Electrical+Item(s)+with+C-Sharp&testMode=100";
                    location.href = href;
            } else {
                txt = " ";
            }
        })

        $('#btnpaypal').click(function () {
            debugger;
            var txt;
            var url = $("#paypalurl").val();
            var r = confirm("Agree with Paypal Payment");
            if (r == true) {
                var href = url;

                location.href = href;
            } else {
                txt = " ";
            }
        })

    });
    </script>
    <script>
    $(".opc li.active").prev("li").removeClass("dontGo");
    $(".opc li.active").nextAll("li").addClass("dontGo");
    </script>
    <script>
    (function ($) {
        var $window = $(window),
            $objscale = $('#footer-block-info');

        $window.resize(function resize() {
            if ($window.width() < 991) {
                $objscale.removeClass('flex-column');
                return $objscale.addClass('justify-content-center');
            }
            $objscale.removeClass('justify-content-center');
            $objscale.addClass('flex-column');
        }).trigger('resize');
        $window.resize(function resize() {
            if ($window.width() < 575) {
                $objscale.removeClass('justify-content-center');
                return $objscale.addClass('flex-column');

            }
        }).trigger('resize');
    })(jQuery);
    </script>

    <script>
                //mobile
                jQuery('.btn-navbar').click(function () {

                    var chk = 0;
                    if (jQuery('#navbar-inner').hasClass('navbar-inactive') && (chk == 0)) {
                        jQuery('#navbar-inner').removeClass('navbar-inactive');
                        jQuery('#navbar-inner').addClass('navbar-active');
                        jQuery('#mobilemenu').css('display', 'block');
                        chk = 1;
                    }
                    if (jQuery('#navbar-inner').hasClass('navbar-active') && (chk == 0)) {
                        jQuery('#navbar-inner').removeClass('navbar-active');
                        jQuery('#navbar-inner').addClass('navbar-inactive');
                        jQuery('#mobilemenu').css('display', 'none');
                        chk = 1;
                    }
                });

    </script>
    <script>
            if ($(window).width() < 991) {
                $(".search-cart-box").removeClass("justify-content-start");
                $(".search-cart-box").addClass("justify-content-center");
            }
            else {
                $(".search-cart-box").removeClass("justify-content-center");
                $(".search-cart-box").addClass("justify-content-start");
            }
            window.addEventListener("orientationchange", function () {
                if ($(window).width() < 991) {
                    $(".search-cart-box").removeClass("justify-content-start");
                    $(".search-cart-box").addClass("justify-content-center");
                }
                else {
                    $(".search-cart-box").removeClass("justify-content-center");
                    $(".search-cart-box").addClass("justify-content-start");
                }
            });
    </script>

    <script>
    $(window).on('scroll', function () {
        if ($(this).scrollTop() > 50) {
            $(".mobile-nav-icon").addClass("scroll-up");
        }
        else {
            $(".mobile-nav-icon").removeClass("scroll-up");
        }
    });

    $('#_iframe_holder').load(function () {
        var css = '<style type="text/css">#_el_maestro_card{display:none !important;};</style>';
        $('#_iframe_holder').contents().find("head").append(css);
    });
    jQuery(function ($) {
        $('#_iframe_holder').load(function () {
            $('#_iframe_holder').contents().find("head").append($("<link/>", {
                rel: "stylesheet",
                href: "${ctx}/css/exp.css",
                type: "text/css"
            }));
        });
    });

    </script>
    <script>
    $(document).ready(function () {

        if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
            if ($(window).width() < 1050 & $(window).width() > 991) {
                $("a.dropdown-toggle").click(function (e) {
                    e.preventDefault();
                    $(this).unbind(e);
                });
            };
        };
        if ($("#profile").hasClass('active')) {

            $("#wizard1").addClass('ProfileDiv');
            $("#frt1").addClass('fa-chevron-left');
        }

        $(document).on("mouseover", ".top-menu-dropdown", function () {
            $(this).addClass("show");
        });

        $(document).on("mouseout", ".top-menu-dropdown", function () {
            $(this).removeClass("show");
        });

        $(".wizard").addClass("id_prof");

        $(document).on("click", "#idmsg", function () {
            if ($("#step3").hasClass('active')) {
                $("#wizard1").addClass('Step3Div');

            }
            else {
                $("#step3").removeClass('Step3Div');

            }

        });
        $(document).on("click", "#idprof", function () {
            if ($("#profile").hasClass('active')) {
                $("#wizard1").addClass('ProfileDiv');

            }
            else {
                $("#wizard1").removeClass('ProfileDiv');

            }

        });
        $(document).on("click", "#clkstep3", function () {
            if ($("#step3").hasClass('active')) {
                $("#frt1").removeClass('fa-chevron-left');
                $("#frt2").addClass('fa-chevron-left');
                $("#wizard1").removeClass('ProfileDiv');
                $("#wizard1").addClass('Step3Div');

            }
            else {
                $("#wizard1").removeClass('Step3Div');

            }

        });
        $(document).on("click", "#clkstep2", function () {

            if ($("#messages").hasClass('active')) {
                $("#frt2").removeClass('fa-chevron-left');
                $("#frt1").addClass('fa-chevron-left');
                $("#wizard1").removeClass('ProfileDiv');
                $("#wizard1").removeClass('Step3Div');

            }

        });
        $(document).on("click", "#clkstep1", function () {
            if ($("#profile").hasClass('active')) {
                $("#frt2").removeClass('fa-chevron-left');
                $("#frt1").addClass('fa-chevron-left');
                $("#wizard1").removeClass('Step3Div');
                $("#wizard1").addClass('ProfileDiv');

            }
            else {
                $("#wizard1").removeClass('ProfileDiv');

            }

        });
    });
    AjaxCart.init(false, '.many-items', '.header-links .cart-qty', '.flyout-cart');


    $(window).on('scroll', function () {
        if ($(this).scrollTop() > 300) {
            if (!$('.navbar').hasClass('expand')) {
                $('.navbar').toggleClass('expand');
                $('.header-links').addClass('hide');
            }
        } else {
            if ($('.navbar').hasClass('expand')) {
                $('.navbar').removeClass('expand');
                $('.header-links').removeClass('hide');
            }
        }
        if ($(window).width() < 960) {
            $('.navbar').removeClass('expand');
        }
        if ($(window).width() < 960) {
            $('.navbar-nav').removeClass('d-flex');
            $('.navbar-nav').removeClass('flex-wrap');
        }
    });
    $(document).ready(function () {
        window.addEventListener("orientationchange", function () {
            var theHeightoc = $(window).height() - 80;
            var navHeightoc = $(window).height() - 45;
            $('.mobile-nav-close').css("display", "none");
            $('.navbar-toggleable-md.bg-inverse.open').removeClass("open");
            $('.settings-mobile').css("display", "none");
            $(".settings-button").css("color", "#000");
            $(".categories-mobile").attr('style', 'display: block');
            $(".categories-mobile").css('max-height', theHeightoc);
            $(".bg-inverse").css('max-height', navHeightoc);
            $(".settings-mobile").css('max-height', theHeightoc);

            if ($(window).width() > 960) {
                $('.navbar-nav').addClass('d-flex');
                $('.navbar-nav').addClass('flex-wrap');
            }
        }, false);
    });

    $(function () {
        $("#wizard1").simpleWizard({
            cssClassStepActive: "active",
            cssClassStepDone: "done",
            onFinish: function () {

            }
        });
    });
    </script>
    <script>
    $(document).ready(function () {
        $(".mobile-nav-icon").click(function () {
            var theHeight = $(window).height() - 80;
            var navHeight = $(window).height() - 45;
            $(".bg-inverse").addClass("open");
            $(".navbar-collapse").attr('style', 'display: block');
            $(".mobile-nav-close").attr('style', 'display: block');
            $(".categories-mobile").attr('style', 'display: block');
            $(".settings-mobile").attr('style', 'display: none');
            $(".menu-button").css("color", "#84a014");
            $(".settings-button").css("color", "#000");
            $(".categories-mobile").css('max-height', theHeight);
            $(".bg-inverse").css('max-height', navHeight);
            $('.navbar-nav').removeClass('d-flex');
            $('.navbar-nav').removeClass('flex-wrap');
            if ($('#currency-sel').length > 0) {
            }
            else {
                $(".ico-register").attr("style", "margin-top:0 !important");
                $(".my-account-dropdown").attr("style", "top:0 !important");
            }
        });

        if ($(window).width() < 960) {
            $('.navbar-nav').removeClass('d-flex');
            $('.navbar-nav').removeClass('flex-wrap');
        }

        $(".mobile-nav-close").click(function () {
            $(".bg-inverse").removeClass("open");
            $(".navbar-collapse").attr('style', 'display: none');
            $(".mobile-nav-close").attr('style', 'display: none');
        });
        $(".settings-button").click(function () {
            var theHeight = $(window).height() - 80;
            var navHeight = $(window).height() - 45;
            $(".categories-mobile").attr('style', 'display: none');
            $(".settings-mobile").attr('style', 'display: block !important');
            $(".menu-button").css("color", "#000");
            $(".settings-button").css("color", "#84a014");
            $(".settings-mobile").css('max-height', theHeight);
        });
        $(".menu-button").click(function () {
            var theHeight = $(window).height() - 80;
            var navHeight = $(window).height() - 45;
            $(".categories-mobile").attr('style', 'display: block');
            $(".settings-mobile").attr('style', 'display: none');
            $(".menu-button").css("color", "#84a014");
            $(".settings-button").css("color", "#000");
            $(".categories-mobile").css('max-height', theHeight);
        });

        $('.customer-logos').slick({
            slidesToShow: 6,
            slidesToScroll: 1,
            autoplay: true,
            autoplaySpeed: 1500,
            arrows: true,
            dots: false,
            pauseOnHover: false,
            responsive: [{
                breakpoint: 768,
                settings: {
                    slidesToShow: 4
                }
            }, {
                breakpoint: 520,
                settings: {
                    slidesToShow: 3
                }
            }]
        });



    });

    $('#wizard1').on('keypress', function (e) {
        var keyCode = e.keyCode || e.which;
        if (keyCode === 13) {
            e.preventDefault();
            return false;
        }
    });

    </script>
</body>
</html>
