@{
    Layout = "~/Views/Shared/_Root.Head.cshtml";
}
@Html.Widget("body_start_html_tag_after")
@Html.Partial("_Notifications")
@Html.Action("JavaScriptDisabledWarning", "Common")
@Html.Partial("OldInternetExplorerWarning")

@Html.Partial("Header")
<div class="mobile-nav-icon">
</div>
<nav class="navbar navbar-toggleable-md bg-inverse container-fluid mainNav mt-2 mb-1 pl-0 pr-0 pt-0">
    <div class="mobile-nav-close"></div>
    <button class="mobile-top-buttons navbar-toggler hidden-lg-up text-white d-flex justify-content-start" type="button" data-toggle="collapse" data-target="#collapsing-navbar-2">
        <span class="hidden-lg-up menu-button">
            @T("nop4you.theme.gardentheme.mobile.menu")
        </span>
        <span class="hidden-lg-up ml-auto settings-button">
            @*@T("nop4you.theme.gardentheme.mobile.settings")*@ Customer
        </span>
    </button>
    <div class="container-fluid categories-mobile">
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav categories-navbar d-flex flex-wrap" id="main-categories">
                @Html.Action("TopMenu", "Catalog")
            </ul>
        </div>
    </div>
    <div class="container-fluid settings-mobile">
        @Html.Action("LanguageSelector", "Common")
        @Html.Action("HeaderLinks", "Common")
    </div>
</nav>
<div class="tag2">
    <p><a href="https://sunnyelectricals.com/delivery-collection">Free Delivery on orders over &#163;75 </a></p>
	<p><a href="https://sunnyelectricals.com/refunds-and-returns">EASY RETURNS</a></p>
	<p><a href="https://sunnyelectricals.com/delivery-collection">CLICK & COLLECT AVAILABLE</a></p>
</div>

@Html.Widget("content_before")
@if (IsSectionDefined("Breadcrumb"))
            {
    @RenderSection("Breadcrumb")
}
@RenderBody()
@Html.Widget("content_after")

@Html.Action("Footer", "Common")


<script>
    $(window).on('scroll', function () {
        if ($(this).scrollTop() > 50) {
            $(".mobile-nav-icon").addClass("scroll-up");
        }
        else {
            $(".mobile-nav-icon").removeClass("scroll-up");
        }
    });
</script>
<script>
    $(document).ready(function () {

        if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
            if ($(window).width() < 1050 & $(window).width() > 991) {
                $("a.dropdown-toggle").click(function (e) {
                    e.preventDefault();
                    $(this).unbind(e);
                });
            };
        };
        if ($("#profile").hasClass('active')) {

            $("#wizard1").addClass('ProfileDiv');
            $("#frt1").addClass('fa-chevron-left');
        }

        $(document).on("mouseover", ".top-menu-dropdown", function () {
            $(this).addClass("show");
        });

        $(document).on("mouseout", ".top-menu-dropdown", function () {
            $(this).removeClass("show");
        });

        $(".wizard").addClass("id_prof");

        $(document).on("click", "#idmsg", function () {
            if ($("#step3").hasClass('active')) {
                $("#wizard1").addClass('Step3Div');

            }
            else {
                $("#step3").removeClass('Step3Div');

            }

        });
        $(document).on("click", "#idprof", function () {
            if ($("#profile").hasClass('active')) {
                $("#wizard1").addClass('ProfileDiv');

            }
            else {
                $("#wizard1").removeClass('ProfileDiv');

            }

        });
        $(document).on("click", "#clkstep3", function () {
            if ($("#step3").hasClass('active')) {
                $("#frt1").removeClass('fa-chevron-left');
                $("#frt2").addClass('fa-chevron-left');
                $("#wizard1").removeClass('ProfileDiv');
                $("#wizard1").addClass('Step3Div');

            }
            else {
                $("#wizard1").removeClass('Step3Div');

            }

        });
        $(document).on("click", "#clkstep2", function () {

            if ($("#messages").hasClass('active')) {
                $("#frt2").removeClass('fa-chevron-left');
                $("#frt1").addClass('fa-chevron-left');
                $("#wizard1").removeClass('ProfileDiv');
                $("#wizard1").removeClass('Step3Div');

            }

        });
        $(document).on("click", "#clkstep1", function () {
            if ($("#profile").hasClass('active')) {
                $("#frt2").removeClass('fa-chevron-left');
                $("#frt1").addClass('fa-chevron-left');
                $("#wizard1").removeClass('Step3Div');
                $("#wizard1").addClass('ProfileDiv');

            }
            else {
                $("#wizard1").removeClass('ProfileDiv');

            }

        });


        //$(document).on("click", "#idmsg", function () {
        //	if ($("span.field-validation-error")) {
        //		$(".wizard").removeClass("id_msg");
        //		$(".wizard").addClass("id_address");
        //		$(".frt1 .fa").css("display", "none");
        //		$(".frt2 .fa").css("display", "block");
        //	}
        //});

    });
    AjaxCart.init(false, '.many-items', '.header-links .cart-qty', '.flyout-cart');


    $(window).on('scroll', function () {
        if ($(this).scrollTop() > 300) {
            if (!$('.navbar').hasClass('expand')) {
                $('.navbar').toggleClass('expand');
                $('.header-links').addClass('hide');
            }
        } else {
            if ($('.navbar').hasClass('expand')) {
                $('.navbar').removeClass('expand');
                $('.header-links').removeClass('hide');
            }
        }
        if ($(window).width() < 960) {
            $('.navbar').removeClass('expand');
        }
        if ($(window).width() < 960) {
            $('.navbar-nav').removeClass('d-flex');
            $('.navbar-nav').removeClass('flex-wrap');
        }
    });
    //when change mobile orientation
    $(document).ready(function () {
        window.addEventListener("orientationchange", function () {
            var theHeightoc = $(window).height() - 80;
            var navHeightoc = $(window).height() - 45;
            $('.mobile-nav-close').css("display", "none");
            $('.navbar-toggleable-md.bg-inverse.open').removeClass("open");
            $('.settings-mobile').css("display", "none");
            $(".settings-button").css("color", "#000");
            $(".categories-mobile").attr('style', 'display: block');
            $(".categories-mobile").css('max-height', theHeightoc);
            $(".bg-inverse").css('max-height', navHeightoc);
            $(".settings-mobile").css('max-height', theHeightoc);

            if ($(window).width() > 960) {
                $('.navbar-nav').addClass('d-flex');
                $('.navbar-nav').addClass('flex-wrap');
            }
        }, false);
    });

    $(function () {
        $("#wizard1").simpleWizard({
            cssClassStepActive: "active",
            cssClassStepDone: "done",
            onFinish: function () {

            }
        });
    });


</script>
<script>

    $(document).ready(function () {
        //<!--show, hide mobile bar content -- >
        $(".mobile-nav-icon").click(function () {
            var theHeight = $(window).height() - 80;
            var navHeight = $(window).height() - 45;
            $(".bg-inverse").addClass("open");
            $(".navbar-collapse").attr('style', 'display: block');
            $(".mobile-nav-close").attr('style', 'display: block');
            $(".categories-mobile").attr('style', 'display: block');
            $(".settings-mobile").attr('style', 'display: none');
            $(".menu-button").css("color", "#84a014");
            $(".settings-button").css("color", "#000");
            $(".categories-mobile").css('max-height', theHeight);
            $(".bg-inverse").css('max-height', navHeight);
            $('.navbar-nav').removeClass('d-flex');
            $('.navbar-nav').removeClass('flex-wrap');
            if ($('#currency-sel').length > 0) {

            }
            else {
                $(".ico-register").attr("style", "margin-top:0 !important");
                $(".my-account-dropdown").attr("style", "top:0 !important");
            }
        });

        if ($(window).width() < 960) {
            $('.navbar-nav').removeClass('d-flex');
            $('.navbar-nav').removeClass('flex-wrap');
        }

        $(".mobile-nav-close").click(function () {
            $(".bg-inverse").removeClass("open");
            $(".navbar-collapse").attr('style', 'display: none');
            $(".mobile-nav-close").attr('style', 'display: none');
        });
        $(".settings-button").click(function () {
            var theHeight = $(window).height() - 80;
            var navHeight = $(window).height() - 45;
            $(".categories-mobile").attr('style', 'display: none');
            $(".settings-mobile").attr('style', 'display: block !important');
            $(".menu-button").css("color", "#000");
            $(".settings-button").css("color", "#84a014");
            $(".settings-mobile").css('max-height', theHeight);
        });
        $(".menu-button").click(function () {
            var theHeight = $(window).height() - 80;
            var navHeight = $(window).height() - 45;
            $(".categories-mobile").attr('style', 'display: block');
            $(".settings-mobile").attr('style', 'display: none');
            $(".menu-button").css("color", "#84a014");
            $(".settings-button").css("color", "#000");
            $(".categories-mobile").css('max-height', theHeight);
        });

        //homepage logo slider
        $('.customer-logos').slick({
            slidesToShow: 6,
            slidesToScroll: 1,
            autoplay: true,
            autoplaySpeed: 1500,
            arrows: true,
            dots: false,
            pauseOnHover: false,
            responsive: [{
                breakpoint: 768,
                settings: {
                    slidesToShow: 4
                }
            }, {
                breakpoint: 520,
                settings: {
                    slidesToShow: 3
                }
            }]
        });



    });

    $('#wizard1').on('keypress', function (e) {
        var keyCode = e.keyCode || e.which;
        if (keyCode === 13) {
            e.preventDefault();
            return false;
        }
    });

</script>

@Html.Action("EuCookieLaw", "Common")
@Html.Widget("body_end_html_tag_before")