@using Nop.Core;
@using Nop.Core.Infrastructure
@using Nop.Web.Framework.Themes
@{
    var supportRtl = EngineContext.Current.Resolve<IWorkContext>().WorkingLanguage.Rtl;
    var themeName = EngineContext.Current.Resolve<IThemeContext>().WorkingThemeName;

    //add browser specific CSS files   
    if (supportRtl)
    {
        Html.AppendCssFileParts(string.Format("~/Themes/{0}/Content/css/style_rtl.css", themeName));
    }

    var browser = Request.Browser;

    if (browser.Browser == "IE" || browser.Browser == "InternetExplorer")
    {
        Html.AppendCssFileParts(string.Format("~/Themes/{0}/Content/css/ie.css", themeName));
    }

    Html.AppendCssFileParts(string.Format("~/Themes/{0}/Content/css/custom_style.css", themeName));
    Html.AppendCssFileParts(string.Format("~/Themes/{0}/Content/css/style.css", themeName));
    Html.AppendCssFileParts(string.Format("~/Themes/{0}/Content/css/bootstrap.min.css", themeName), true);
    Html.AppendCssFileParts(string.Format("~/Themes/{0}/Content/css/font-awesome.css", themeName));
    Html.AppendCssFileParts(string.Format("~/Themes/{0}/Content/css/magnific-popup.css", themeName));
    Html.AppendCssFileParts(string.Format("~/Themes/{0}/Content/owlcarousel/dist/assets/owl.carousel.min.css", themeName));
    Html.AppendCssFileParts(string.Format("~/Themes/{0}/Content/owlcarousel/dist/assets/owl.theme.default.min.css", themeName));

    Html.AppendScriptParts(string.Format("~/Themes/{0}/Content/js/jquery.simplewizard.js", themeName));
    Html.AppendScriptParts(string.Format("~/Themes/{0}/Content/js/slick_slider.js", themeName));
    Html.AppendScriptParts(string.Format("~/Themes/{0}/Content/js/bootstrap.js", themeName));
    Html.AppendScriptParts(string.Format("~/Themes/{0}/Content/js/jquery.magnific-popup.js", themeName));
    Html.AppendScriptParts(string.Format("~/Themes/{0}/Content/js/jquery.elevatezoom.js", themeName));
    Html.AppendScriptParts(string.Format("~/Themes/{0}/Content/owlcarousel/dist/owl.carousel.min.js", themeName));
    Html.AppendScriptParts("~/Scripts/public.ajaxcart.js");
    Html.AppendScriptParts(string.Format("~/Themes/{0}/Content/js/public.common.js", themeName));
    Html.AppendScriptParts("~/Scripts/jquery-migrate-1.2.1.min.js");
    Html.AppendScriptParts("~/Scripts/jquery-ui-1.10.3.custom.min.js");
    Html.AppendScriptParts("~/Scripts/jquery.validate.unobtrusive.min.js");
    Html.AppendScriptParts("~/Scripts/jquery.validate.min.js");
    Html.AppendScriptParts(string.Format("~/Themes/{0}/Content/js/tether.min.js", themeName));

<!-- TrustBox script -->
<script type="text/javascript" src="//widget.trustpilot.com/bootstrap/v5/tp.widget.bootstrap.min.js" async></script>
<!-- End TrustBox script -->


    Html.AppendScriptParts("~/Scripts/jquery-1.10.2.min.js");

}