@using Nop.Core
@using Nop.Core.Infrastructure
@using Nop.Services.Localization
@using Nop.Web.Framework.Themes

    <header>
        @Html.Widget("header")
    <nav class="navbar navbar-light bg-faded navUp p-0">
        
        <div class="container">
            
            <ul class="nav navbar-nav header-links pl-0 flex-row tmenu">
                <li class="nav-item mr-3 contac">
                    <p><i class="fa fa-phone mr-2"></i>@*@T("nop4you.theme.gardentheme.footerphone")*@ 01922 644822</p>
                </li>
                <li class="nav-item mr-auto timi">
                    @*<span><i class="fa fa-envelope mr-2"></i>@T("nop4you.theme.gardentheme.footeremailcontact")</span>*@
                    Mon-Fri: 8:00am - 5:30pm | Sat: 9:00am - 3:00pm
                </li>
                @*<li class="nav-item float-xs-right  ml-auto">
                    <a class="btn btn-outlined-info general-opener" data-toggle="collapse" aria-expanded="false" aria-controls="generalDropDown">
                        <span class="fa fa-cogs" aria-hidden="true"></span>
                    </a>
                </li>*@ 
                <div class="collapse btn-toolbar" id="generalDropDown">
                    @Html.Action("TaxTypeSelector", "Common")
                </div>
                            @Html.Action("HeaderLinks", "Common")
                            @Html.Action("LanguageSelector", "Common")
                
            </ul>
        </div>
    </nav>

        <div class="container header-block px-0 my-2">
            <div class="col-12">
                @*<div class="row">
                    <div class="col-lg-4 col-sm-12 pb-2 align-self-center text-block">
                        <div class="header-left">
                            <div class="around-border d-flex p-2">
                                <span><i class="fa fa-truck" aria-hidden="true"></i></span>
                                <div class="align-self-center px-2">
                                   <span><p class="mb-0">@T("nop4you.theme.gardentheme.headerleft1")</p> <p>@T("nop4you.theme.gardentheme.headerleft2")</p></span>
                                
                                </div>
                            </div>
                        </div>
                    </div>*@
                    <div class="col-lg-3 col-sm-12 pb-2 pull-left">
                        @Html.Action("Logo", "Common")
                       
                        </div>
                    <div class="col-lg-9 col-sm-12 pb-2 pull-right">
                        <div class="d-flex justify-content-center">
                           @Html.Action("SearchBox", "Catalog")
                            <div class="shoping-card-header">
                                <div class="d-flex cart-ico dropdown">
                                    @using Nop.Core.Infrastructure;
                                    @using Nop.Web.Framework.Themes;
                                    @using Nop.Core;
                                    @using Nop.Services.Localization;
                                    @using Nop.Services.Orders;
                                    @{
                                        var storeContext = EngineContext.Current.Resolve<Nop.Core.IStoreContext>();
                                        var customerCartItemNumber = EngineContext.Current.Resolve<Nop.Core.IWorkContext>().CurrentCustomer.ShoppingCartItems.Where(x => x.ShoppingCartType == Nop.Core.Domain.Orders.ShoppingCartType.ShoppingCart)
                                                        .LimitPerStore(storeContext.CurrentStore.Id)
                                                        .ToList()
                                                        .GetTotalProducts();
                                    }


                                    @if (customerCartItemNumber > 0)
                                    {
                                        <span class="many-items text-center">
                                            @T("ShoppingCart.HeaderQuantity", customerCartItemNumber)
                                        </span>

                                    }
                                    else
                                    {
                                        <span class="many-items text-center">
                                            0
                                        </span>
                                    }
                                            <span>
                                                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                            </span>
                                            <div class="align-self-center">
                                                @if (customerCartItemNumber > 0)
                                                {
                                                    <span><a href="@Url.RouteUrl("ShoppingCart")">@T("nop4you.theme.gardentheme.homepage.mycart")</a></span>

                                                }
                                                else
                                                {
                                                    <span><a>@T("nop4you.theme.gardentheme.homepage.mycart")</a></span>
                                                } 
                                            </div>
                                    <div class="dropdown-menu dropdown-menu-right shopping-cart-homepage">
                                        @Html.Action("FlyoutShoppingCart", "ShoppingCart")
                                    </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        <div class="clearfix"></div>
            <script>
                //mobile
                jQuery('.btn-navbar').click(function () {

                    var chk = 0;
                    if (jQuery('#navbar-inner').hasClass('navbar-inactive') && (chk == 0)) {
                        jQuery('#navbar-inner').removeClass('navbar-inactive');
                        jQuery('#navbar-inner').addClass('navbar-active');
                        jQuery('#mobilemenu').css('display', 'block');
                        chk = 1;
                    }
                    if (jQuery('#navbar-inner').hasClass('navbar-active') && (chk == 0)) {
                        jQuery('#navbar-inner').removeClass('navbar-active');
                        jQuery('#navbar-inner').addClass('navbar-inactive');
                        jQuery('#mobilemenu').css('display', 'none');
                        chk = 1;
                    }
                });

            </script>
        <script>
            if ($(window).width() < 991) {
                $(".search-cart-box").removeClass("justify-content-start");
                $(".search-cart-box").addClass("justify-content-center");
            }
            else {
                $(".search-cart-box").removeClass("justify-content-center");
                $(".search-cart-box").addClass("justify-content-start");
            }
            window.addEventListener("orientationchange", function () {
                if ($(window).width() < 991) {
                    $(".search-cart-box").removeClass("justify-content-start");
                    $(".search-cart-box").addClass("justify-content-center");
                }
                else {
                    $(".search-cart-box").removeClass("justify-content-center");
                    $(".search-cart-box").addClass("justify-content-start");
                }
            });
        </script>
</header>