﻿@model HomePageNewsItemsModel
@using Nop.Web.Models.News;
@if (Model.NewsItems.Count > 0)
{
    <div class="news-list-homepage">
        
        <div class="container">
            <div class="pt-3 pb-3">
                <h5 class="text-center mb-3 mt-3">
                    <span>@T("nop4you.theme.gardentheme.news.latest.articles")</span>
                </h5>
            </div>   
            <div class="row">
                @foreach (var item in Model.NewsItems)
                {
                    <div class="col-lg-3 col-md-6 col-12 mb-3">
                        <div class="card">
                            <div class="card news-home-card">
                             <span>@Html.Raw(item.Short)</span>
                            </div>
                            <div class="card-header pl-3">
                                <a class="news-title" href="@Url.RouteUrl("NewsItem", new { SeName = item.SeName })"><h3 class="h5">@Html.Raw(item.Title)</h3></a>
                                <span class="news-date">@item.CreatedOn.ToString("D")</span>
                            </div>
                            <div class="card-footer">
                                <a class="btn btn-sm btn-primary read-more" href="@Url.RouteUrl("NewsItem", new { SeName = item.SeName })">@T("News.MoreInfo") - @item.Title</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
            </div>
        <div class="view-all text-center">
            <a class="btn btn-secondary" href="@Url.RouteUrl("NewsArchive")">@T("News.ViewAll")</a>
        </div>
    </div>
}
