﻿@model NewsItemListModel
@using Nop.Web.Models.News;
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.NewsArchive").Text);
}
<div class="page news-list-page">
        
        <h1 class="h2 generalTitle"><a href="@Url.RouteUrl("NewsRSS", new { languageId = Model.WorkingLanguageId })" class="btn btn-sm btn-outline-success link-rss" title="@T("News.RSS.Hint")">@T("News.RSS")</a> @T("News")</h1>
        @Html.Widget("newslist_page_before_items")
    <div class="news-items">
        @foreach (var item in Model.NewsItems)
        {
            <div class="card mb-3">
                <a class="news-title" href="@Url.RouteUrl("NewsItem", new { SeName = item.SeName })">
                    <h4 class="card-header">@Html.Raw(item.Title)
                        <div class="card-block">
                            <h6 class="card-subtitle text-muted">-@item.CreatedOn.ToString("D")</h6>
                                @Html.Raw(item.Short)     
                                @Html.Widget("newslist_page_inside_item", item.Id)
                        </div>
                        <div class="buttons pb-1 pt-1">
                            <a class="btn btn-sm btn-primary read-more" href="@Url.RouteUrl("NewsItem", new { SeName = item.SeName })">@T("News.MoreInfo") - @Html.Raw(item.Title)</a>
                        </div>
                   </h4>
                </a>
            </div>
        }
        @{
            var pager = Html.Pager(Model.PagingFilteringContext).QueryParam("pagenumber");
        }
        @if (!pager.IsEmpty())
        {
            <div class="pager navigation">
                @pager
            </div>
        }
        @Html.Widget("newslist_page_after_items")
    </div>

</div>
