﻿@model ShoppingCartModel.DiscountBoxModel
@using Nop.Web.Models.ShoppingCart;
@if (Model.Display)
{
    <div class="coupon-box">
        <h2 class="h5">
            <strong>
                @T("ShoppingCart.DiscountCouponCode.Tooltip")
            </strong>
        </h2>
        <div class="coupon-code">
            <div class="form-group">
                <span for="inputEmail3" class="col-form-label">@T("ShoppingCart.DiscountCouponCode")</span>
                    <div class="d-flex flex-column">
                        <input type="text"  id="discountcouponcode" name="discountcouponcode" class="form-control discount-coupon-code mb-2">
                        <label for="discountcouponcode" class="sr-only">@T("ShoppingCart.GiftCardCouponCode.Button")</label>
                        <span class="input-group-btn">
                            <button type="submit" name="applydiscountcouponcode" id="applydiscountcouponcode" class="btn btn-secondary apply-discount-coupon-code-button">
                                @T("ShoppingCart.DiscountCouponCode.Button")
                            </button>
                            </span>

                    </div>
            </div>
            @if (Model.Messages.Any())
            {
                <script>
                    $("#orddisc").addClass("show");
                </script>

            }
            else
            {
                <script>
                    $("#orddisc").removeClass("show");
                </script>
            }
        </div>
        @foreach (var message in Model.Messages)
        {
            <div id="grandMoment" class="card card-inverse mb-3 @(Model.IsApplied ? "card-success message-success" : "card-danger message-failure") text-center">
                <div class="card-block p-2">
                    <blockquote class="card-blockquote">
                        <span>@message</span>
                    </blockquote>
                </div>
            </div>


            <script>

                $(document).ready(function () {
                    $("#grandMoment").delay(7000).slideUp(300);
                });

            </script>
        }
        @foreach (var discount in Model.AppliedDiscountsWithCodes)
        {

            <div class="card card-inverse card-success text-center current-code mb-3">
                <div class="card-block p-2">
                    <blockquote class="card-blockquote">
                        <span>@string.Format(T("ShoppingCart.DiscountCouponCode.CurrentCode").Text, discount.CouponCode)</span>
                        <button type="submit" name="removediscount-@discount.Id" title="@T("Common.Remove")" class="ml-auto btn btn-sm btn-secondary remove-discount-button float-sm-right" >
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </button>
                    </blockquote>
                </div>
            </div>
        }
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#discountcouponcode').keydown(function (event) {
                if (event.keyCode == 13) {
                    $('#applydiscountcouponcode').click();
                    return false;
                }
            });
        });
    </script>
}
