﻿@model ShoppingCartModel.GiftCardBoxModel
@using Nop.Web.Models.ShoppingCart;
@if (Model.Display)
{
    <div class="giftcard-box">
        <div class="title">
            <strong>@T("ShoppingCart.GiftCardCouponCode")</strong>
        </div>

        <div class="coupon-code">
            <div class="form-group">
                <span for="inputEmail3" class="col-form-label">@T("ShoppingCart.GiftCardCouponCode.Tooltip")</span>
                <div class="d-flex flex-column">
                    <input id="giftcardcouponcode" name="giftcardcouponcode" type="text" class="form-control gift-card-coupon-code mr-auto mb-2"/>
                    <label for="giftcardcouponcode" class="sr-only">@T("ShoppingCart.GiftCardCouponCode.Button")</label>
                    
                        <button type="submit" name="applygiftcardcouponcode" id="applygiftcardcouponcode" class="btn btn-secondary apply-discount-coupon-code-button">
                            @T("ShoppingCart.GiftCardCouponCode.Button")
                        </button>
                    
                </div>
            </div>
           
        </div>
        @if (!String.IsNullOrEmpty(Model.Message))
        { 
            <div class="card card-inverse mb-3 @(Model.IsApplied ? "card-success message-success" : "card-danger message-failure") text-center">
                <div class="card-block">
                    <blockquote class="card-blockquote pt-2">
                        <span>@Model.Message</span>
                    </blockquote>
                </div>
            </div>
          
                <script>
                    $("#orddisc").addClass("show");
                </script>

            
        }
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#giftcardcouponcode').keydown(function (event) {
                if (event.keyCode == 13) {
                    $('#applygiftcardcouponcode').click();
                    $(window).on('unload', function (event) {
                        $('#demo1').addClass('show');
                    });
                    $('#demo1').addClass('show');
                    return false;
                }
            });
        });
    </script>
}