﻿@model ShoppingCartModel
@using Nop.Web.Models.Checkout
@using Nop.Web.Models.ShoppingCart;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.ShoppingCart").Text);
}
@if (!Model.OnePageCheckoutEnabled)
{
    @Html.Action("CheckoutProgress", "Checkout", new {step = CheckoutProgressStep.Cart})
}
<div class="page shopping-cart-page">
    <div class="container">
        <div class="row">
                    <h2 class="mt-3 shopping-cart-title"><strong>@T("ShoppingCart")</strong></h2>
            <div class="page-body">
                @Html.Partial("OrderSummary", Model)
            </div>
        </div>
    </div>
</div>
