@model EstimateShippingModel
@using Nop.Web.Models.ShoppingCart;
@if (Model.Enabled)
{
    <span data-toggle="collapse" data-target="#eship" class="collapse-totals">
        @T("nop4you.theme.gardentheme.shipping")
    </span>
                            <div id="eship" class="collapse">
                                <div class="shipping">
                                    <script type="text/javascript">
            $(document).ready(function () {
                $("#@Html.FieldIdFor(model => model.CountryId)").change(function() {
                    var selectedItem = $(this).val();
                    var ddlStates = $("#@Html.FieldIdFor(model => model.StateProvinceId)");
                    var estimateProgress = $("#estimate-shipping-loading-progress");
                    estimateProgress.show();
                    $.ajax({
                        cache: false,
                        type: "GET",
                        url: "@(Url.RouteUrl("GetStatesByCountryId"))",
                        data: { "countryId": selectedItem, "addSelectStateItem": "false" },
                        success: function(data) {
                            ddlStates.html('');
                            $.each(data, function(id, option) {
                                ddlStates.append($('<option></option>').val(option.id).html(option.name));
                            });
                            estimateProgress.hide();
                        },
                        error: function(xhr, ajaxOptions, thrownError) {
                            alert('Failed to retrieve states.');
                            estimateProgress.hide();
                        }
                    });
                });
                $("#@Html.FieldIdFor(model => model.ZipPostalCode)").keydown(function (event) {
                    if (event.keyCode == 13) {
                        $("#estimate-shipping-button").click();
                        return false;
                    }
                });
            });
                                    </script>

                                    <div class="estimate-shipping">
                                        <div class="title">
                                            <strong>@T("ShoppingCart.EstimateShipping")</strong>
                                        </div>
                                        <div class="hint generalMarginSupporter">@T("ShoppingCart.EstimateShipping.Tooltip")</div>

                                        <div class="shipping-options">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.CountryId, new { }, ":")
                                                @Html.DropDownListFor(model => model.CountryId, Model.AvailableCountries, new { @class = "custom-select form-control country-input" })
                                            </div>
                                        </div>
                                        @*<div class="form-group">
                                            @Html.LabelFor(model => model.StateProvinceId, new { }, ":")
                                            @Html.DropDownListFor(model => model.StateProvinceId, Model.AvailableStates, new { @class = "custom-select form-control state-input" })
                                            <span id="estimate-shipping-loading-progress" style="display: none;" class="please-wait">@T("Common.Wait...")</span>
                                        </div>*@
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.ZipPostalCode, new { }, ":")
                                            @Html.TextBoxFor(model => model.ZipPostalCode, new { @class = "form-control zip-input" })
                                        </div>
                                        <div class="buttons">
                                            <input id="estimate-shipping-button" type="button" value="@T("ShoppingCart.EstimateShipping.Button")" class="btn btn-secondary float-xs-right estimate-shipping-button" />
                                        </div>
                                    </div>
                                    <div class="col--12 estimate-shipping-result generalMarginSupporter"></div>
                                </div>
                                </div>
                                }
                                <script type="text/javascript">
    $(document).ready(function () {
        $('#estimate-shipping-button').click(function() {
            displayAjaxLoading(true);
            $.ajax({
                cache: false,
                type: "POST",
                url: "@(Url.RouteUrl("EstimateShipping"))",
                data: $("#shopping-cart-form").serialize(),
                success: function(data) {
                    displayAjaxLoading();
                    $('.estimate-shipping-result').html(data);
                },
                error: function(xhr, ajaxOptions, thrownError) {
                    displayAjaxLoading();
                    alert('Failed to retrieve estimate shipping.');
                }
            });
        });

        $("#@Html.FieldIdFor(model => model.ZipPostalCode)").keydown(function (event) {
            if (event.keyCode == 13) {
                $("#estimate-shipping-button").click();
                return false;
            }
        });
    });
                                </script>
