@model ShoppingCartModel
@using Nop.Core
@using Nop.Core.Domain.Tax
@using Nop.Core.Infrastructure
@using Nop.Web.Models.ShoppingCart;
@{
    var webHelper = EngineContext.Current.Resolve<IWebHelper>();
}
<div class="order-summary-content mt-3">
    @Html.Widget("order_summary_content_before")
    @Html.Partial("_OrderReviewData", Model.OrderReviewData)
    @if (Model.Items.Count > 0)
    {
        if (Model.Warnings.Count > 0)
        {
            <div class="message-error">
                <ul>
                    @foreach (var warning in Model.Warnings)
                    {
                        <li>@warning</li>
                    }
                </ul>
            </div>
        }
    using (Html.BeginRouteForm("ShoppingCart", FormMethod.Post, new { enctype = "multipart/form-data", id = "shopping-cart-form" }))
    {
        @Html.AntiForgeryToken()
        <div class="col-12">
            <div class="row">
        <div class="col-lg-9 col-sm-12 product-overview">
            <div class="row">
        <div class="cartTable">
            <table class="table table-hover">
                <colgroup>
                    @if (Model.IsEditable)
                    {
                        <col width="25" />
                    }

                    <col />
                </colgroup>
                <thead class="thead-inverse shopping-cart-top-details">
                    <tr>
                        <th class="product">
                            <div class="d-flex flex-row row">
                                @if (Model.ShowProductImages)
                                {
                                    <div class="col-2 hidden-md-down hidden">Remove</div>
                                }
                                <div class="col-12 col-md text-center text-md-left citem">
                                    @*@T("ShoppingCart.Product(s)")*@ @T("nop4you.theme.gardentheme.cartitem")
                                </div>

                                <div class="@(Model.IsEditable ? "col" : "col") d-flex flex-row justify-content-between ml-auto">
                                    <div class="col-sm-4 hidden-md-down">
                                        @T("ShoppingCart.UnitPrice")
                                    </div>
                                    <div class="col-sm-4 hidden-md-down text-sm-center">
                                        @T("ShoppingCart.Quantity")
                                    </div>
                                    <div class="col-sm-4 hidden-md-down text-sm-right pl-2 pr-0">
                                        @T("ShoppingCart.ItemTotal")
                                    </div>
                                </div>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Items)
                    {
                        var subClassForImages = "";
                        if (Model.ShowProductImages)
                        {
                            subClassForImages = "showPicture";
                        }
                        <tr class="align-middle">     
                            <td class="cart-content align-middle text-sm-center text-md-left">
                                <div class="remove-from-cart">

                                    @if (Model.IsEditable)
                                    {
                                        <a class="btn btn-sm btn-secondary remover"> <i class="fa fa-times"></i> </a>
                                            <fieldset>
                                                <legend></legend>
                                                <label class="custom-control custom-checkbox">
                                                    <input class="custom-control-input" type="checkbox" name="removefromcart" value="@(item.Id)" />
                                                    <span class="custom-control-indicator"></span>
                                                    <span class="sr-only">checkbox</span>
                                                    <span class="custom-control-description td-title">
                                                        &nbsp;
                                                        <span class="fa fa-times hidden-md-up pl-2"></span>
                                                    </span>
                                                </label>
                                            </fieldset>
                                    }
                                </div>

                                    <div class="d-flex flex-row row">
                                        @if (Model.ShowProductImages)
                                        {
                                            <div class="col-12 offset-md-0 col-md-3 col-lg-2 product-picture text-center text-md-left" href="@Url.RouteUrl("Product", new { SeName = item.ProductSeName })">
                                                <img class="img-fluid" alt="@item.Picture.AlternateText" src="@item.Picture.ImageUrl" title="@item.Picture.Title" />
                                            </div>
                                        }


                                        <div class="col-12 col-md-9 col-lg product text-sm-center text-md-center">
                                            <a href="@Url.RouteUrl("Product", new { SeName = item.ProductSeName })" class="product-name"><strong>@item.ProductName</strong></a>

                                            @if (Model.ShowSku && !String.IsNullOrEmpty(item.Sku))
                                            {
                                                <span class="sku-number text-sm-center text-md-center">@item.Sku</span>
                                            }

                                            @if (!String.IsNullOrEmpty(item.AttributeInfo))
                                            {
                                                <div class="attributes small">
                                                    @Html.Raw(item.AttributeInfo)
                                                </div>
                                            }
                                            @if (!String.IsNullOrEmpty(item.RecurringInfo))
                                            {
                                                <div class="recurring-info">
                                                    @Html.Raw(item.RecurringInfo)
                                                </div>
                                            }
                                            @if (!String.IsNullOrEmpty(item.RentalInfo))
                                            {
                                                <div class="rental-info">
                                                    @Html.Raw(item.RentalInfo)
                                                </div>
                                            }
                                            @if (Model.IsEditable && item.AllowItemEditing)
                                            {
                                                var editCartItemUrl = Url.RouteUrl("Product", new { SeName = item.ProductSeName });
                                                editCartItemUrl = webHelper.ModifyQueryString(editCartItemUrl, "updatecartitemid=" + item.Id, null);
                                                <div class="edit-item mb-1 mt-1">
                                                    <a class="btn btn-sm btn-secondary" href="@editCartItemUrl">@T("Common.Edit")</a>
                                                </div>
                                            }
                                            @if (item.Warnings.Count > 0)
                                            {
                                                <div class="message-error">
                                                    <ul>
                                                        @foreach (var warning in item.Warnings)
                                                        {
                                                            <li>@warning</li>
                                                        }
                                                    </ul>
                                                </div>
                                            }
                                        </div>

                                        <div class="col-md-9 offset-0 col-lg offset-md-3 offset-lg-0">
                                            <div class="flex-row subrow justify-content-center justify-content-md-between row">
                                                <div class="col-lg-4 pt-0 col unit-price text-center text-sm-left align-self-center  justify-content-center d-flex flex-column">
                                                    <span class="product-subtotal">
                                                        <span class="td-title product-unit-price hidden-lg-up">
                                                            @T("ShoppingCart.UnitPrice"):
                                                        </span>
                                                        <span>@item.UnitPrice</span>
                                                    </span>    
                                                    
                                                </div>
                                                <div class="col-lg-4 col offset-sm-0 offset-md-0 quantity justify-content-center">
                                                    @if (Model.IsEditable)
                                                    {
                                                        if (item.AllowedQuantities.Count > 0)
                                                        {

                                                            <div class="d-flex flex-md-row flex-sm-column qtyRvd">
                                                                <div class="col-5 text-sm-right hidden-lg-up">
                                                                    <span class="td-title">@T("ShoppingCart.Quantity"):</span>
                                                                </div>
                                                                <div class="col">
                                                                    <select id="itemqty@(item.Id)" name="itemqty@(item.Id)" class="custom-select form-control qty-dropdown">
                                                                        @foreach (var qty in item.AllowedQuantities)
                                                                        {
                                                                            <option id="itemqty@(item.Id)" selected="@qty.Selected" value="@qty.Value">@qty.Value</option>
                                                                        }
                                                                    </select>
                                                                </div>
                                                            </div>

                                                        }
                                                        else
                                                        {
                                                            <div class="d-flex flex-row">
                                                                <div class="col-5 col-lg-12 col-md-2 hidden-lg-up px-0 align-self-center">
                                                                    <span class="td-title">@T("ShoppingCart.Quantity"):</span>
                                                                </div>
                                                                <div class="col-7 col-lg-8 col-md-4 offset-lg-2 pl-0 pr-0">
                                                                    <label class="sr-only" for="itemquantity@(item.Id)">itemquantity@(item.Id)</label>
                                                                    <input id="itemquantity@(item.Id)" name="itemquantity@(item.Id)" type="text" value="@(item.Quantity)" class="form-control qty-input float-sm-right" />
                                                                </div>
                                                            </div>
                                                        }

                                                    }
                                                    else
                                                    {
                                                        <div class="d-flex flex-row">
                                                            <div class="col-5 col-lg-12 col-md-2 text-center hidden-lg-up align-self-center">
                                                                <span class="td-title hidden-lg-up">@T("ShoppingCart.Quantity"):</span>
                                                            </div>
                                                            <div class="col-7 col-lg-8 col-md-4 offset-lg-2 pl-0 pr-0">
                                                                <label class="sr-only" for="itemquantity@(item.Id)">itemquantity@(item.Id)</label>
                                                                <input id="itemquantity@(item.Id)" name="itemquantity@(item.Id)" type="text" value="@(item.Quantity)" class="form-control qty-input float-sm-right" readonly/>
                                                                </div>
                                                        </div>
                                                    }
                                                </div>
                                                <div class="col-lg-4 col-md-2 col-sm-4 pt-0 subtotal text-sm-right d-flex flex-column justify-content-center">
                                                    <span class="product-subtotal">
                                                        <span class="td-title hidden-lg-up">@T("ShoppingCart.ItemTotal"):</span> @item.SubTotal
                                                    </span>
                                                    @if (!String.IsNullOrEmpty(item.Discount))
                                                    {
                                                        <div class="discount text-success text-center text-md-right">
                                                            @T("ShoppingCart.ItemYouSave"): @item.Discount
                                                        </div>
                                                        if (item.MaximumDiscountedQty.HasValue)
                                                        {
                                                            <div class="discount-additional-info">
                                                                @T("ShoppingCart.MaximumDiscountedQty", item.MaximumDiscountedQty.Value)
                                                            </div>
                                                        }
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            @if (Model.IsEditable)
            {
                    
                    <div class="common-buttons text-sm-right col-lg-12">
                        <div class="row">
                            <input type="submit" name="updatecart" value="@T("ShoppingCart.UpdateCart")" class="btn btn-secondary update-cart-button mr-2" />
                                <input type="submit" name="continueshopping" value="@T("ShoppingCart.ContinueShopping")" class="btn btn-secondary continue-shopping-button mr-2" />
                        </div>                
                    </div>
                    
            }
                </div>

            </div>
            </div>
        

            <div class="col-lg-3 order-totals mb-3">
                <div class="row">
        <div class="cart-footer">
            <div class="row">
                
                <div class="col-12 totals float-sm-right ml-auto pl-1 pr-1">
                    <div class="summary-title">
                        <span>@T("nop4you.theme.gardentheme.summary")</span>
                    </div>
                    
                    @Html.Widget("order_summary_cart_footer")
                    @if (Model.IsEditable)
                    {

                        <div class="col-12 cart-collaterals cart-totals">
                            @if ((Model.GiftCardBox.Display.ToString() == "True") || (Model.DiscountBox.Display.ToString() == "True"))
                            {
                            <span data-toggle="collapse" data-target="#orddisc" class="collapse-totals">
                            @T("nop4you.theme.gardentheme.orderdiscount")
                            </span>
                            <div id="orddisc" class="collapse">
                                <div class="deals">

                                    @Html.Partial("_GiftCardBox", Model.GiftCardBox)
                                    @Html.Partial("_DiscountBox", Model.DiscountBox)
                                    @Html.Widget("order_summary_content_deals")
                                </div>
                            </div>
                            }
                            @if (Model.IsEditable)
                            {
                                @Html.Partial("EstimateShipping", Model.EstimateShipping)
                            }
                        </div>
                    }
                   
                </div>
                    @Html.Action("OrderTotals", "ShoppingCart", new { isEditable = Model.IsEditable })
                    @if (Model.IsEditable)
                    {
                        if (!String.IsNullOrEmpty(Model.MinOrderSubtotalWarning))
                        {
                            <div class="col-12 mb-2 px-4">
                                <div class="min-amount-warning">
                                    @Model.MinOrderSubtotalWarning
                                </div>
                            </div>
                            
                        }
                    }
                
                    @if (Model.IsEditable)
                    {
                        if (Model.TermsOfServiceOnShoppingCartPage)
                        {

                            <div class="col-sm-12 terms-of-service mb-3">
                                <label for="termsofservice" class="custom-control custom-checkbox">
                                    <input class="custom-control-input" id="termsofservice" type="checkbox" name="termsofservice" />
                                    <span class="sr-only">checkbox</span>
                                    <span class="custom-control-indicator"></span>
                                    <span>@T("Checkout.TermsOfService.IAccept")<a class="custom-control-description read pl-1 font-weight-bold" onclick="javascript:OpenWindow('@Url.RouteUrl("TopicPopup", new { SystemName = "conditionsofuse" })', 450, 500, true)">@T("Checkout.TermsOfService.Read")</a></span>
                                </label>
                            </div>
                            }
                            <div class="checkout-buttons text-center">
                                @if (String.IsNullOrEmpty(Model.MinOrderSubtotalWarning) && !Model.HideCheckoutButton)
                        {
                                    <script type="text/javascript">

                                        $(document).ready(function () {
                                            $('#checkout').click(function () {
                                                //terms of service
                                                var termOfServiceOk = true;
                                                if ($('#termsofservice').length > 0) {
                                                    //terms of service element exists
                                                    if (!$('#termsofservice').is(':checked')) {
                                                        $('#grandModal').appendTo('body');
                                                        $("#grandModal").modal('show');

                                                        termOfServiceOk = false;
                                                    } else {
                                                        termOfServiceOk = true;
                                                    }
                                                }
                                                return termOfServiceOk;
                                            });
                                        });

                                    </script>
                                    <div>
                                        <button type="submit" id="checkout" name="checkout" value="checkout" class="checkout-btn">
                                            <span>@T("Checkout.Button")</span>
                                        </button>
                                    </div>
                                }
                            </div>
                        if (Model.TermsOfServiceOnShoppingCartPage)
                        {
                            <div class="modal fade" id="grandModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">@T("Checkout.TermsOfService")</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span>&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            @T("Checkout.TermsOfService.PleaseAccept")
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                       
                        <div class="addon-buttons">  
                            @Html.Partial("_ButtonPaymentMethod", Model)
                        </div>
                    }
                </div>
                
        </div>
                </div>
                </div>
                <div class="cart-options col-lg-9 col-sm-12 mt-5">
                    <div class="row">
                    @if (Model.IsEditable)
                    {
                        <div class="col-sm-12 checkoutAttributes">
                            @*@Html.Partial("_CheckoutAttributes", Model.CheckoutAttributes, new ViewDataDictionary())*@
                        </div>
                    }
                    @if (!String.IsNullOrEmpty(Model.CheckoutAttributeInfo))
                    {
                        <div class="col-lg-5 col-md-12 col-sm-12 selected-checkout-attributes text-left">
                            @*@Html.Raw(Model.CheckoutAttributeInfo)*@
                        </div>
                    }
                </div>
                    </div>
                </div>
            </div>
        if (Model.IsEditable && Model.Items.Count > 0 && Model.DisplayTaxShippingInfo)
        {
            var inclTax = EngineContext.Current.Resolve<IWorkContext>().TaxDisplayType == TaxDisplayType.IncludingTax;
            //tax info is already included in the price (incl/excl tax). that's why we display only shipping info here
            //of course, you can modify appropriate locales to include VAT info there
            <div class="tax-shipping-info d-flex justify-content-end mt-2 mb-2">
                <span class="taxHelper">
                    @T(inclTax ? "ShoppingCart.TaxShipping.InclTax" : "ShoppingCart.TaxShipping.ExclTax", Url.RouteUrl("Topic", new { SeName = Html.GetTopicSeName("shippinginfo") }))
                </span>
            </div>
        }
        if (Model.IsEditable)
        {
            @Html.Action("CrossSellProducts", "Product")
            }
        }
    }
    else
    {
        <div class="no-data">
            @T("ShoppingCart.CartIsEmpty")
        </div>
    }
    @Html.Widget("order_summary_content_after")
</div>

<script>
    (function ($) {
        var $window = $(window),
            $commonbuttons = $('.common-buttons');

        $window.resize(function resize() {
            if ($window.width() < 575) {
                $commonbuttons.removeClass('justify-content-start');
                return $commonbuttons.addClass('justify-content-center');
            }

            $commonbuttons.removeClass('justify-content-center');
            $commonbuttons.addClass('justify-content-start');
        }).trigger('resize');
    })(jQuery);
</script>
<script>

    $(document).ready(function () {

        ; var cartHandler = {

            //param
            $cartQty: $(".qty-input"),
            $warning: $(".warning"),
            $accordion: $("#headingOne"),
            $cartDiscount: $('#collapseOneCart'),
            $switch: $(".material-switch input"),
            $termsOfService: $("#termsofservice"),
            $remover: $(".remover"),
            $removeAllBtn: $(".removeAll-cart-button"),
            $removersAllButtons: $(".cartTable .remover"),

            $updateCart: $("input[name=\"updatecart\"]"),
            errorLength: $(".cartTable .message-error").length,
            errorCartLenght: $('#collapseOneCart .card-danger').length,

            //meth
            chackIfOpen: function () {
                if (this.errorLength != 0) {
                    this.openWarning()
                }
            },
            swithBind: function () {
                this.$switch.on('change', function () {
                    cartHandler.$termsOfService.click()
                })
            },
            openWarning: function () {
                if (this.errorLength != 0) {
                    this.openWarning()
                }
            },
            removerHandler: function () {
                this.$remover.click(function () {
                    $.when(
                        $(this).parent(".remove-from-cart").find(".custom-control-input").click()
                    )
                        .then(
                        cartHandler.$updateCart.click()
                        )
                });
            },
            removeAllHandler: function () {
                this.$removeAllBtn.click(function () {
                    cartHandler.$removersAllButtons.click();
                });
            },
            openAccordion: function () {
                this.$cartDiscount.addClass("show");
            },
            openWarning: function () {
                this.$warning.show()
            },

            //init
            init: function () {
                this.swithBind();
                this.openAccordion();
                this.chackIfOpen();
                this.removerHandler()
            }
        }
        cartHandler.init();

    });

</script>
<script>
    $(document).ready(function () {

        if ($(".cartTable .message-error").length > 0) {
            $(".warning").show();
        };

        if ($('#collapseOneCart .card-danger').length > 0) {
            $('#collapseOneCart').addClass("show");
        }

        $(".remover").click(function () {
            $.when(
                $(this).parent(".remove-from-cart").find(".custom-checkbox").click()
            )
            .then(
                $("input[name=\"updatecart\"]").click()
            );
        });

        $(".removeAll-cart-button").click(function () {
            $(".custom-checkbox").click();
            $(".update-cart-button").click();
        });

        $(".material-switch input").on('change', function() {
            $("#termsofservice").click();
        });
    });

</script>