@model WishlistModel
@using Nop.Core
@using Nop.Core.Domain.Tax
@using Nop.Core.Infrastructure
@using Nop.Web.Models.ShoppingCart
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Wishlist").Text);
    var webHelper = EngineContext.Current.Resolve<IWebHelper>();
}
<div class="container">
    <div class="row">
        <div class="page wishlist-page mt-3">
            <h2 class="text-left generalTitle mb-0 global_blue_color">
                @if (Model.IsEditable)
                {
                    @T("Wishlist")
                }
                else
                {
                    @String.Format(T("Wishlist.WishlistOf").Text, Model.CustomerFullname)
                }
            </h2>
            @if (Model.Items.Count > 0)
            {
                <div class="wishlist-content">
                    @if (Model.Warnings.Count > 0)
                    {
                        <div class="message-error">
                            <ul>
                                @foreach (var warning in Model.Warnings)
                                {
                                    <li>@warning</li>
                                }
                            </ul>
                        </div>
                    }
                    @using (Html.BeginRouteForm("Wishlist", FormMethod.Post))
                    {
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <colgroup></colgroup>
                                <thead class="thead-inverse">
                                    <tr>
                                        @if (Model.IsEditable || Model.DisplayAddToCart)
                                        {
                                            <th>
                                                <div class="flex-row d-flex hidden-md-down">
                                                    @if (Model.IsEditable)
                                                    {
                                                        <div class="remove-from-cart hidden-md-down">
                                                            <i class="fa fa-times"></i>
                                                        </div>
                                                    }
                                                    @if (Model.DisplayAddToCart)
                                                    {
                                                        <div class="add-to-cart hidden-md-down">
                                                            <i class="fa fa-shopping-cart"></i>
                                                        </div>
                                                    }
                                                </div>
                                                <span class="sr-only">@T("Remove") @T("account.shoppingcart")</span>
                                            </th>
                                        }
                                        <th>
                                            <div class="d-flex justify-content-start d-flex justify-content-start flex-row">
                                                @if (Model.ShowProductImages)
                                                {
                                                    <div class="col-sm-2 product-picture hidden-md-down">
                                                        <span>@T("ShoppingCart.Image")</span>
                                                    </div>
                                                }
                                                <div class="col-md-6 col-12 col-lg product">
                                                    <span>@T("ShoppingCart.Product(s)")</span>
                                                </div>
                                                <div class="@(Model.IsEditable ? "col" : "col") d-flex flex-row justify-content-between ml-auto">
                                                    <div class="col-sm-4 hidden-md-down pl-0">
                                                        @T("ShoppingCart.UnitPrice")
                                                    </div>
                                                    <div class="col-sm-4 hidden-md-down text-center">
                                                        @T("ShoppingCart.Quantity")
                                                    </div>
                                                    <div class="col-sm-4 hidden-md-down text-right pl-2 pr-0">
                                                        @T("ShoppingCart.ItemTotal")
                                                    </div>
                                                </div>
                                            </div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Items)
                    {
                                        <tr class="align-middle">
                                            @if (Model.IsEditable || Model.DisplayAddToCart)
                                            {
                                                <td class="remove-from-cart">
                                                    <div class="col-12 px-0">
                                                        <div class="flex-row d-flex justify-content-center justify-content-md-start">
                                                            @if (Model.IsEditable)
                                                            {
                                                                <fieldset>
                                                                    <legend class="sr-only">@T("Remove")-@(item.Id)</legend>
                                                                    <label for="@T("Remove")-@(item.Id)" class="custom-control custom-checkbox pl-2">
                                                                        <input id="@T("Remove")-@(item.Id)" type="checkbox" class="custom-control-input" name="removefromcart" value="@(item.Id)" />
                                                                        <span class="sr-only">@T("Remove")-@(item.Id)</span>
                                                                        <span class="custom-control-indicator"></span>
                                                                        <span class="hidden-lg-up">
                                                                            <span class="custom-control-description">&nbsp;</span>
                                                                            <i class="fa fa-times"></i>
                                                                        </span>
                                                                    </label>
                                                                </fieldset>
                                                            }
                                                            @if (Model.DisplayAddToCart)
                                                            {
                                                                <fieldset>
                                                                    <legend class="sr-only">@T("account.shoppingcart")-@("item.Id")</legend>
                                                                    <label for="@T("account.shoppingcart")-@(item.Id)" class="custom-control custom-checkbox pl-2">
                                                                        <input id="@T("account.shoppingcart")-@(item.Id)" type="checkbox" class="custom-control-input" name="addtocart" value="@(item.Id)" />
                                                                        <span class="custom-control-indicator"></span>
                                                                        <span class="sr-only">@T("account.shoppingcart")-@(item.Id)</span>
                                                                        <span class="custom-control-description">
                                                                            <span>&nbsp;</span>
                                                                            <span class="hidden-lg-up"><i class="fa fa-shopping-cart"></i></span>
                                                                        </span>
                                                                    </label>
                                                                </fieldset>
                                                            }
                                                        </div>
                                                    </div>
                                                </td>
                                            }
                                            <td class="cart-content align-middle text-sm-center text-md-left">
                                                <div class="d-flex flex-row row mx-0">
                                                    @if (Model.ShowProductImages)
                                                    {
                                                        <div class="col-6 offset-3 offset-md-0 col-md-3 col-lg-2 product-picture">
                                                            <img class="img-fluid" alt="@item.Picture.AlternateText" src="@item.Picture.ImageUrl" title="@item.Picture.Title" />
                                                        </div>
                                                    }


                                                    <div class="col-12 col-md-9 col-lg product text-center text-md-left">
                                                        <a href="@Url.RouteUrl("Product", new { SeName = item.ProductSeName })" class="product-name"><strong>@item.ProductName</strong></a>

                                                        @if (Model.ShowSku && !String.IsNullOrEmpty(item.Sku))
                                                        {
                                                            <span class="sku-number text-sm-center text-md-left">@item.Sku</span>
                                                        }

                                                        @if (!String.IsNullOrEmpty(item.AttributeInfo))
                                                        {
                                                            <div class="attributes small text-center text-md-left">
                                                                @Html.Raw(item.AttributeInfo)
                                                            </div>
                                                        }
                                                        @if (!String.IsNullOrEmpty(item.RecurringInfo))
                                                        {
                                                            <div class="recurring-info">
                                                                @Html.Raw(item.RecurringInfo)
                                                            </div>
                                                        }
                                                        @if (!String.IsNullOrEmpty(item.RentalInfo))
                                                        {
                                                            <div class="rental-info">
                                                                @Html.Raw(item.RentalInfo)
                                                            </div>
                                                        }
                                                        @if (Model.IsEditable && item.AllowItemEditing)
                                                        {
                                                            var editCartItemUrl = Url.RouteUrl("Product", new { SeName = item.ProductSeName });
                                                            editCartItemUrl = webHelper.ModifyQueryString(editCartItemUrl, "updatecartitemid=" + item.Id, null);
                                                            <div class="edit-item mb-1 mt-1 text-center text-md-left">
                                                                <a class="btn btn-sm btn-secondary" href="@editCartItemUrl">@T("Common.Edit")</a>
                                                            </div>
                                                        }
                                                        @if (item.Warnings.Count > 0)
                                                        {
                                                            <div class="message-error">
                                                                <ul>
                                                                    @foreach (var warning in item.Warnings)
                                                                    {
                                                                        <li>@warning</li>
                                                                    }
                                                                </ul>
                                                            </div>
                                                        }
                                                    </div>

                                                    <div class="col-md-9 col-lg ml-auto">
                                                        <div class="flex-row subrow justify-content-center justify-content-md-between row">
                                                            <div class="col-lg-4 col unit-price text-center text-sm-left">
                                                                <span class="td-title product-unit-price hidden-lg-up">
                                                                    @T("ShoppingCart.UnitPrice"):
                                                                </span>
                                                                @item.UnitPrice
                                                            </div>
                                                            <div class="col-lg-4 col offset-sm-0 offset-md-0 quantity justify-content-center">
                                                                @if (Model.IsEditable)
                                                                {
                                                                    if (item.AllowedQuantities.Count > 0)
                                                                    {

                                                                        <div class="d-flex flex-md-row flex-sm-column qtyRvd">
                                                                            <div class="col-5 text-sm-right hidden-lg-up">
                                                                                <span class="td-title">@T("ShoppingCart.Quantity"):</span>
                                                                            </div>
                                                                            <div class="col">
                                                                                <select id="itemqty@(item.Id)" name="itemqty@(item.Id)" class="custom-select form-control qty-dropdown">
                                                                                    @foreach (var qty in item.AllowedQuantities)
                                                                                    {
                                                                                        <option id="itemqty@(item.Id)" selected="@qty.Selected" value="@qty.Value">@qty.Value</option>
                                                                                    }
                                                                                </select>
                                                                            </div>
                                                                        </div>

                                                                    }
                                                                    else
                                                                    {
                                                                        <div class="d-flex flex-row">
                                                                            <div class="col-5 col-lg-12 hidden-lg-up">
                                                                                <span class="td-title">@T("ShoppingCart.Quantity"):</span>
                                                                            </div>
                                                                            <div class="col-7 col-lg-8 offset-lg-2 pl-0 pr-0">
                                                                                <label class="sr-only" for="itemquantity@(item.Id)">itemquantity@(item.Id)</label>
                                                                                <input id="itemquantity@(item.Id)" name="itemquantity@(item.Id)" type="text" value="@(item.Quantity)" class="form-control qty-input float-sm-right" />
                                                                            </div>
                                                                        </div>
                                                                    }

                                                                }
                                                                else
                                                                {
                                                                    <div class="d-flex flex-row">
                                                                        <div class="col-5 col-lg-12 text-center hidden-lg-up">
                                                                            <span class="td-title hidden-lg-up">@T("ShoppingCart.Quantity"):</span>
                                                                        </div>
                                                                        <div class="col-7 col-lg-8 offset-lg-2 pl-0 pr-0">
                                                                            <label class="sr-only" for="itemquantity@(item.Id)">itemquantity@(item.Id)</label>
                                                                            <input id="itemquantity@(item.Id)" name="itemquantity@(item.Id)" type="text" value="@(item.Quantity)" class="form-control qty-input float-sm-right" readonly />
                                                                        </div>
                                                                    </div>
                                                                }
                                                            </div>
                                                            <div class="col-lg-4 col subtotal text-sm-right d-flex flex-column justify-content-center">
                                                                <span class="product-subtotal">
                                                                    <span class="td-title hidden-lg-up">@T("ShoppingCart.ItemTotal"):</span> @item.SubTotal
                                                                </span>
                                                                @if (!String.IsNullOrEmpty(item.Discount))
                                                                {
                                                                    <div class="discount text-success">
                                                                        @T("ShoppingCart.ItemYouSave", item.Discount)
                                                                    </div>
                                                                    if (item.MaximumDiscountedQty.HasValue)
                                                                    {
                                                                        <div class="discount-additional-info">
                                                                            @T("ShoppingCart.MaximumDiscountedQty", item.MaximumDiscountedQty.Value)
                                                                        </div>
                                                                    }
                                                                }
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    
                        if (Model.Items.Count > 0 && Model.DisplayTaxShippingInfo)
                        {
                            var inclTax = EngineContext.Current.Resolve<IWorkContext>().TaxDisplayType == TaxDisplayType.IncludingTax;
                            //tax info is already included in the price (incl/excl tax). that's why we display only shipping info here
                            //of course, you can modify appropriate locales to include VAT info there
                            <div class="tax-shipping-info">
                                @T(inclTax ? "Wishlist.TaxShipping.InclTax" : "Wishlist.TaxShipping.ExclTax", Url.RouteUrl("Topic", new { SeName = Html.GetTopicSeName("shippinginfo") }))
                            </div>
                        }

                        <div class="btn-section my-3">
                            @if (Model.IsEditable)
                    {
                                <button type="submit" name="updatecart" class="btn btn-success update-wishlist-button">
                                    <span>@T("Wishlist.UpdateCart")</span>
                                </button>
                            }
                            @if (Model.DisplayAddToCart)
                    {
                                <button type="submit" name="addtocartbutton" class="btn btn-secondary wishlist-add-to-cart-button">
                                    <span class="hidden-down">@T("ShoppingCart.AddToCart")</span>
                                    <i class="fa fa-cart-plus hidden-md-up" aria-hidden="true"></i>
                                </button>
                            }
                            @if (Model.IsEditable && Model.EmailWishlistEnabled)
                    {
                                <button type="button" class="btn btn-secondary email-a-friend-wishlist-button" onclick="setLocation('@Url.RouteUrl("EmailWishlist")')">
                                    <span class="hidden-down">@T("Wishlist.EmailAFriend")</span>
                                    <i class="fa fa-envelope-o hidden-md-up" aria-hidden="true"></i>
                                </button>
                            }
                        </div>
                    }
                </div>
            }
            else
            {
                <div class="no-data">
                    @T("Wishlist.CartIsEmpty")
                </div>
            }
            @if (Model.IsEditable && Model.Items.Count > 0)
            {
                <div class="col-12 share-info generalMarginSupporter text-center text-md-left">
                    <div class="row">
                        <span class="share-label">@T("Wishlist.YourWishlistURL"):</span>
                        <a href="@Url.RouteUrl("Wishlist", new { customerGuid = Model.CustomerGuid })" class="small share-link">@Url.RouteUrl("Wishlist", new { customerGuid = Model.CustomerGuid }, "http")</a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>