﻿@{
    Layout = "";
}
@model Nop.Plugin.Payments.Worldpay.Models.PaymentInfoModel
@using Nop.Web.Framework;

    <div id='my_payment_section'></div>
    <input type="hidden" name="paymenttoken" id="paymenttoken" />
    <input style="display:none;" type="hidden" name="nextstep" value="Next" id="nextstep" />

    <script type="text/javascript">
        var clientKey = '@ViewBag.ClientKey';
        var paymentInfoObject = {};

        function externalValidation(errorMessages, submitFormCallback) {
            paymentInfoObject.errorMessages = errorMessages;
            paymentInfoObject.submitFormCallback = submitFormCallback;

            // Some other payment method has been selected, so the element won't be in the mark-up.
            if ($("#paymenttoken").length == 0) {
                paymentInfoObject.submitFormCallback(paymentInfoObject.errorMessages);
                return false;
            }

            Worldpay.submitTemplateForm();
        }

        $(document).ready(function () {
            $.getScript("https://cdn.worldpay.com/v1/worldpay.js", function (data, textStatus, jqxhr) {

                function callback(obj) {
                    Worldpay.templateSaveButton = true;

                    if (obj && obj.token) {
                        $(".payment-errors").text("");
                        var token = obj.token;
                        $("#paymenttoken").val(token);
                        paymentInfoObject.submitFormCallback(paymentInfoObject.errorMessages);
                        return false;
                    } else {
                        paymentInfoObject.errorMessages.push('error.apierror');
                        paymentInfoObject.submitFormCallback(paymentInfoObject.errorMessages);
                        return false;
                    }
                   
                    return false;
                }

                Worldpay.setClientKey(clientKey);
                Worldpay.reusable = false;
                Worldpay.templateSaveButton = false;
                Worldpay.setTemplate('@ViewBag.TemplateFormCode');
                Worldpay.useTemplate('co-payment-info-form', 'my_payment_section', 'inline', callback);
            });
        });

    </script>
    <div class="payment-errors"></div>
