﻿@model Nop.Plugin.Payments.PayPalExpressCheckout.Models.CheckoutShippingMethodModel
@using Nop.Web.Framework
@using Nop.Web.Framework.UI
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Checkout").Text);
}
<div class="page checkout-page">
    <div class="container">
        <div class="page-title" style="margin:20px 0px;">
            <h1>@T("Checkout.SelectShippingMethod")</h1>
        </div>
        <div class="page-body checkout-data">
            @Html.Widget("checkout_shipping_method_top")
            <div class="section shipping-method">
                @using (Html.BeginRouteForm("Plugin.Payments.PayPalExpressCheckout.SetShippingMethod", FormMethod.Post))
                {
                if (Model.Warnings.Count == 0)
                {
                <ul class="method-list">
                    @for (int i = 0; i < Model.ShippingMethods.Count; i++)
                    {
                    var shippingMethod = Model.ShippingMethods[i];
                    <li>
                        <div class="method-name">
                            <input id="shippingoption_@(i)" type="radio" name="shippingoption" class="pull-left" value="@(shippingMethod.Name)___@(shippingMethod.ShippingRateComputationMethodSystemName)" checked="@shippingMethod.Selected" />
                            <label class="pull-left" style="padding:10px 0 0 5px;" for="shippingoption_@(i)">@shippingMethod.Name (@shippingMethod.Fee)</label>
                        </div>
                        <div class="clearfix"></div>
                        @if (!String.IsNullOrEmpty(shippingMethod.Description))
                        {
                        <div class="method-description">
                            @Html.Raw(shippingMethod.Description)
                        </div>
                        }
                    </li>
                    }
                </ul>
                <div class="buttons">
                    <input type="submit" style="margin:15px 0px 30px;" name="nextstep" value="@T(" Checkout.NextButton")" class="button-1 btn shipping-method-next-step-button" />
                </div>
                }
                else
                {
                <div class="message-error">
                    <ul>
                        @foreach (var warning in Model.Warnings)
                        {
                        <li>@warning</li>
                        }
                    </ul>
                </div>
                }
                }
            </div>
            @Html.Widget("checkout_shipping_method_bottom")
            <div class="section order-summary-body">
                <div class="title">
                    <strong>@T("Checkout.OrderSummary")</strong>
                </div>
                @Html.Action("OrderSummary", "ShoppingCart")
            </div>
        </div>
    </div>
</div>
