﻿@{
    Layout = "";
    Html.SetActiveMenuItemSystemName("ThemeEditorManager");
}
@model Nop4you.Plugin.Misc.Theme.Models.ConfigurationModel
@using Nop.Web.Framework;
@using Nop.Web.Framework.UI;

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                @T("Nop4you.Plugin.Misc.Theme.Configuration.Instructions")              
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.Style)
                    </div>
                    <div class="col-md-9">
                        @Html.NopDropDownListFor(model => model.Style, Model.AvailableStyles)
                        @Html.ValidationMessageFor(model => model.Style)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.FontSize)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.FontSize)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.FullLineSelection)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.FullLineSelection)
                        @Html.ValidationMessageFor(model => model.FullLineSelection)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.HighLightActiveLine)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.HighLightActiveLine)
                        @Html.ValidationMessageFor(model => model.HighLightActiveLine)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.ShowInvisible)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.ShowInvisible)
                        @Html.ValidationMessageFor(model => model.ShowInvisible)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.ShowIndentGuides)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.ShowIndentGuides)
                        @Html.ValidationMessageFor(model => model.ShowIndentGuides)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.AnimateScrolling)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.AnimateScrolling)
                        @Html.ValidationMessageFor(model => model.AnimateScrolling)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.ShowGutter)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.ShowGutter)
                        @Html.ValidationMessageFor(model => model.ShowGutter)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        &nbsp;
                    </div>
                    <div class="col-md-9">
                        <input type="submit" name="save" class="btn bg-blue" value="@T("Admin.Common.Save")" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}