﻿
@using Nop.Web.Framework.UI;
@using Nop.Web.Framework;

@{
    Layout = "~/Administration/Views/Shared/_AdminLayout.cshtml";
    //page title
    ViewBag.Title = T("Nop4you.Plugin.Misc.Theme.List").Text;
    var gridPageSize = Nop.Core.Infrastructure.EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    Html.SetActiveMenuItemSystemName("ThemeEditorManager");
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Nop4you.Plugin.Misc.Theme.List")
        </h1>
        <div class="pull-right">
            <a href="@Url.Action("Create", "Plugins/Theme/Editor")" class="btn bg-blue">
                <i class="fa fa-plus-square"></i>
                @T("Admin.Common.AddNew")
            </a>
        </div>
    </div>
   
    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">

                <div class="panel panel-default">
                    <div class="panel-body">

                        <div id="themes-grid"></div>

                        <script>
                    $(document).ready(function() {
                        $("#themes-grid").kendoGrid({
                            dataSource: {
                                type: "json",
                                transport: {
                                    read: {
                                        url: "@Html.Raw(Url.Action("List", "Theme", new RouteValueDictionary() { { "Namespaces", "Nop4you.Plugin.Misc.Theme.Controllers" }, { "area", "" } }))",
                                        type: "POST",
                                        dataType: "json",
                                    }
                                },
                                schema: {
                                    data: "Data",
                                    total: "Total",
                                    errors: "Errors"
                                },
                                requestEnd: function (e) {
                                    if (e.type == "read") {
                                        var response = e.response;
                                    }
                                },
                                error: function(e) {
                                    display_kendoui_grid_error(e);
                                    // Cancel the changes
                                    this.cancelChanges();
                                },
                                pageSize: @(gridPageSize),
                                serverPaging: true,
                                serverFiltering: true,
                                serverSorting: true
                        },
                                pageable: {
                            refresh: true
                                },
                        editable: {
                            confirmation: false,
                            mode: "inline"
                        },
                        scrollable: false,
                        columns: [
                            {
                                field: "Title",
                                title: "@T("Nop4you.Plugin.Misc.Theme.Title")",
                                width: 200,
                            },
                            {
                                field: "Name",
                                title: "@T("Nop4you.Plugin.Misc.Theme.Name")",
                                width: 300,
                            },
                            {
                                field: "Selected",
                                title: "@T("Nop4you.Plugin.Misc.Theme.Selected")",
                                width: 80,
                                template: '# if(Selected) {# <i class="fa fa-check true-icon"></i> #} else {# <i class="fa fa-close false-icon"></i> #} #'
                            },
                            {
                                field: "SupportRTL",
                                title: "@T("Nop4you.Plugin.Misc.Theme.SupportRTL")",
                                width: 80,
                                template: '# if(SupportRTL) {# <i class="fa fa-check true-icon"></i> #} else {# <i class="fa fa-close false-icon"></i> #} #'
                            },
                            {
                                field: "Name",
                                title: "@T("Admin.Common.Edit")",
                                width: 100,
                                template: '<a href="Edit/#=Name#">@T("Admin.Common.Edit")</a>'
                            }
                        ]
                    } );
                        });
                        </script>

                    </div>
                </div>
            </div>
        </div>
    </div>


}
