﻿@model CheckoutConfirmModel
@using Nop.Web.Models.Checkout;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Checkout").Text);
}
<div class="container">
    <div class="row">
        <div class="page checkout-page order-confirm-page">
            @Html.Action("CheckoutProgress", "Checkout", new { step = CheckoutProgressStep.Confirm })
            <div class="confirm-order">
                @using (Html.BeginRouteForm("CheckoutConfirm", FormMethod.Post, new { id = "confirm-order-form" }))
            {
                    <script>
                        $(document).ready(function () {
                            $('.confirm-order-next-step-button').click(function () {
                                //terms of service
                                var termOfServiceOk = true;
                                if ($('#termsofservice').length > 0) {
                                    //terms of service element exists
                                    if (!$('#termsofservice').is(':checked')) {
                                        $('#terms-of-service-warning-box').modal('show')
                                        termOfServiceOk = false;
                                    } else {
                                        termOfServiceOk = true;
                                    }
                                }
                                if (termOfServiceOk) {
                                    $('#confirm-order-form').submit();
                                    $('.confirm-order-next-step-button').attr('disabled', 'disabled');
                                    return true;
                                } else {
                                    return false;
                                }
                            });
                        });
                    </script>

                    <h2 class="text-center generalTitle">@T("Checkout.ConfirmYourOrder")</h2>
                    <div class="page-body checkout-data">
                        @Html.Widget("checkout_confirm_top")

                        @Html.Widget("checkout_confirm_bottom")
                        <div class="order-summary">
                            @Html.Action("OrderSummary", "ShoppingCart", new { prepareAndDisplayOrderReviewData = true })
                        </div>
                    </div>

                    if (!String.IsNullOrEmpty(Model.MinOrderTotalWarning))
                    {
                        <span class="min-order-warning">@Model.MinOrderTotalWarning</span>
                    }
                    else
                    {
                        <div class="row m-0">

                            @if (Model.TermsOfServiceOnOrderConfirmPage)
                    {

                                <div class="modal fade" title="@T("Checkout.TermsOfService")" id="terms-of-service-warning-box" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                @T("Checkout.TermsOfService.PleaseAccept")
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-md-8 col-12 mb-1 terms-of-service">
                                    <div class="row">
                                        <label class="custom-control custom-checkbox">
                                            <input id="termsofservice" type="checkbox" name="termsofservice" class="custom-control-input">
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">@T("Checkout.TermsOfService.IAccept")<a class="read" onclick="javascript:OpenWindow('@Url.RouteUrl("TopicPopup", new { SystemName = "conditionsofuse" })', 450, 500, true)"> - <strong>@T("Checkout.TermsOfService.Read")</strong></a></span>
                                        </label>
                                    </div>
                                </div>
                            }
                            <div class="col-lg-1 col-sm-2 col-12  ml-auto mb-1 buttons">
                                <div class="row">
                                    <input type="submit" name="nextstep" value="@T("Checkout.ConfirmButton")" class="btn btn-success btn-block confirm-order-next-step-button" />
                                </div>
                            </div>

                        </div>
                        <script>
                            $('#confirm-order-form').on('submit', function () {
                                var button = $(this).find('input[type="submit"][name="nextstep"]');
                                setTimeout(function () {
                                    button.attr('disabled', 'disabled');
                                }, 0);
                            });
                        </script>
                    }
                    if (Model.Warnings.Count > 0)
                    {
                        <div class="message-error">
                            <ul>
                                @foreach (var warning in Model.Warnings)
                                {
                                    <li>@warning</li>
                                }
                            </ul>
                        </div>
                    }
                }
            </div>

        </div>
    </div>
</div>
