@model OnePageCheckoutModel
@using Nop.Web.Models.Checkout;
@using Nop.Core.Infrastructure;
@using Nop.Web.Models.ShoppingCart;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    Html.AddScriptParts("~/Scripts/public.accordion.js");
    Html.AddScriptParts("~/Scripts/public.onepagecheckout.js");

    var storeLocation = EngineContext.Current.Resolve<Nop.Core.IWebHelper>().GetStoreLocation();

    //title
    Html.AddTitleParts(T("PageTitle.Checkout").Text);
}


@{
    //step numbers
    int billingAddressStepNumber = 1;
    int shippingAddressStepNumber = 2;
    int shippingMethodStepNumber = 3;
    int paymentMethodStepNumber = 4;
    int paymentInfoStepNumber = 5;
    int confirmOrderStepNumber = 6;
    if (!Model.ShippingRequired)
    {
        paymentMethodStepNumber = paymentMethodStepNumber - 2;
        paymentInfoStepNumber = paymentInfoStepNumber - 2;
        confirmOrderStepNumber = confirmOrderStepNumber - 2;
    }
    if (Model.DisableBillingAddressCheckoutStep)
    {
        shippingAddressStepNumber--;
        shippingMethodStepNumber--;
        paymentMethodStepNumber--;
        paymentInfoStepNumber--;
        confirmOrderStepNumber--;
    }
}
<div class="container">
    <div class="page checkout-page">
        <h2 class="generalTitle">@T("Checkout")</h2>
        @Html.Widget("opc_content_before")
        <ol class="opc pl-0" id="checkout-steps">
            <li id="opc-billing" class="tab-section allow">
                <div class="step-title card card-grey mb-1 text-left p-0 col-12">
                    <div class="card-block">
                        <blockquote class="card-blockquote">
                            <span><strong>1. @T("Checkout.BillingAddress")</strong></span>
                        </blockquote>
                    </div>
                </div>
                <div id="checkout-step-billing" class="step mt-2 mb-2 a-item" style="display: none;">
                    <form id="co-billing-form" action="">
                        <div id="checkout-billing-load">
                            @Html.Action("OpcBillingForm", "Checkout")
                            @*billing address content will be loaded here*@
                        </div>
                    </form>
                    <script type="text/javascript">
                        Billing.init('#co-billing-form', '@(storeLocation)checkout/OpcSaveBilling/', @(Model.DisableBillingAddressCheckoutStep.ToString().ToLowerInvariant()));
                        if ($("#billing-address-select").length > 0) {
                            Billing.newAddress(!$('#billing-address-select').val());
                        }
                    </script>
                    <div class="col-12 buttons pb-2 pt-2 pl-0 text-left" id="billing-buttons-container">
                        <input type="button" title="@T("Common.Continue")" class="btn btn-success new-address-next-step-button" onclick="Billing.save()" value="@T("Common.Continue")" />
                        <span class="please-wait" id="billing-please-wait" style="display: none;">@T("Common.LoadingNextStep")</span>
                    </div>
                </div>
            </li>
            @if (Model.ShippingRequired)
            {
                <li id="opc-shipping" class="tab-section">
                    <div class="step-title card card-grey mb-1 text-left p-0 col-12">
                        <div class="card-block">
                            <blockquote class="card-blockquote">
                                <span><strong>2. @T("Checkout.ShippingAddress")</strong></span>
                            </blockquote>
                        </div>
                    </div>
                    <div id="checkout-step-shipping col-12" class="step mt-2 mb-2 a-item" style="display: none;">
                        <form action="" id="co-shipping-form">
                            <div id="checkout-shipping-load">
                                @*shipping address content will be loaded here*@
                            </div>
                        </form>
                        <script type="text/javascript">
                            Shipping.init('#co-shipping-form', '@(storeLocation)checkout/OpcSaveShipping/');
                            if ($("#shipping-address-select").length > 0) {
                                Shipping.newAddress(!$('#shipping-address-select').val());
                            }
                        </script>
                        <div class="col-12 buttons pt-1 pb-1" id="shipping-buttons-container">
                            @if (!Model.DisableBillingAddressCheckoutStep)
                            {
                                <a class="btn btn-secondary" href="#" onclick="Checkout.back(); return false; ">@T("Common.Back")</a>

                            }
                            <input type="button" class="btn btn-success new-address-next-step-button" title="@T("Common.Continue")" onclick="Shipping.save()" value="@T("Common.Continue")" />
                            <span id="shipping-please-wait" class="please-wait" style="display: none;"> @T("Common.LoadingNextStep")</span>
                        </div>
                    </div>
                </li>
                <li id="opc-shipping_method" class="tab-section">

                    <div class="step-title card card-grey mb-1 text-left p-0 col-12">
                        <div class="card-block">
                            <blockquote class="card-blockquote">
                                <span><strong>3. @T("Checkout.ShippingMethod")</strong></span>
                            </blockquote>
                        </div>
                    </div>
                    <div id="checkout-step-shipping-method" class="step mt-2 mb-2 a-item" style="display: none;">
                        <form id="co-shipping-method-form" action="">
                            <div id="checkout-shipping-method-load">
                                @*shipping methods content will be loaded here*@
                            </div>
                            <script type="text/javascript">
                                ShippingMethod.init('#co-shipping-method-form', '@(storeLocation)checkout/OpcSaveShippingMethod/');
                            </script>
                            <div class="col-12 buttons pt-1 pb-1 text-center" id="shipping-method-buttons-container">
                                <a class="btn btn-secondary" href="#" onclick="Checkout.back(); return false;">@T("Common.Back")</a>
                                <input type="button" class="btn btn-success shipping-method-next-step-button" onclick="ShippingMethod.save()" value="@T("Common.Continue")" />
                                <span id="shipping-method-please-wait" class="please-wait" style="display: none;">@T("Common.LoadingNextStep")</span>
                            </div>
                        </form>
                    </div>
                </li>
            }
            
            <li id="opc-payment_method" class="tab-section">
                <div class="step-title card card-grey mb-1 text-left p-0 col-12">
                    <div class="card-block">
                        <blockquote class="card-blockquote">
                            <span><strong>4. @T("Checkout.PaymentMethod")</strong></span>
                        </blockquote>
                    </div>
                </div>
                @*<div id="checkout-step-payment-method" class="step mt-2 mb-2 a-item" style="display: none;">
            <form action="" id="co-payment-method-form">
                <div id="checkout-payment-method-load">
                    payment methods content will be loaded here Payment is not required
                </div>
            </form>
            <div class="largelabelblock">
                <label>
                    Payable Amount :
                </label>
                <span id="lblPaypalCurrency" style="font-weight:bold;">£</span><span id="lblPaypalAmount" style="font-weight:bold;">@ViewBag.Totalamount</span>
            </div>
            <div class="paypal_button">
                    <input type="submit" name="paypal" id="btnpaypal" border="0" value="Paypal" alt="PayPal - The safer, easier way to pay online">
                    <input type="hidden" id="paypalurl" value="@ViewBag.PayPal" />


                </div>

                <div class="worldpay_button">
                    <input type="hidden" id="amountworldpay" value=@ViewBag.Totalamount>
                    <input type="submit" name="worldpay" value="World Pay" id="btnWorldPay" class="btn btn-secondary continue-shopping-button mr-2" />

                </div>
                <div class="clearfix"></div>
                <script type="text/javascript">
                    PaymentMethod.init('#co-payment-method-form', '@(storeLocation)checkout/OpcSavePaymentMethod/');
                </script>
                <div class="col-12 buttons pt-1 pb-1 pl-0 text-left" id="payment-method-buttons-container">
                    <a class="btn btn-secondary" href="#" onclick="Checkout.back(); return false;">@T("Common.Back")</a>
                    <input type="button" class="btn btn-success payment-method-next-step-button" onclick="PaymentMethod.save()" value="@T("Common.Continue")" />
                    <span class="please-wait" id="payment-method-please-wait" style="display: none;">@T("Common.LoadingNextStep")</span>
                </div>



            </div>*@

                <div id="checkout-step-payment-method" class="step mt-2 mb-2 a-item" style="display: none;">
                    <div class="largelabelblock">
                        <label>
                            Payable Amount :
                        </label>
                        <span id="lblPaypalCurrency" style="font-weight:bold;">£</span><span id="lblPaypalAmount" style="font-weight:bold;">@ViewBag.Totalamount</span>
                        <input type="hidden" id="amountworldpay" value=@ViewBag.Totalamount>
                    </div>

                    @*<div class="paypal_button">*@
                        <form action="" id="co-payment-method-form">
                            <div id="checkout-payment-method-load">
                            </div>

                        </form>
                    @*</div>*@
                    @*<div class="text-center" style="padding-top:35px; float:left; width:20px; font-size:18px;"><strong> OR </strong></div>
                    <div class="worldpay_button">

                        <input type="submit" name="worldpay" value="World Pay" id="btnWorldPay" class="btn btn-secondary continue-shopping-button mr-2" />

                    </div>*@
                    
                    <div class="clearfix"></div>

                       
                        <script type="text/javascript">
                            PaymentMethod.init('#co-payment-method-form', '@(storeLocation)checkout/OpcSavePaymentMethod/');
                        </script>
                        <div class="col-12 buttons pt-1 pb-1 pl-0 text-left" id="payment-method-buttons-container">
                            <a class="btn btn-secondary" href="#" onclick="Checkout.back(); return false;">@T("Common.Back")</a>
                            <input type="button" class="btn btn-success payment-method-next-step-button" onclick="PaymentMethod.save()" value="@T("Common.Continue")" />
                            <span class="please-wait" id="payment-method-please-wait" style="display: none;">@T("Common.LoadingNextStep")</span>
                        </div>

                  
                </div>


            </li>
            
            


        <li id="opc-payment_info" class="tab-section">
    <div class="step-title card card-grey mb-1 text-left p-0 col-12">
        <div class="card-block">
            <blockquote class="card-blockquote">
                <span><strong>5. @T("Checkout.PaymentInfo")</strong></span>
            </blockquote>
        </div>
    </div>
    <div id="checkout-step-payment-info" class="step mt-2 mb-2 a-item" style="display: none;">
        <form action="" id="co-payment-info-form">
            <div id="checkout-payment-info-load" class="my-3">
                payment info content will be loaded here Payment is not required
                        </div>
                    </form>
                    <script type="text/javascript">
                        PaymentInfo.init('#co-payment-info-form', '@(storeLocation)checkout/OpcSavePaymentInfo/');
                    </script>
                    <div class="col-12 buttons pt-1 pb-1 pl-0 text-left" id="payment-info-buttons-container">
                        <a class="btn btn-secondary" href="#" onclick="Checkout.back(); return false;">@T("Common.Back")</a>
                        <input type="button" class="btn btn-success payment-info-next-step-button" onclick="PaymentInfo.save()" value="@T("Common.Continue")" />
                        <span class="please-wait" id="payment-info-please-wait" style="display: none;">@T("Common.LoadingNextStep")</span>
                    </div>
                </div>
            </li>
         <li id="opc-confirm_order" class="tab-section">
    <div class="step-title card card-grey mb-1 text-left p-0 col-12">
        <div class="card-block">
            <blockquote class="card-blockquote">
                <span><strong>6. @T("Checkout.ConfirmOrder")</strong></span>
            </blockquote>
        </div>
    </div>
    <div id="checkout-step-confirm-order" class="step mt-2 mb-2 a-item" style="display: none;">
        <div id="checkout-confirm-order-load">
             order content will be loaded here
            
                    </div>
                    
                    <div class="col-12 buttons pt-1 pb-5 pl-0" id="confirm-order-buttons-container">
                        <input type="button" id="confirmcheck" class="btn btn-success confirm-order-next-step-button" onclick="ConfirmOrder.save()" value="@T("Common.Confirm")" />
                        @*<input type="button" id="confirmcheck" class="btn btn-success confirm-order-next-step-button"  />*@

                        <a class="btn btn-secondary" href="#" onclick="Checkout.back(); return false;">@T("Common.Back")</a>
                        <span class="please-wait" id="confirm-order-please-wait" style="display: none;">@T("Checkout.SubmittingOrder")</span>
                    </div>
                </div>


             <div id="checkout-step-confirm-order" class="step a-item" style="display: none;">
                 <div id="checkout-confirm-order-load">
                     @*confirm order content will be loaded here*@
                 </div>
                 <script type="text/javascript">
                        ConfirmOrder.init('@(storeLocation)checkout/OpcConfirmOrder/', '@(storeLocation)checkout/completed/');
                 </script>
            
                 <div class="col-12 buttons pt-1 pb-5 pl-0" id="confirm-order-buttons-container">
                     <input type="button" id="confirmcheck" class="btn btn-success confirm-order-next-step-button" onclick="ConfirmOrder.save()" value="@T("Common.Confirm")" />
                     @*<input type="button" id="confirmcheck" class="btn btn-success confirm-order-next-step-button"  />*@

                     <a class="btn btn-secondary" href="#" onclick="Checkout.back(); return false;">@T("Common.Back")</a>
                     <span class="please-wait" id="confirm-order-please-wait" style="display: none;">@T("Checkout.SubmittingOrder")</span>
                 </div>
             </div>

            </li>
        </ol>
        @Html.Widget("opc_content_after")
    </div>
</div>
    <script type="text/javascript">
        Accordion.init('checkout-steps', '.step-title', true);
        Accordion.openSection('#opc-billing');
        Checkout.init('@(storeLocation)cart/');
        if (Billing.disableBillingAddressCheckoutStep)
        {
            Accordion.hideSection('#opc-billing');
            Billing.save();
        }
    </script>
<script type="text/javascript">

        $(document).ready(function () {
            $('#confirmcheck').click(function () {
                //terms of service
                var termOfServiceOk = true;
                if ($('#termsofservice').length > 0) {
                    //terms of service element exists
                    if (!$('#termsofservice').is(':checked')) {
                        $('#grandModal').appendTo('body');
                        $("#grandModal").modal('show');
                        termOfServiceOk = false;
                    } else {
                        termOfServiceOk = true;
                    }
                }
                return termOfServiceOk;
            });
        });

</script>