﻿@model CheckoutConfirmModel
@using Nop.Web.Models.Checkout;
<div class="checkout-data col-12">
    @Html.Widget("op_checkout_confirm_top")
    <div class="confirm-order">
        <div>
            @if (!String.IsNullOrEmpty(Model.MinOrderTotalWarning))
            {
                <span class="min-order-warning">@Model.MinOrderTotalWarning</span>
            }
        </div>
        @if (Model.Warnings.Count > 0)
        {
            <div class="message-error">
                <ul>
                    @foreach (var warning in Model.Warnings)
                    {
                        <li>@warning</li>
                    }
                </ul>
            </div>
        }
    </div>
    @Html.Widget("op_checkout_confirm_bottom")
    <div class="order-summary">
        @Html.Action("OrderSummary", "ShoppingCart", new { prepareAndDisplayOrderReviewData = true })
    </div>    
    @if (String.IsNullOrEmpty(Model.MinOrderTotalWarning) && Model.TermsOfServiceOnOrderConfirmPage)
    {
        <script type="text/javascript">

                                        $(document).ready(function () {
                                            $('#checkout').click(function () {
                                                //terms of service
                                                var termOfServiceOk = true;
                                                if ($('#termsofservice').length > 0) {
                                                    //terms of service element exists
                                                    if (!$('#termsofservice').is(':checked')) {
                                                        $('#grandModal').appendTo('body');
                                                        $("#grandModal").modal('show');

                                                        termOfServiceOk = false;
                                                    } else {
                                                        termOfServiceOk = true;
                                                    }
                                                }
                                                return termOfServiceOk;
                                            });
                                        });

        </script>
        <div class="col-12">

            <div class="modal fade" id="grandModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">@T("Checkout.TermsOfService")</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span>&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            @T("Checkout.TermsOfService.PleaseAccept")
                        </div>
                    </div>
                </div>
            </div>

            <div class="terms-of-service">
                <label class="custom-control custom-checkbox">
                    <input type="checkbox" id="termsofservice" name="termsofservice" class="custom-control-input">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">@T("Checkout.TermsOfService.IAccept")<a class="read" onclick="javascript:OpenWindow('@Url.RouteUrl("TopicPopup", new { SystemName = "conditionsofuse" })', 450, 500, true)">@T("Checkout.TermsOfService.Read")</a></span>
                </label>
            </div>
        </div>
    }
</div>
