﻿@model CheckoutPaymentMethodModel
@using Nop.Web.Models.Checkout;
    @Html.Widget("op_checkout_payment_method_top")
    <div class="payment-method my-3">
        @if (Model.DisplayRewardPoints && Model.PaymentMethods.Count > 0)
        {
            <div class="use-reward-points">

                <label class="custom-control custom-checkbox">
                    @Html.CheckBoxFor(x => x.UseRewardPoints, Model.RewardPointsEnoughToPayForOrder ? new { @onclick = "PaymentMethod.toggleUseRewardPoints(this)", @class = "custom-control-input" } : null)
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">@string.Format(T("Checkout.UseRewardPoints").Text, Model.RewardPointsBalance, Model.RewardPointsAmount)</span>
                </label>
                @if (Model.RewardPointsEnoughToPayForOrder)
                {
                    <script type="text/javascript">
                        $(document).ready(function() {
                            PaymentMethod.toggleUseRewardPoints($('#@Html.FieldIdFor(model => model.UseRewardPoints)'));
                        });
                    </script>
                }
            </div>
        }
        @if (Model.PaymentMethods.Count > 0)
        {
            <div class="list-inline col-12 mt-2 mb-2 px-0" id="payment-method-block">
                @for (int i = 0; i < Model.PaymentMethods.Count; i++)
                {
                    var paymentMethod = Model.PaymentMethods[i];
                    var paymentMethodName = paymentMethod.Name;
                    if (!String.IsNullOrEmpty(paymentMethod.Fee))
                    {
                        paymentMethodName = T("Checkout.SelectPaymentMethod.MethodAndFee", paymentMethodName, paymentMethod.Fee).Text;
                    }

                    <div class="col-12 method-name px-0">
                        <label class="custom-control custom-radio flex-row">
                            <input id="paymentmethod_@(i)" type="radio" name="paymentmethod" value="@(paymentMethod.PaymentMethodSystemName)" checked="@paymentMethod.Selected" class="custom-control-input">
                            <span class="custom-control-indicator"></span>

                            @if (!String.IsNullOrEmpty(paymentMethod.LogoUrl))
                            {
                                <img src="@paymentMethod.LogoUrl" alt="@paymentMethodName" />
                            }
                            @if (!string.IsNullOrEmpty(paymentMethodName))
                            {
                                <span class="custom-control-description pl-3 pt-1">
                                    @paymentMethodName
                                </span>
                            }
                        </label>
                    </div>
                    if (!string.IsNullOrEmpty(paymentMethod.Description))
                    {
                        <div class="mb-4">
                            <span class="payment-description pl-4">@paymentMethod.Description</span>
                        </div>
                    }
                }
            </div>
            <div class="buttons">
                <div class="text-center" style="padding-top:15px; float:left; width:20px; font-size:18px;"><strong> OR </strong></div>
                <div class="butpaypal text-left" style="padding-left:400px;">
                     @Html.Partial("_ButtonPaymentMethod", Model)
                </div>
                
                @*<div class="col-xs-12 col-md-2">For Paypal Payment Click on Below Button.</div>*@
                

                <div class="clearfix"></div>
                @*<input type="submit" name="nextstep" value="@T("Checkout.NextButton")" class="button-1 payment-method-next-step-button" />*@
            </div>
        }
        else
        {
            <div class="message-error">
                @T("Checkout.NoPaymentMethods")
            </div>
        }
    </div>
    @Html.Widget("op_checkout_payment_method_bottom")
