﻿@model CheckoutPaymentInfoModel
@using Nop.Web.Models.Checkout;
<div class="checkout-data">
    <div class="col-12">
        @Html.Widget("op_checkout_payment_info_top")
        <div class="section payment-info">
            <div class="info">
                @Html.Action(Model.PaymentInfoActionName, Model.PaymentInfoControllerName, Model.PaymentInfoRouteValues)
            </div>
            @{
                var validationSummary = Html.ValidationSummary(false);
            }
            @if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
            {
                <div class="message-error">@validationSummary</div>
            }
        </div>
        @Html.Widget("op_checkout_payment_info_bottom")
        @if (Model.DisplayOrderTotals)
        {
            <div class="order-summary">
                @Html.Action("OrderSummary", "ShoppingCart")
            </div>
        }
    </div>
</div>
