﻿@model CheckoutShippingMethodModel
@using Nop.Web.Models.Checkout;
<div class="checkout-data">
    <div class="shipping-method my-3">
        @Html.Widget("op_checkout_shipping_method_top")
        @if (Model.Warnings.Count == 0)
        {
            <ul class="method-list">
                @for (int i = 0; i < Model.ShippingMethods.Count; i++)
                {
                    var shippingMethod = Model.ShippingMethods[i];
                    <li>
                        <label class="custom-control custom-checkbox">
                            <input id="shippingoption_@(i)" type="radio" name="shippingoption" value="@(shippingMethod.Name)___@(shippingMethod.ShippingRateComputationMethodSystemName)" checked="@shippingMethod.Selected" class="custom-control-input">
                            <span class="custom-control-indicator"></span>
                            <span  for="shippingoption_@(i)" class="custom-control-description">
                                @T("Checkout.SelectShippingMethod.MethodAndFee", shippingMethod.Name, shippingMethod.Fee)
                            
                                @if (!String.IsNullOrEmpty(shippingMethod.Description))
                                {
                                        @Html.Raw(shippingMethod.Description)
                                }
                            
                            </span>
                        </label>
                    </li>
                }
            </ul>
            if (Model.NotifyCustomerAboutShippingFromMultipleLocations)
            {
                <div class="multiple-locations">
                    @T("Checkout.ShippingMethod.ShippingFromMultipleLocations")
                </div>
            }
        }
        else
        {
            <div class="message-error">
                <ul>
                    @foreach (var warning in Model.Warnings)
                    {
                        <li>@warning</li>
                    }
                </ul>
            </div>
        }
        @Html.Widget("op_checkout_shipping_method_bottom")
    </div>
</div>
