﻿@model CheckoutPaymentMethodModel
@using Nop.Web.Models.Checkout;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Checkout").Text);
}
<div class="container">
    <div class="row">
        <div class="page checkout-page payment-method-page">
            @Html.Action("CheckoutProgress", "Checkout", new { step = CheckoutProgressStep.Payment })
            <h1 class="generalTitle">@T("Checkout.SelectPaymentMethod")</h1>
            @Html.Widget("checkout_payment_method_top")
            <div class="payment-method my-3">
                @using (Html.BeginRouteForm("CheckoutPaymentMethod", FormMethod.Post))
            {
                if (Model.DisplayRewardPoints && Model.PaymentMethods.Count > 0)
                {
                        <div class="use-reward-points pt-1 pb-1 pl-3">

                            <label class="custom-control custom-checkbox">
                                @Html.CheckBoxFor(model => model.UseRewardPoints, new { @class = "custom-control-input" })
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description align-self-center ml-4">@string.Format(T("Checkout.UseRewardPoints").Text, Model.RewardPointsBalance, Model.RewardPointsAmount)</span>
                            </label>
                            @if (Model.RewardPointsEnoughToPayForOrder)
                    {
                                <script type="text/javascript">
                            $(document).ready(function () {
                                $("#@Html.FieldIdFor(model => model.UseRewardPoints)").change(toggleUseRewardPoints);
                                toggleUseRewardPoints();
                            });
                            function toggleUseRewardPoints() {
                                if ($('#@Html.FieldIdFor(model => model.UseRewardPoints)').is(':checked')) {
                                    $('#payment-method-block').hide();
                                } else {
                                    $('#payment-method-block').show();
                                }
                            }
                                </script>
                            }

                        </div>
                    }
                    if (Model.PaymentMethods.Count > 0)
                    {
                        <ul id="payment-method-block">
                            @for (int i = 0; i < Model.PaymentMethods.Count; i++)
                    {
                        var paymentMethod = Model.PaymentMethods[i];
                        var paymentMethodName = paymentMethod.Name;
                        if (!String.IsNullOrEmpty(paymentMethod.Fee))
                        {
                            paymentMethodName = T("Checkout.SelectPaymentMethod.MethodAndFee", paymentMethodName, paymentMethod.Fee).Text;
                        }
                        <li>
                            <div class="col-12 method-name">
                                <label class="custom-control custom-radio">
                                    <input id="paymentmethod_@(i)" type="radio" name="paymentmethod" value="@(paymentMethod.PaymentMethodSystemName)" checked="@paymentMethod.Selected" class="custom-control-input">
                                    <span class="custom-control-indicator"></span>

                                    @if (!String.IsNullOrEmpty(paymentMethod.LogoUrl))
                                    {
                                        <img src="@paymentMethod.LogoUrl" alt="@paymentMethodName" />
                                    }
                                    @if (!string.IsNullOrEmpty(paymentMethod.Description))
                                    {
                                        <span class="custom-control-description pl-3 pt-1">
                                            @paymentMethod.Description
                                        </span>
                                    }
                                </label>
                            </div>
                            @if (!string.IsNullOrEmpty(paymentMethod.Description))
                            {
                                <div class="mb-4">
                                    <span class="payment-description pl-4">@paymentMethod.Description</span>
                                </div>
                            }
                        </li>
                            }
                        </ul>

                        <div class="col-12 buttons mt-1 mb-1">
                            <input type="submit" name="nextstep" value="@T("Checkout.NextButton")" class="btn btn-success new-address-next-step-button" />
                        </div>
                    }
                    else
                    {
                        <div class="message-error">
                            @T("Checkout.NoPaymentMethods")
                        </div>
                    }
                }
            </div>
            @Html.Widget("checkout_payment_method_bottom")
            <div class="order-summary">
                <h5>
                    <strong>@T("Checkout.OrderSummary")</strong>
                </h5>
                @Html.Action("OrderSummary", "ShoppingCart")
            </div>
        </div>
    </div>
</div>
