﻿@model CheckoutPaymentInfoModel
@using Nop.Web.Models.Checkout;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Checkout").Text);
}
<div class="container">
    <div class="row">
        <div class="page checkout-page payment-info-page">
            @Html.Action("CheckoutProgress", "Checkout", new { step = CheckoutProgressStep.Payment })
            <h2 class="generalTitle">@T("Checkout.PaymentInfo")</h2>
            @Html.Widget("checkout_payment_info_top")
            <div class="payment-info">
                @using (Html.BeginRouteForm("CheckoutPaymentInfo", FormMethod.Post))
            {
                var validationSummary = Html.ValidationSummary(false);
                if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
                {
                        <div class="message-error">@validationSummary</div>
                    }
                    <div class="info my-3">
                        @Html.Action(Model.PaymentInfoActionName, Model.PaymentInfoControllerName, Model.PaymentInfoRouteValues)
                    </div>
                    <div class="buttons pt-2 pb-3">
                        <input type="submit" name="nextstep" value="@T("Checkout.NextButton")" class="btn btn-success payment-info-next-step-button" />
                    </div>
                }
            </div>
            @Html.Widget("checkout_payment_info_bottom")
            <div class="order-summary">
                <h5 class="generalTitle"><strong>@T("Checkout.OrderSummary")</strong></h5>
                @Html.Action("OrderSummary", "ShoppingCart")
            </div>
        </div>
    </div>
</div>