﻿@model CheckoutShippingMethodModel
@using Nop.Web.Models.Checkout;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Checkout").Text);
}
<div class="container">
    <div class="row">
        <div class="page checkout-page shipping-method-page">
            @Html.Action("CheckoutProgress", "Checkout", new { step = CheckoutProgressStep.Shipping })
            <h1 class="generalTitle">@T("Checkout.SelectShippingMethod")</h1>
            <div class="shipping-method">
                @using (Html.BeginRouteForm("CheckoutShippingMethod", FormMethod.Post))
            {
                    @Html.Widget("checkout_shipping_method_top")
                    if (Model.Warnings.Count == 0)
                    {
                        <ul class="method-list">
                            @for (int i = 0; i < Model.ShippingMethods.Count; i++)
                            {
                                var shippingMethod = Model.ShippingMethods[i];
                                <li>
                                    <label class="custom-control custom-checkbox">
                                        <input id="shippingoption_@(i)" type="radio" name="shippingoption" value="@(shippingMethod.Name)___@(shippingMethod.ShippingRateComputationMethodSystemName)" checked="@shippingMethod.Selected" class="custom-control-input">
                                        <span class="custom-control-indicator"></span>
                                        <span for="shippingoption_@(i)" class="custom-control-description">
                                            @T("Checkout.SelectShippingMethod.MethodAndFee", shippingMethod.Name, shippingMethod.Fee)
                                            @if (!String.IsNullOrEmpty(shippingMethod.Description))
                                            {
                                                @Html.Raw(shippingMethod.Description)
                                            }
                                        </span>
                                    </label>
                                </li>
                            }
                        </ul>
                        if (Model.NotifyCustomerAboutShippingFromMultipleLocations)
                        {
                            <div class="multiple-locations">
                                @T("Checkout.ShippingMethod.ShippingFromMultipleLocations")
                            </div>
                        }
                        <div class="buttons mb-3">
                            <input type="submit" name="nextstep" value="@T("Checkout.NextButton")" class="btn btn-success mt-1 mb-1 shipping-method-next-step-button" />
                        </div>
                    }
                    else
                    {
                        <div class="message-error">
                            <ul>
                                @foreach (var warning in Model.Warnings)
                                {
                                    <li>@warning</li>
                                }
                            </ul>
                        </div>
                    }
                    @Html.Widget("checkout_shipping_method_bottom")
                }
            </div>
            <div class="order-summary">
                <h5 class="generalTitle"><strong>@T("Checkout.OrderSummary")</strong></h5>
                @Html.Action("OrderSummary", "ShoppingCart")
            </div>
        </div>
    </div>
</div>
