@charset "utf-8";
/* CSS Document */

@font-face {
	font-family: 'Open Sans', sans-serif;;
	src: url('../fonts/MyriadPro-Regular.eot');
	src: local('☺'), url('../fonts/MyriadPro-Regular.woff') format('woff'), url('../fonts/MyriadPro-Regular.ttf') format('truetype'), url('../fonts/MyriadPro-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
} 


/*---24-6-2019--*/

#main-categories .wsmenu {
   
     max-width: 100%;

}

/*rating section*/
.product-rating-box {
width:100%; float:left; text-align:center;
    display: none;
}
.product-rating-box div, .disp_review {display:inline-block; margin-right:0px; position:relative; }

.product-rating-box .rating div{background-position:center top; height:17px;}
 
/*homepage slider*/
.slick-slide {
    margin: 10px 0px;
}

.slick-slide img {
    width: auto;
    max-width:100%;
}

.slick-slider
{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
    overflow:hidden;
}

.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0 15px 0 15px;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.clearfix {
clear:both;
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;
    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
.slick-prev {
position:absolute; left:0px; z-index:999; top:46px;
background-image: url('../images/ar_sprite.png'); border:none;
background-repeat:no-repeat; background-position:2px center; overflow:hidden; text-indent:-200px; background-color:#fff; width:11px; height:15px;
}

.slick-next {
    background-image: url('../images/ar_sprite.png'); background-color:#fff;
    background-repeat:no-repeat; background-position:-9px center;
    position: absolute; overflow:hidden; text-indent:-200px;
    right: 0px;
    z-index: 999;
    top: 46px; width:11px; height:15px;
    border: none;
}

.x1 p, .x2 p, .x3 p, .x4 p {
background:url('../images/homefotericon.png') no-repeat; width:52px; height:52px;float:left; padding-left:55px; width:100%; box-sizing:border-box;
}
.x1 p{
background-position:left top; padding-top:6px;
}
.x2 p{
background-position:left -55px; padding-top:18px;
}
.x3 p{
background-position:left -108px; padding-top:18px;
}
.x4 p{
background-position:left -160px; padding-top:18px;
}
#footer-block-about-us .container {
padding:0px;
}
#footer-block-about-us .cvb, #footer-block-about-us .generalMarginSupporter, #footer-block-about-us .x1 p {
width:100%; max-width:inherit; 
}
#footer-block-about-us .generalMarginSupporter {
margin:0px;
}


.wizard {
width:100%; float:left; box-sizing:border-box; height:auto; 
}

.wizard-header li.done a {
  color: #777; }

.wizard-header {
position:absolute; bottom:0px; left:0px; z-index:9999;background:#fff; 
}

/*design by amrinder*/
.wizard-content {
  overflow: hidden;
  position: relative; width:100%; float:left; box-sizing:border-box;
   height:auto;
  padding:20px 0; }
/*design by amrinder*/

.wizard-step {
  position: absolute;
  width: 100%;
  left: 100%;
  opacity: 0;
  -webkit-transition: left 0.5s ease-in-out, opacity 0.5s ease;
  transition: left 0.5s ease-in-out, opacity 0.5s ease; }
  .wizard-step.done {
    left: -100%;
    z-index: -1;
    opacity: 0; }
  .wizard-step.active {
    left: 0;
    z-index: 1;
    opacity: 1; }
  .wizard-step.active + .wizard-step {
    left: 100%;
    z-index: 0; }

#resgister_nform {
padding-top:50px;
}
#Register_sidebar {
    border:solid 1px #c2d9e6;
}
  #Register_sidebar h4{font-family:'Open Sans', sans-serif;; font-size:20px; font-weight:bold; color:#0b679a;}
  #Register_sidebar h5{font-family:'Open Sans', sans-serif;; font-size:18px; font-weight:bold; color:#808080; margin-top:25px;}
#Register_sidebar ul {
list-style:none; margin:0; padding:0; 
}
    #Register_sidebar ul li {
        padding:10px 0; border-bottom:solid 1px #c2d9e6;
    }
 #Register_sidebar ul li a:hover {
            color:#0b679a;
}
.registration-page .reg_head {
border-top:solid 1px #c2d9e6; color:#0b679a; margin-top:0px !important; margin-bottom:0px !important; padding:10px 0px; font-size:1.6em;
}
.wizard-header ul.nav {float:left; width:auto; box-sizing:border-box; padding:0px 10px;
}
    .wizard-header ul.nav li { float:left; width:auto; padding:5px 80px 5px 5px;
         background-image: url("../images/widget_arrow.png"); background-position:95% 81%;
         background-repeat:no-repeat; 
    }
        .wizard-header ul.nav li.active {
            float: left;
            width: auto;
            padding: 5px 80px 5px 5px;
            background-image: url('../images/progres_Warrow.png');
            background-position: 95% 81%;
            background-repeat: no-repeat;
        }
    .wizard-header ul.nav li a {
        background:#0b679a; color:#fff; font-family:'Open Sans', sans-serif;; font-weight:bold; padding:5px 13px;
        }
.wizard-header ul.nav li.active a {
        background:#7ac245; color:#fff; font-family:'Open Sans', sans-serif;; font-weight:bold; padding:5px 13px;
        }

        .wizard-header ul.nav li:last-child, .wizard-header ul.nav li:last-child.active {
        background:none;
        }
#messages fieldset, #messages .card-block, #messages .form-group {
margin-bottom:0px; padding-bottom:0px !important;
}
.dis_label label{float:left; box-sizing:border-box; padding:5px 20px 5px 0px; font-family:'Open Sans', sans-serif;; font-weight:400; color:#808080;}
    .dis_label label input {
    float: left;
    width: auto !important;
    height: 25px !important;
    margin: 0px 5px 0 0;
    }
.dis_label p {
padding-top:5px; margin-bottom:3px; font-family:'Open Sans', sans-serif;; font-weight:500; font-size:16px; color:#808080;
}
.wizard-header .wizard-next {
margin-top:28px; padding:5px 20px;
}
#step3 .custom-select.form-control, #messages .custom-select.form-control {
width:100%; height:33px !important;
}
.def_add label {
width:100%; text-align:left !important;
}    
.def_add label input, .def_add label span  {
    width:auto !important; float:left; height:25px; line-height:26px; padding-right:15px; color:#999999;
    }
 
.wizard-next {  
position:absolute; right:0px; bottom:0px; font-family:'Open Sans', sans-serif;;  
}




#register-button {
    background:#5cb85c; color:#fff; position:absolute; right:0px; bottom:0px; max-width:80px; padding:1.2rem 0rem; line-height:2px;
    border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; -o-border-radius:5px; margin-bottom:0px !important;
    font-family:'Open Sans', sans-serif;; font-size:16px; border:none;
}

/*product details page*/
.product-details-page .availability .stock .value {
    background:#ff1926; padding:8px 25px; color:#fff; font-family:'Open Sans', sans-serif;; font-size:18px;
    -moz-border-radius:5px; -webkit-border-radius:5px; -o-border-radius:5px; border-radius:5px;
}
.product-details-page .old-product-price {
    float: left;
    /* width: auto; */
    box-sizing: border-box;
    padding: 10px 0;
    display: inline-block;
    width: 100%;
}
.product-price span {
    font-size: 28px;
}
.product-details-page .product-price {
    float:left; width:auto; box-sizing:border-box; padding:10px 0;
}
    .product-details-page .product-price label {
    color:#0b679a;
    }
.product-details-page .short-description.generalMarginSupporter {
    font-size:17px; font-family:'Open Sans', sans-serif;; font-weight:normal; color:#808080; padding:15px 0;
}
.product-details-page .overview-buttons.generalMarginSupporter {
    margin-top:20px;
}

#product-details-form .nav-tabs li.nav-item a.nav-link {
margin-right:0px; background:#fff; min-width:223px; text-align:center; border-color:#c2d9e6 !important;
    text-transform: capitalize;
}
    #product-details-form .nav-tabs li.nav-item a.active, #product-details-form .nav-tabs li.nav-item a:hover {
    background:#0b679a; color:#fff;
    }
#product-details-form .tab-content {
border-color:#c2d9e6 !important;
}
ol li.breadcrumb-item.active strong {
color:#0b679a;
}

/*product details page end*/
.abot_us p {
font-family:'Open Sans', sans-serif;; font-size:16px; color:#808080; font-weight:400;
}
.abot_us .col-md-9 {
border-top:solid 1px #c2d9e6; padding-top:10px;
}

.topic-page #ph-title h1 {
font-size:2em; color:#0b679a; padding:15px 0px 0px 15px;
}

#block-category-navigation .shopping-options {
display:none;
}
.sideleft h2{color: #707070;
    font-size: 16px;
    margin: 0px 0px 20px !important;
    font-weight: bold;
	    text-transform: capitalize;
}

.sideleft .block {
margin-bottom:20px; display:block;
}

#block-category-navigation ul.list {
list-style:none; padding:0px !important; width:100%; float:left; margin-bottom:20px;
}
#block-category-navigation ul.sublist {
list-style:none;
 margin:0px 0px 8px !important; padding:0px 0px 0px 0px !important; background:#fff; float:left; width:100%;
}
  #block-category-navigation ul.list li a {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: #0B679A;
    background: url(../images/drop-down-arrow.png) no-repeat right 7px center;
    width: 100%;
    float: left;
    padding: 5px 10px;
    background-color: #F7F7F7;
    margin-bottom: 2px;
    font-weight: bold;
}
    #block-category-navigation ul.list li.active a {
    color:#0b679a; font-weight:bold;
    }

#block-category-navigation li.active ul.sublist li a {
border-bottom: 1px solid #ddd; background:none; color:#808080; font-weight:400;
    line-height: 32px;
    padding-top: 0;
    padding-bottom: 0;
}
    #block-category-navigation li.active ul.sublist li.inactive:hover a{ color:#0b679a;}

.category-page .categoryItems .card h2 {
    color: #0B679A;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
	 font-family: 'Open Sans', sans-serif;
    line-height: 22px;
}
.lft_logo {
margin-top:10px !important;
}

/*design by amrinder*/
.lft_banner a img{
    display:block;
    margin:0 auto;
}
.lft_logo a img{
    display:block;
    margin:0 auto;
}
/*design by amrinder*/


.xtitle span{width:100%; border-bottom:solid 1px #808080; height:16px; display:inline-block;}
    .xtitle span strong {
    background:#fff; padding:8px 10px;
    }
.cartTable table tr td .remove-from-cart {
    float:left; width:auto;
}
    .cartTable table tr td .remove-from-cart fieldset {
    padding-left:0px; padding-right:0px;
    }

#checkout-step-billing, #checkout-step-shipping-method, #checkout-step-payment-method, #checkout-step-payment-info, #checkout-step-confirm-order {
margin:0px 0px 5px; !important; background:#ffffff; box-sizing:border-box; padding:10px;
}
.ad_imgclos {
background:#fff; width:100%; height:auto; min-height:300px;
}
.adres_side {
border:solid 1px #c2d9e6; min-height:50px; height:275px;
}

    .adres_side h3 {
    font-family: 'Open Sans', sans-serif; font-size:1.4em; color:#0b679a; margin:10px 0;
    }
    .adres_side p {
    font-family: 'Open Sans', sans-serif; font-size:0.9em; color:#808080;
    }
.wishlist-content .tax-shipping-info a {
color:#0b679a;
}
.global_blue_color {
color:#0b679a !important;
}
.wishlist-page .generalTitle {
    font-size:1.5em;
}

.generalSideRight h2.generalTitle {
 font-size:1.2em; color:#0b679a; border-top:solid 1px #c2d9e6; margin:0 0 10px; padding:10px 0  0;
}

.wishlist-content .btn-section button.btn-success, .wishlist-content .btn-section button.btn-secondary, 
#billing-buttons-container input[type="button"].new-address-next-step-button, 
#payment-method-buttons-container input[type="button"].payment-method-next-step-button,
 #payment-method-buttons-container a.btn-secondary{
-moz-border-radius:3px; -o-border-radius:3px; -webkit-border-radius:3px; color:#fff;
border-radius:3px; background:#ccc; margin-right:10px; font-family: 'Open Sans', sans-serif;
}

#billing-buttons-container input[type="button"].new-address-next-step-button:hover,
#payment-method-buttons-container input[type="button"].payment-method-next-step-button:hover,
#payment-method-buttons-container a.btn-secondary:hover{
    background:#0b679a;
    color:#fff;
} 


#payment-info-buttons-container input[type="button"].payment-info-next-step-button,
 #payment-info-buttons-container a.btn-secondary{
-moz-border-radius:3px; -o-border-radius:3px; -webkit-border-radius:3px; color:#fff;
border-radius:3px; background:#ccc; margin-right:10px; font-family: 'Open Sans', sans-serif;
}
#confirm-order-buttons-container input[type="button"].confirm-order-next-step-button,
#confirm-order-buttons-container a.btn-secondary{
-moz-border-radius:3px; -o-border-radius:3px; -webkit-border-radius:3px; color:#fff;
border-radius:3px; background:#ccc; margin-right:10px; font-family: 'Open Sans', sans-serif;
}
#confirm-order-buttons-container input[type="button"].confirm-order-next-step-button:hover,
#confirm-order-buttons-container a.btn-secondary:hover {
    background:#0b679a;
    color:#fff;
}

#payment-info-buttons-container input[type="button"].payment-info-next-step-button:hover,
#payment-info-buttons-container a.btn-secondary:hover {
    background:#0b679a;
    color:#fff;
}
.order-totals .total-info tr td {
padding-top:5px; padding-bottom:5px;
}

label[for="termsofservice"] {font-size:0.9em;
}
.order-totals .summary-title span, .product-overview .cartTable th {
color:#0b679a;
}

.product-overview .cartTable .remove-from-cart .custom-control-description span{
    color:#0b679a;
}

#ph-topic .page-title h1 {
padding-left:0px;
}
.mclosenew {
margin:0px; list-style:none; padding:0px;
}

.phead{
    text-decoration:underline;
}

.paddr{
    padding-left:20px;
}

ul.plist {
list-style:none; margin:0px; padding:0px;
}

    ul.plist li {
    width:100%; float:left; padding:5px 0px; box-sizing:border-box;
    }

    ul.plist2 li{
        list-style:disc;
    }

    ul.plist li div{padding-left:10px;}

.disp_review span {
    top: -4px;
    position: relative;
}

.frt1 .fa {
display:block; color:#0b679a;
}
.frt2 .fa {
display:block; color:#0b679a;
}

#main-categories li ul.first-level span.fa-angle-down {
display:block;
}

#main-categories .dropdown-toggle::after {
border:none !important;
}

#main-categories .fa.fa-angle-down {
    position: absolute;
    right: 8px;
    top: 12px;
}
#main-categories li ul.first-level li {
padding:5px;
}

#main-categories .dropdown-menu.next-level li.dropdown .dropdown-menu.next-level {
display:none;
}
#main-categories .dropdown-menu.next-level li.dropdown.show .dropdown-menu.next-level {
display:block;
}

/*.payment-method .mb-4 + .method-name, .payment-method .mb-4 + .method-name + .mb-4, .payment-method .method-name, .payment-method .mb-4 {
display:none !important;
}*/

#checkout-step-payment-method .worldpay_button, #checkout-step-payment-method .paypal_button {
width:25%; float:left; margin-bottom:20px; 
}
 .paypal_button {
padding-top:0px; text-align:left; height:100px; margin-top:10px;
}
.worldpay_button {
padding-top:0px; text-align:right; margin-top:14px;
}
    .worldpay_button input[type="submit"] {
    background:url(../images/world_pay_button.png) no-repeat center center; text-indent: -200px;
    background-size: 100% auto;
    overflow: hidden;
    width: 136px; height:auto !important;
    border: solid 0px #f1f1f1 !important;
    padding: 24px 10px !important;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%); transition:0.3s linear; -webkit-transition:0.3s linear; -moz-transition:0.3s linear; -o-transition:0.3s linear;
    -moz-border-radius:5px; border-radius:5px; -o-border-radius:5px; -webkit-border-radius:5px; -webkit-box-shadow:1px 1px 10px 1px rgba(0, 0, 0, 0.3);
    box-shadow:1px 1px 10px 1px rgba(0, 0, 0, 0.3);
    }

        .worldpay_button input[type="submit"]:hover, .worldpay_button input[type="submit"]:focus {
        padding: 24px 10px !important;
        width: 136px; height:auto !important;
        -webkit-filter: grayscale(0); /* Safari 6.0 - 9.0 */
    filter: grayscale(0);
    border: solid 0px #e1e1e1 !important; outline:none;
    -moz-border-radius:5px; border-radius:5px; -o-border-radius:5px; -webkit-border-radius:5px;
        }

/*#grandModal + .addon-buttons #payPalExpressCheckoutImage {
display:none !important;
}*/

.checkout-page h2.generalTitle {
padding:20px 0px;
}


#payPalExpressCheckoutImage {
       -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    transition: 0.3s linear;
    -webkit-transition: 0.3s linear;
    -moz-transition: 0.3s linear;
    -o-transition: 0.3s linear; margin-top:5px;
}


#payPalExpressCheckoutImage:hover, #payPalExpressCheckoutImage:focus {
                  -webkit-filter: grayscale(0); /* Safari 6.0 - 9.0 */
    filter: grayscale(0);
    border: none !important; margin-top:5px; outline:none;
    
        }


.payment-method .list-inline {
width:25%; float:left;

}
    .payment-method .list-inline .custom-control-description {
    display:none !important;
    }

    .payment-method .list-inline img {
    margin-top:-10px;  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%); transition:0.3s linear; -webkit-transition:0.3s linear; -moz-transition:0.3s linear; -o-transition:0.3s linear;
    }

    .payment-method .list-inline img:hover {
      -webkit-filter: grayscale(0); /* Safari 6.0 - 9.0 */
    filter: grayscale(0); transition:0.3s linear; -webkit-transition:0.3s linear; -moz-transition:0.3s linear; -o-transition:0.3s linear;
    }


.col-lg-3.order-totals .table tr td.col-6 {
max-width:inherit;
}

.contact-page .row > .generalMarginSupporter{width:100%;}
.cvb{position:relative;}

.triton_logo{position:absolute; top:41.3%; left:134px;}
.hel_logo{position:absolute; top:52.5%; left:167px;}
    


/*responsive*/
@media (min-width:1000px){
    .wizard-content {
  min-height: 700px; 
      }

#small-search-box-form {
    width: 77%;
}
.search-switcher {
display:none;
}
#search_mini_form {
  z-index: 2;
  position: relative;
  background: #fff;
  right: 0px;
  top: 0px;
  padding: 20px;
  opacity: 1;
  visibility: visible;
  transition: all .2s linear;
  box-shadow:none;
  border-top:none;
}

#search_mini_form .search {
  width: auto;
  height: 40px;
  background: #fff; margin-right:50px;
  position: relative;
  padding-right: 40px; margin-top:-10px;
  border: 1px solid #f1f1f1;
}
#search_mini_form .search input {
  width: 100%;
  border: 0;
  color: #999999;
  padding: 5px;
}
#search_mini_form .search input:focus {
  box-shadow: none;
  outline: none
}
#search_mini_form .search button {
  position: absolute;
  right: 5px;
  top: 3px;
  padding: 0;
  width: 32px;
  height: 32px;
  font-size: 15px;
  background: #0b679a; -moz-border-radius:50%; -webkit-border-radius:50%; -o-border-radius:50%; border-radius:50%;
  border: 0;
  color: #fff !important;
}
#search_mini_form .search button span {
    color: #fff;
}
#search_mini_form .search button:focus {
  box-shadow: none;
}
.search-button {
    border: 0;
    background: #cccccc;
    color: #fff;
    border-radius:3px;
}
.search-button:hover {
    background-color: #0b679a;
}
/*product page*/
.product-details-page .product-price label, .product-details-page .old-product-price label {
font-family:'Open Sans', sans-serif;   
  font-size: 14px;
    font-weight: 300;
    color: #707070;
}
#product-details-form .tab-content p {
font-family:'Open Sans', sans-serif; font-size:14px; font-weight:400; color:#808080;
}
.manufacturers span.label { color:#808080; font-size:25px; font-weight:400;}
.manufacturers span.value a{ color:#0b679a; font-size:25px; font-weight:bold;}

#orddisc + span.collapse-totals:after {
margin-right:-50px;
}

/*product page*/
/*design by amrinder*/
.category-page .categoryItems .main_imgext, .main_imgext {
width:100%;
 height:250px; 
 overflow:hidden; 
 /* border:solid 1px #f1f1f1; */
 text-align:center;
}
.page .img-fluid {
    width: auto;
}
.category-page .categoryItems .main_imgext, .main_imgext img {
    border-radius: 0;
    object-fit: contain;
    height: 250px;
    object-position: center;
    /* padding: 5px; */
	margin: 0 auto;
}
#profile, #messages, #step3 {
min-height:675px;
}
/*.triton_logo{
position: absolute;
    top: 41.3%;
    left: 70px;
    right: 70px;}

/*design by amrinder*/

}


@media (max-width:1900px){
	.triton_logo{position: absolute;
    top: 41.3%;
    left: 92px;
    right: 92px;}
	.hel_logo{
		    position: absolute;
    top: 52.5%;
    left: 114px;
    right: 114px;
	}
}



@media (max-width:1300px){
	.triton_logo{position: absolute;
    top: 41.3%;
    left: 73px;
    right: 73px;}
	.hel_logo{
		    position: absolute;
    top: 52.5%;
    left: 89px;
    right: 89px;
	}
}



@media (max-width:991px){
	.triton_logo{position: absolute;
    top: 41.3%;
    left: 84px;
    right: 81px;}
	
	.hel_logo{
		position: absolute;
    top: 52.5%;
    left: 100px;
    right: 100px;
	}
	
}



