﻿@model Nop4you.Plugin.Misc.Theme.Models.ThemeModel
@using Nop.Web.Framework.UI;
@using Nop.Web.Framework;

@{
    Layout = "~/Administration/Views/Shared/_AdminLayout.cshtml";
    //page title
    ViewBag.Title = T("Nop4you.Plugin.Misc.Theme.Create").Text;
    Html.SetActiveMenuItemSystemName("ThemeEditorManager");
}

@using (Html.BeginForm("Create", "Plugins/Theme/Editor", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Nop4you.Plugin.Misc.Theme.Create")
        </h1>
        <div class="pull-right">
            <input type="submit" name="save" class="btn bg-blue" value="@T("Admin.Common.Save")" />
        </div>
    </div>
    @Html.ValidationSummary(false)

    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">

                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.Name)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.Name)
                                @Html.ValidationMessageFor(model => model.Name)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.Title)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.Title)
                                @Html.ValidationMessageFor(model => model.Title)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.PreviewText)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.PreviewText)
                                @Html.ValidationMessageFor(model => model.PreviewText)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.SupportRTL)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.SupportRTL)
                                @Html.ValidationMessageFor(model => model.SupportRTL)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.ImageFile)
                            </div>
                            <div class="col-md-9">
                                @Html.TextBoxFor(model => model.ImageFile, new { type = "file", accept = ".jpg" })
                                @Html.ValidationMessageFor(model => model.ImageFile)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


}
