﻿@model Nop4you.Plugin.Misc.Theme.Models.ThemeModel

@using Nop.Web.Framework.UI;
@using Nop.Web.Framework;

@{
    Layout = "~/Administration/Views/Shared/_AdminLayout.cshtml";
    //page title
    ViewBag.Title = T("Nop4you.Plugin.Misc.Theme.EditTheme").Text;
    Html.SetActiveMenuItemSystemName("ThemeEditorManager");
    Html.AddCssFileParts("~/Plugins/Misc.ThemeEditor/Content/style.css");
    Html.AddScriptParts("~/Plugins/Misc.ThemeEditor/Content/ace/ace.js");

    Html.AddCssFileParts("~/Administration/Scripts/fineuploader/fineuploader-4.2.2.min.css");
    Html.AddScriptParts("~/Administration/Scripts/fineuploader/jquery.fineuploader-4.2.2.min.js");

}

@using (Html.BeginForm())
{
    <div class="content-header clearfix">
        <h1 class="pull-left">
            <div class="content-header clearfix">
                <h1 class="pull-left">
                    @Model.Name - @Model.Title
                    <small><i class="fa fa-arrow-circle-left"></i>@Html.ActionLink(T("Nop4you.Plugin.Misc.Theme.BackToList").Text, "Configure", "Plugins/Theme/Editor")</small>
                </h1>
            </div>
        </h1>
    </div>
    <div class="content">

        <div id="horizontal">
            <div id="left-pane">
                <div class="pane-content">
                    <div id="theme-treeview"></div>
                </div>
            </div>
            <div id="right-pane" style="width: 80%;">
                <div class="pane-content">
                    <div class="filehelper">
                        <h3>@T("Nop4you.Plugin.Misc.Theme.Help")</h3>
                        <div><span class="k-sprite folder folderNotExist"></span>@T("Nop4you.Plugin.Misc.Theme.Help1")</div>
                        <div><span class="k-sprite folder"></span>@T("Nop4you.Plugin.Misc.Theme.Help2")</div>
                        <div><span class="k-sprite cshtml fileNotExist"></span>@T("Nop4you.Plugin.Misc.Theme.Help3")</div>
                        <div><span class="k-sprite cshtml"></span>@T("Nop4you.Plugin.Misc.Theme.Help4")</div>
                    </div>
                    <div class="filefolder">
                        <div class="filefolder-buttons">
                            <button type="button" name="newFolder" id="newFolder" class="btn bg-blue" data-toggle="modal" data-target="#ModalNewFolder">
                                <i class="fa fa-plus-square"></i>
                                @T("Nop4you.Plugin.Misc.Theme.EditTheme.AddNewFolder")
                            </button>
                            <button type="button" name="removefolder" id="removefolder" class="btn bg-red">
                                <i class="fa fa-trash-o"></i>
                                @T("Admin.Common.Delete")
                            </button>

                            <div id="download">
                                <noscript>
                                    <p>
                                        Please enable JavaScript to use file uploader.
                                    </p>
                                    <!-- or put a simple form for upload here -->
                                </noscript>
                            </div>
                        </div>
                        <script type="text/template" id="download-qq-template">
                            <div class="qq-uploader-selector qq-uploader">
                                <div class="qq-upload-drop-area-selector qq-upload-drop-area" qq-hide-dropzone>
                                    <span>@T("Common.FileUploader.DropFiles")</span>
                                </div>
                                <div class="qq-upload-button-selector qq-upload-button">
                                    <div>@T("Common.FileUploader.Upload")</div>
                                </div>
                                <span class="qq-drop-processing-selector qq-drop-processing">
                                    <span>@T("Common.FileUploader.Processing")</span>
                                    <span class="qq-drop-processing-spinner-selector qq-drop-processing-spinner"></span>
                                </span>
                                <ul class="qq-upload-list-selector qq-upload-list">
                                    <li>
                                        <div class="qq-progress-bar-container-selector">
                                            <div class="qq-progress-bar-selector qq-progress-bar"></div>
                                        </div>
                                        <span class="qq-upload-spinner-selector qq-upload-spinner"></span>
                                        <span class="qq-edit-filename-icon-selector qq-edit-filename-icon"></span>
                                        <span class="qq-upload-file-selector qq-upload-file"></span>
                                        <input class="qq-edit-filename-selector qq-edit-filename" tabindex="0" type="text">
                                        <span class="qq-upload-size-selector qq-upload-size"></span>
                                        <a class="qq-upload-cancel-selector qq-upload-cancel" href="#">@T("Common.FileUploader.Cancel")</a>
                                        <a class="qq-upload-retry-selector qq-upload-retry" href="#">@T("Common.FileUploader.Retry")</a>
                                        <a class="qq-upload-delete-selector qq-upload-delete" href="#">@T("Common.FileUploader.Delete")</a>
                                        <span class="qq-upload-status-text-selector qq-upload-status-text"></span>
                                    </li>
                                </ul>
                            </div>
                        </script>
                        <script type="text/javascript">

                    $(document).ready(function () {
                        $("#download").fineUploader({
                            request: {
                                endpoint: '@(Url.Action("AsyncUpload", "Plugins/Theme/Editor", new { area = "admin" }))'
                            },
							callbacks: {
								onSubmit: function(id, fileName) {
									this.setParams({path: selectedFolder });
								}
							},
                            template: "download-qq-template",
                            multiple: false
                        }).on("complete", function (event, id, name, responseJSON, xhr) {
							location.reload();
                        });
                    });

                        </script>




                    </div>
                    <div class="fileimage">
                        <div class="btn-fileeditor">
                            <button type="button" name="delete-file" id="delete-file" class="btn bg-red">
                                <i class="fa fa-trash-o"></i>
                                @T("Admin.Common.Delete")
                            </button>
                        </div>
                        <img id="preview-img" class="preview-img" src="" />
                    </div>
                    <div class="fileeditor">
                        <div class="btn-fileeditor">
                            <button type="button" name="save" id="save" class="btn bg-blue">
                                <i class="fa fa-floppy-o"></i>
                                @T("Admin.Common.Save")
                            </button>
                            <button type="button" name="restore" id="restore" class="btn bg-green" style="display:none">
                                <i class="fa fa-reply"></i>
                                @T("Admin.Common.Restore")
                            </button>
                            <button type="button" name="delete" id="delete" class="btn bg-red">
                                <i class="fa fa-trash-o"></i>
                                @T("Admin.Common.Delete")
                            </button>
                        </div>
                        <pre id="editor"></pre>

                    </div>
                </div>
            </div>
        </div>
    </div>



    <script>
        var editor = ace.edit("editor");
        editor.setTheme("@Model.Style");

		editor.commands.addCommand({
			name: 'back',
			bindKey: {win: 'Ctrl-Z',  mac: 'Command-Z'},
			exec: function(editor) {
			},
			readOnly: true
		});

        @if(Model.HighLightActiveLine)
        {
            <text>editor.setHighlightActiveLine(true);</text>
        }
		else
		{
            <text>editor.setHighlightActiveLine(false);</text>
		}
        @if(Model.ShowInvisible)
        {
            <text>editor.setShowInvisibles(true);</text>
        }
		else
		{
		    <text>editor.setShowInvisibles(false);</text>
		}
        @if(Model.ShowIndentGuides)
        {
            <text>editor.setDisplayIndentGuides(true);</text>
        }
		else
		{
			<text>editor.setDisplayIndentGuides(false);</text>
		}
        @if(Model.ShowGutter)
        {
            <text>editor.renderer.setShowGutter(true);</text>
        }
		else
		{
		    <text>editor.renderer.setShowGutter(false);</text>
		}

        @if(Model.AnimateScrolling)
        {
            <text>editor.setAnimatedScroll(true);</text>
        }
		else
		{
		    <text>editor.setAnimatedScroll(false);</text>
		}

        @if(Model.FontSize > 0)
        {
            <text>editor.setFontSize("@(Model.FontSize)px");</text>
        }

        editor.getSession().setMode("ace/mode/javascript");
        editor.setShowPrintMargin(false);
    </script>



    <script>
        $(document).ready(function () {
            $("#horizontal").kendoSplitter({
                panes: [
                    { collapsible: true, size: "20%" },
                    { collapsible: true, resizable: true },
                ]
            });
            $("#horizontal").height($(window).height() - 2);
            var splitter = $("#horizontal").data("kendoSplitter");
            splitter.resize(true);

        });
    </script>


    <script>
				var selectFile = '';
				var selectedFolder = '';
                var selectOriginalFile = '';
                categories = new kendo.data.HierarchicalDataSource({
                    transport: {
                        read: {
                            url: "@Html.Raw(Url.Action("TreeLoadChildren", "Plugins/Theme/Editor", new { theme = Model.Name }))",
                            type: "POST",
                            dataType: "json"
                        }
                    },
                    schema: {
                        model: {
                            id: "Id",
                            hasChildren: "hasChildren"
                        }
                    }
                });

                $(document).ready(function() {
                    $("#theme-treeview").kendoTreeView({
                        dataSource: categories,
                        dataTextField: "Name",
                        select: function (e) {
                            var itemId = e.item;
                            var dataItem = this.dataItem(e.node);
							selectedFolder = dataItem.Id;
							$('.filehelper').hide();
							if(!dataItem.fileType.includes("folder"))
							{
							    $('.filefolder').hide();
								$('#restore').hide();

								selectFile = dataItem.Id;
                                selectOriginalFile = dataItem.OriginalPath;
								if(dataItem.fileType=="image")
								{
									var file = dataItem.Id.substr(dataItem.Id.indexOf( 'Themes' ) );
									file = window.location.origin + "/"+file.replace(/\\/g,"/");
									$('#preview-img').attr("src", file);
									$('.fileimage').show();
									$('.fileeditor').hide();
								}
								else
								{
									$('.fileimage').hide();
									$.ajax({
										cache: false,
										url: "@Url.Action("GetText", "Plugins/Theme/Editor")",
										data: { 'path': dataItem.id, 'originalPath': dataItem.OriginalPath },
										type: 'POST',
										success: function (response) {
											if(dataItem.fileType=="css")
											{
												editor.getSession().setMode("ace/mode/css");
											}
											if(dataItem.fileType=="js")
											{
												editor.getSession().setMode("ace/mode/javascript");
											}
											if(dataItem.fileType=="cshtml")
											{
												$('#restore').show();
												editor.getSession().setMode("ace/mode/csharp");
											}
											if(dataItem.fileType=="html")
											{
												editor.getSession().setMode("ace/mode/html");
											}
											if(dataItem.fileType=="xml")
											{
												editor.getSession().setMode("ace/mode/xml");
											}
											if(dataItem.fileType=="file")
											{
												editor.getSession().setMode("ace/mode/xml");
											}
											editor.setValue(response);
										}
									});
									$('.fileeditor').show();
								}
							}
							else
							{
								$('.fileimage').hide();
								$('.fileeditor').hide();
								$('.filefolder').show();

							}
                        }
                    });
                });

    </script>

    <script type="text/javascript">
        $(document).ready(function () {

            $('#folderName').keypress(function (event) {
                if (event.keyCode == 13) {
                    event.preventDefault();
                }
            });

			$('#save').click(function () {
				$.ajax({
					cache: false,
					url: "@Url.Action("SaveText", "Plugins/Theme/Editor")",
					data: { 'path': selectFile, 'originalpath': selectOriginalFile, 'content': editor.getValue()},
					type: 'POST',
					success: function (response) {
						alert(response);
					}
				});
				return false;
			});
            $('#delete').click(function () {
                if (confirm('@T("Admin.Common.AreYouSure")')) {
                    $.ajax({
                        cache: false,
                        url: "@Url.Action("DeleteFile", "Plugins/Theme/Editor")",
                        data: { 'path': selectFile},
                        type: 'POST',
                        success: function (response) {
                            alert(response);
                            location.reload();
                        }
                    });
                }
				return false;
			});
			$('#restore').click(function () {
                if (confirm('@T("Admin.Common.AreYouSure")')) {
                    $.ajax({
                        cache: false,
                        url: "@Url.Action("Restore", "Plugins/Theme/Editor")",
                        data: { 'path': selectFile, 'originalpath': selectOriginalFile, 'theme': '@Model.Name'},
                        type: 'POST',
                        success: function (response) {
                            editor.setValue(response);
                        }
                    });
                }
				return false;
			});

            $('#delete-file').click(function () {
                if (confirm('@T("Admin.Common.AreYouSure")')) {
                    $.ajax({
                        cache: false,
                        url: "@Url.Action("DeleteFile", "Plugins/Theme/Editor")",
                        data: { 'path': selectFile},
                        type: 'POST',
                        success: function (response) {
                            alert(response);
                            location.reload();
                        }
                    });
                }
				return false;
			});


			$('#AddNewfolder').click(function () {
                $.ajax({
					cache: false,
                    url: "@Url.Action("AddNewFolder", "Plugins/Theme/Editor")",
                    data: { 'name': $('#folderName').val(), 'path': selectedFolder },
                    type: 'POST',
                    success: function (response) {
						alert(response);
                        location.reload();
                    }
                });
				return false;
			});
            $('#removefolder').click(function () {
                if (confirm('@T("Admin.Common.AreYouSure")')) {
                    $.ajax({
                        cache: false,
                        url: "@Url.Action("RemoveFolder", "Plugins/Theme/Editor")",
                        data: { 'path': selectedFolder },
                        type: 'POST',
                        success: function (response) {
                            alert(response);
                            location.reload();
                    }
                });
            }
				return false;
        });

		});
    </script>

    <div class="modal fade" id="ModalNewFolder" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">@T("Nop4you.Plugin.Misc.Theme.EditTheme.FolderName")</h4>
                </div>
                <div class="modal-body">
                    <input type="text" class="form-control" placeholder="Enter ..." id="folderName" name="folderName">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="AddNewfolder">@T("Admin.Common.Save")</button>
                </div>
            </div>
        </div>
    </div>


}