@model AdminHeaderLinksModel
@using Nop.Web.Models.Common;
@if (Model.IsCustomerImpersonated || Model.DisplayAdminLink)
{
    if (Model.IsCustomerImpersonated)
    {
        
        <a class="nav-link"href="@Url.RouteUrl("Logout")" title="@T("Account.ImpersonatedAs.Finish.Hint")">
            <span class="hidden-sm-down">
                @T("Account.ImpersonatedAs.Finish")
            </span>
        </a>

    }
    if (Model.DisplayAdminLink)
    {
        <a class="nav-link" href="@Url.Content("~/admin")">
            <span class="hidden-sm-down">
                Admin
            </span>
        </a>
    }
    if (!String.IsNullOrEmpty(Model.EditPageUrl))
    {
        <a class="nav-link" href="@Model.EditPageUrl">
            <span class="hidden-sm-down">
               @T("common.managepage")
            </span>
        </a>
    }
}
