﻿@model CurrencySelectorModel
@using Nop.Web.Models.Common;
@using Nop.Core;
@using Nop.Core.Infrastructure;
@if (Model.AvailableCurrencies.Count > 1)
{
    var webHelper = EngineContext.Current.Resolve<IWebHelper>();

    var currencies = Model.AvailableCurrencies.Select(x => new 
    {
		Name = x.Name,
        Text = x.CurrencySymbol,
        Value = webHelper.ModifyQueryString(Url.RouteUrl("ChangeCurrency", new { customercurrency = x.Id }), "returnurl=" + HttpUtility.UrlEncode(HttpContext.Current.Request.RawUrl), null),
        Selected = x.Id.Equals(Model.CurrentCurrencyId)
    });
        @*<div class="float-xs-right ml-1 currency-selector">
            <a  class="dropdown-toggle dropdown-toggle-split currency-angle" data-toggle="dropdown">
                @currencies.FirstOrDefault(x => x.Selected).Text
            </a>
            <div class="dropdown-menu dropdown-menu-right" id="currency-sel">
                <ul class="pl-0 mb-0">
                    @foreach (var item in currencies)
                    {
                        var className = item.Selected ? "active" : "";
                        <li class="@className">
                            <a href="@item.Value">@item.Text</a>
                        </li>
                    }
                    </ul>
            </div>
        </div>*@
}
