﻿

<script type="text/javascript">
    $(document).ready(function () {
        $('#eu-cookie-bar-notification').show();

        $('#eu-cookie-ok').click(function () {
            $.ajax({
                cache: false,
                type: 'POST',
                url: '@Url.RouteUrl("EuCookieLawAccept")',
                dataType: 'json',
                success: function (data) {
                    $('#eu-cookie-bar-notification').hide();
                },
                failure: function () {
                    alert('Cannot store value');
                }
            });
    });
    });
</script>

<script>
// Get the modal
var modal = document.getElementById('eu-cookie-bar-notification');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>

<div id="eu-cookie-bar-notification" class="eu-cookie-bar-notification generalNote card card-inverse card-success text-xs-center" style="display:none;">
    <div class="buttons-more">
	<a href="#" class="close" style="float:right; padding: 4px 5px;" onclick="document.getElementById('eu-cookie-bar-notification').style.display='none'"><i class="fa fa-close" style="color:#fff;"></i></a>
        <blockquote class="card-blockquote">
            <p>Our website uses cookies which are text files placed on your computer to collect standard internet log information and visitor behaviour information. This information is only used for statistical analysis purposes.
You can choose to accept or decline cookies but some website features may not function with cookies disabled.</p>
<p><a href="https://sunnyelectricals.com/privacy-notice#cookies">Click here</a> to know more about our cookies policy.</p>
        </blockquote>
            <a class="ok-button btn-sm btn btn-success" id="eu-cookie-ok">Accept</a>
           <!-- <a class="btn btn-sm btn-secondary learn-more" href="@Url.RouteUrl("Topic", new { SeName = Html.GetTopicSeName("privacyinfo") })">@T("EUCookieLaw.LearnMore")</a> -->
    </div>
</div>

