@model FooterModel
@using Nop.Core
@using Nop.Core.Domain.Tax
@using Nop.Core.Infrastructure
@using Nop.Web.Models.Common;
<footer class="mt-2">
    <div class="container">
        <div class="col-12 pt-5 pb-0">
            <div class="row">
            <div class="col-lg-6 col-md-6 newsleter px-0 pb-3">
                @Html.Action("NewsletterBox", "Newsletter")
            </div>
            <div class="col-lg-6 col-md-6 social-media">@Html.Action("Social", "Common")</div>
                </div>
        </div>
        <div class="row flex-row pt-0 media-pt-0">
            <div id="footer-block-about-us" class="col-lg-3 col-md-12 col-sm-12 footer-block about-us block">
                <h2 class="h5 hidden-md-down mb-4">@T("Footer.Aboutus")</h2>
                @Html.Action("TopicBlock", "Topic", new { systemName = "FooterBlockInfo" })
            </div>
            <div id="footer-block-information" class="col-lg-3 col-md-12 col-sm-12 footer-block information block">
                <h2 class="h5 hidden-md-down mb-4">@T("Footer.Information")</h2>
                <div class="step-title card card-grey mb-1 p-3 hidden-lg-up">
                    <blockquote class="card-blockquote">
                        <span class="fa fa-angle-down hidden-lg-up float-sm-right fa-2x" aria-hidden="true"></span>
                        <span class="h6">@T("Footer.Information")</span>
                    </blockquote>
                </div>
                <div class="viewBox">
                    <ul class="list-group pl-0">
                        @if (Model.SitemapEnabled)
                        {
                            <li class="list-group-item"><a href="@Url.RouteUrl("Sitemap")">@T("Sitemap")</a></li>
                        }
                        @foreach (var topic in Model.Topics.Where(x => x.IncludeInFooterColumn1).ToList())
                        {
                            <li class="list-group-item"><a href="@Url.RouteUrl("Topic", new { SeName = topic.SeName })">@topic.Name</a></li>
                        }
                        <li class="list-group-item"><a href="@Url.RouteUrl("ContactUs")">@T("ContactUs")</a></li>
                    </ul>
                </div>
            </div>
            <div id="footer-block-customer-service" class="col-lg-3 col-md-12 col-sm-12 footer-block customer-service block">
                <h2 class="h5 hidden-md-down mb-4">@T("Footer.CustomerService")</h2>
                <div class="step-title card card-grey mb-1 p-3 hidden-lg-up">
                    <blockquote class="card-blockquote">
                        <span class="h6">@T("Footer.CustomerService")</span>
                        <span class="fa fa-angle-down hidden-lg-up float-sm-right fa-2x"></span>
                    </blockquote>
                </div>
                <div class="viewBox">
                    <ul class="list-group pl-0">
                        <li class="list-group-item"><a href="@Url.RouteUrl("ProductSearch")">@T("Search")</a> </li>
                
    
                        @if (Model.BlogEnabled)
                        {
                            <li class="list-group-item"><a href="@Url.RouteUrl("Blog")">@T("Blog")</a></li>
                        }
                        @if (Model.ForumEnabled)
                        {
                            <li class="list-group-item"><a href="@Url.RouteUrl("Boards")">@T("Forum.Forums")</a></li>
                        }
                        @if (Model.RecentlyViewedProductsEnabled)
                        {
                            <li class="list-group-item"><a href="@Url.RouteUrl("RecentlyViewedProducts")">@T("Products.RecentlyViewedProducts")</a></li>
                        }
                        @if (Model.CompareProductsEnabled)
                        {
                            <li class="list-group-item"><a href="@Url.RouteUrl("CompareProducts")">@T("Products.Compare.List")</a></li>
                        }
                        @if (Model.NewProductsEnabled)
                        {
                            <li class="list-group-item"><a href="@Url.RouteUrl("NewProducts")">@T("Products.NewProducts")</a></li>
                        }
                        @foreach (var topic in Model.Topics.Where(x => x.IncludeInFooterColumn2).ToList())
                        {
                            <li class="list-group-item"><a href="@Url.RouteUrl("Topic", new { SeName = topic.SeName })">@topic.Name</a></li>
                        }
                    </ul>
                </div>
				  <div class="text-right"><a href="https://www.worldpay.com/" target="_blank"><img src="~/Themes/Garden/Content/images/wordpay.png" /></a></div>
            </div>
            <div id="footer-block-my-account" class="col-lg-3 col-md-12 col-sm-12 footer-block my-account block">
                <h2 class="h5 hidden-md-down mb-4">@T("Footer.MyAccount")</h2>
                <div class="step-title card card-grey mb-1 p-3 hidden-lg-up">
                    <blockquote class="card-blockquote">
                        <span class="h6">@T("Footer.MyAccount")</span>
                        <span class="fa fa-angle-down hidden-lg-up float-sm-right fa-2x" aria-hidden="true"></span>
                    </blockquote>
                </div>
                <div class="viewBox">
                    <ul class="pl-0 list-group">
                        <li class="list-group-item"><a href="@Url.RouteUrl("CustomerInfo")">@T("Account.MyAccount")</a></li>
                        <li class="list-group-item"><a href="@Url.RouteUrl("CustomerOrders")">@T("Account.CustomerOrders")</a></li>
                        <li class="list-group-item"><a href="@Url.RouteUrl("CustomerAddresses")">@T("Account.CustomerAddresses")</a></li>
                        @if (Model.ShoppingCartEnabled)
                        {
                            <li class="list-group-item"><a href="@Url.RouteUrl("ShoppingCart")">@T("ShoppingCart")</a></li>
                        }
                        @if (Model.WishlistEnabled)
                        {
                            <li class="list-group-item"><a href="@Url.RouteUrl("Wishlist")">@T("Wishlist")</a></li>
                        }
                        @if (Model.AllowCustomersToApplyForVendorAccount)
                        {
                            <li class="list-group-item"><a href="@Url.RouteUrl("ApplyVendorAccount")">@T("Vendors.ApplyAccount")</a></li>
                        }
                        @foreach (var topic in Model.Topics.Where(x => x.IncludeInFooterColumn3).ToList())
                        {
                            <li class="list-group-item"><a href="@Url.RouteUrl("Topic", new { SeName = topic.SeName })">@topic.Name</a></li>
                        }
                    </ul>
                </div>
             
			   

<!-- TrustBox widget - Review Collector -->
<div class="trustpilot-widget" data-locale="en-GB" data-template-id="56278e9abfbbba0bdcd568bc" data-businessunit-id="5d97178d4f659b00011dadd9" data-style-height="52px" data-style-width="100%">
<a href="https://uk.trustpilot.com/review/sunnyelectricals.com" target="_blank" rel="noopener">Trustpilot</a>
</div>
<!-- End TrustBox widget -->


            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="d-flex justify-content-start py-3">
                <div class="text-center col-md-12"> <span>&copy;&nbsp;Copyright Sunny Electrical Supplies 2020</span><span> &nbsp;|&nbsp;Site By <a href="http://www.5rv.digital"> 5RV Digital</a>&nbsp;|&nbsp;Powered by nopCommerce </span></div>

            @if (Model.DisplayTaxShippingInfoFooter)
            {
                var inclTax = EngineContext.Current.Resolve<IWorkContext>().TaxDisplayType == TaxDisplayType.IncludingTax;
                <span class="footer-tax-shipping">
                    @T(inclTax ? "Footer.TaxShipping.InclTax" : "Footer.TaxShipping.ExclTax", Url.RouteUrl("Topic", new { SeName = Html.GetTopicSeName("shippinginfo") }))
                </span>
            }
            @Html.Action("StoreThemeSelector", "Common")
            </div>
        </div>
    </div>
    
    @Html.Widget("footer")
</footer>

<a href="#" id="back-to-top" title="Back to top">
    <span class="fa fa-angle-up"></span>
    <span class="sr-only">back to top</span>
</a>
<script type="text/javascript">
    $(document).ready(function () {
        $('.block').on('click', function () {
            var windowWidth = $(window).width();
            if (windowWidth <= 992) {
                var elemId = this.id;
                $("#" + elemId).toggleClass("active");
                $("#" + elemId).siblings(".block").removeClass("active");
                $("#" + elemId).find(".viewBox").slideToggle();
                $("#" + elemId).siblings(".block").find(".viewBox").slideUp();
            };
        });
    });
</script>
<script>
    $(".block").click(function () {
        var getId = this.id;
        console.log(getId);
        $("#" + getId).find(".fa").toggleClass("rotate");
        $("#" + getId).siblings(".block").find(".fa").removeClass("rotate");
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        if ($('#back-to-top').length) {
            var scrollTrigger = 100, // px
                backToTop = function () {
                    var scrollTop = $(window).scrollTop();
                    if (scrollTop > scrollTrigger) {
                        $('#back-to-top').addClass('show');
                    } else {
                        $('#back-to-top').removeClass('show');
                    }
                };
            backToTop();
            $(window).on('scroll', function () {
                backToTop();
            });
            $('#back-to-top').on('click', function (e) {
                e.preventDefault();
                $('html,body').animate({
                    scrollTop: 0
                }, 1000);
            });
        }

        $('#btnWorldPay').click(function () {
            debugger;
            var txt;
            var amount = $("#amountworldpay").val();
            var r = confirm("Agree with WorldPay Payment");
            if (r == true) {
                var href="https://secure-test.worldpay.com/wcc/purchase?instId=80569&cartId=12313&amount="+amount;
                href += "&name=shivani&email=shivani.arya@fivesol.com&currency=GBP&desc=Electrical+Item(s)+with+C-Sharp&testMode=100";
                    location.href = href;
            } else {
                txt = " ";
            }
        })

        $('#btnpaypal').click(function () {
            debugger;
            var txt;
            var url = $("#paypalurl").val();
            var r = confirm("Agree with Paypal Payment");
            if (r == true) {
                var href = url;

                location.href = href;
            } else {
                txt = " ";
            }
        })

    });
</script>
<script>
    $(".opc li.active").prev("li").removeClass("dontGo");
    $(".opc li.active").nextAll("li").addClass("dontGo");
</script>
<script>
    (function ($) {
        var $window = $(window),
            $objscale = $('#footer-block-info');

        $window.resize(function resize() {
            if ($window.width() < 991) {
                $objscale.removeClass('flex-column');
                return $objscale.addClass('justify-content-center'); 
            }
            $objscale.removeClass('justify-content-center');
            $objscale.addClass('flex-column');
        }).trigger('resize');
        $window.resize(function resize() {
            if ($window.width() < 575) {
                $objscale.removeClass('justify-content-center');
                return $objscale.addClass('flex-column');

            }
        }).trigger('resize');
    })(jQuery);
</script>

<script>
                //mobile
                jQuery('.btn-navbar').click(function () {

                    var chk = 0;
                    if (jQuery('#navbar-inner').hasClass('navbar-inactive') && (chk == 0)) {
                        jQuery('#navbar-inner').removeClass('navbar-inactive');
                        jQuery('#navbar-inner').addClass('navbar-active');
                        jQuery('#mobilemenu').css('display', 'block');
                        chk = 1;
                    }
                    if (jQuery('#navbar-inner').hasClass('navbar-active') && (chk == 0)) {
                        jQuery('#navbar-inner').removeClass('navbar-active');
                        jQuery('#navbar-inner').addClass('navbar-inactive');
                        jQuery('#mobilemenu').css('display', 'none');
                        chk = 1;
                    }
                });

</script>
<script>
            if ($(window).width() < 991) {
                $(".search-cart-box").removeClass("justify-content-start");
                $(".search-cart-box").addClass("justify-content-center");
            }
            else {
                $(".search-cart-box").removeClass("justify-content-center");
                $(".search-cart-box").addClass("justify-content-start");
            }
            window.addEventListener("orientationchange", function () {
                if ($(window).width() < 991) {
                    $(".search-cart-box").removeClass("justify-content-start");
                    $(".search-cart-box").addClass("justify-content-center");
                }
                else {
                    $(".search-cart-box").removeClass("justify-content-center");
                    $(".search-cart-box").addClass("justify-content-start");
                }
            });
</script>

