@model HeaderLinksModel
@using Nop.Web.Models.Common;
@Html.Widget("header_links_before")
@if (Model.IsAuthenticated)
{
        <li class="nav-item mr-4">
            <div class="btn-group dropdown">
                <a class="nav-link dropdown-toggle ico-account" href="@Url.RouteUrl("CustomerInfo")"> 
                    <span class="hidden-sm-down">@T("Account.MyAccount")</span>
                </a>             

                <div class="dropdown-menu dropdown-menu-right my-account-dropdown">
                    <a class="nav-link ico-logout" href="@Url.RouteUrl("Logout")">
                        <span class="hidden-sm-down">@T("Account.Logout")</span>
                    </a>
                    <a class="nav-link" href="@Url.RouteUrl("CustomerInfo")">
                        <span class="hidden-sm-down">
                            @T("Account.MyAccount")
                        </span>
                    </a>
                 @if (Model.WishlistEnabled)
                 {
                    <a class="nav-link" href="@Url.RouteUrl("Wishlist")">
                        <span class="hidden-sm-down">
                            @T("Wishlist")
                            @T("Wishlist.HeaderQuantity", Model.WishlistItems)
                        </span>
                        
                    </a>
                 }
                 @if (Model.ShoppingCartEnabled)
                 {
                    <a class="nav-link" href="@Url.RouteUrl("ShoppingCart")">
                        <span class="hidden-sm-down">
                 
                            @T("nop4you.theme.gardentheme.topmenu.cart")
                            (@T("ShoppingCart.HeaderQuantity", Model.ShoppingCartItems))
                 
                        </span>
                    </a>   
                 }
                    
        
                    <a class="nav-link" href="@Url.RouteUrl("CompareProducts")">
                        <span class="hidden-sm-down">
                            @T("nop4you.theme.gardentheme.header.comparelist")
                        </span>
                    </a>
                    @Html.Action("AdminHeaderLinks", "Common")
        @if (Model.AllowPrivateMessages)
        {
            <a class="nav-link ico-inbox" href="@Url.RouteUrl("PrivateMessages", new { tab = "" })">
                <span class="fa fa-envelope-o"></span>
                <span class="inbox-label hidden-sm-down">@T("PrivateMessages.Inbox")</span>
                <span class="inbox-unread hidden-md-down">@Model.UnreadPrivateMessages</span>
            </a>
        }

                </div>
            </div>
        </li>
       
        }
        else
        {
        <li class="nav-item"><a class="nav-link ico-register" href="@Url.RouteUrl("Register")"><span class="fa fa-user-plus"></span><span class="hidden-sm-down">@T("Account.Register")</span></a></li>
        <li class="nav-item"><a class="nav-link ico-login" href="@Url.RouteUrl("Login")"><span class="fa fa-sign-in"></span><span class="hidden-sm-down">@T("Account.Login")</span></a></li>
        }
        @Html.Action("CurrencySelector", "Common")
        @Html.Widget("header_links_after")
        @if (Model.AllowPrivateMessages && !string.IsNullOrEmpty(Model.AlertMessage))
        {
            //new private message notification
            <script type="text/javascript">
        $(document).ready(function () {
            displayPopupNotification('@Html.Raw(HttpUtility.JavaScriptStringEncode(Model.AlertMessage))', 'success', false);
        });
            </script>
        }

