﻿@model LanguageSelectorModel
@using Nop.Web.Models.Common;
@using Nop.Core;
@using Nop.Core.Infrastructure;
@if (Model.AvailableLanguages.Count > 1)
{
    var webHelper = EngineContext.Current.Resolve<IWebHelper>();

    if (Model.UseImages)
    {

        <div class="btn-group btn-group-sm float-xs-right">
            <ul class="list-inline language-list pl-0 mb-0">
                @foreach (var lang in Model.AvailableLanguages)
                {
                    <li class="list-inline-item">
                        <a href="@webHelper.ModifyQueryString(Url.RouteUrl("ChangeLanguage", new { langid = lang.Id }), "returnurl=" + HttpUtility.UrlEncode(HttpContext.Current.Request.RawUrl), null)" title="@lang.Name">
                            <img title='@lang.Name' alt='@lang.Name' @(lang.Id == Model.CurrentLanguageId ? " class=selected" : null)
                                 src="@Url.Content("~/Content/Images/flags/" + @lang.FlagImageFileName) " />
                        </a>
                    </li>
                }
            </ul>
        </div>
    }
    else
    {
        var languages = Model.AvailableLanguages.Select(lang => new SelectListItem
        {
            Text = lang.Name,
            Value = webHelper.ModifyQueryString(Url.RouteUrl("ChangeLanguage", new { langid = lang.Id }), "returnurl=" + HttpUtility.UrlEncode(HttpContext.Current.Request.RawUrl), null),
            Selected = lang.Id.Equals(Model.CurrentLanguageId)
        });

        <li class="nav-item mx-4 ">
            <div class="btn-group dropdown">
                <a class="nav-link dropdown-toggle language-title" data-toggle="dropdown">@languages.FirstOrDefault(x => x.Selected).Text</a>
               
                    <div class="dropdown-menu dropdown-menu-right language">
                        <ul class="pl-0 mb-0">
                    @foreach (var item in languages)
                    {
                        var className = item.Selected ? "active" : "";
                        <li class="@className">
                            <a href="@item.Value">@item.Text</a>
                        </li>
                    }
                        </ul>
                    </div>
            </div>
        </li>

          


                    }
                    }
