﻿@model LogoModel
@using Nop.Web.Models.Common;
    <h1>
        <a href="@Url.RouteUrl("HomePage")">
            <img title="logo image" alt="@Model.StoreName" src="@Model.LogoPath" style="width:181px; height:75px;">
            <span class="sr-only">@T("admin.configuration.shipping.providers.fields.logo")</span>
        </a>
</h1>