﻿
<div class="social">
    
    <ol class="d-flex flex-row list-group justify-content-center justify-content-lg-end pb-0">
        <div class="d-flex justify-content-start soc-list">
            <strong><p class="mr-auto align-self-center">Social Media</p></strong>
            @if (!string.IsNullOrEmpty(Model.FacebookLink))
            {
                <li class="list-group-item facebook">
                    <a title="facebook" href="@Model.FacebookLink" target="facebook">
                        <span class="sr-only">Facebook</span>
                        <span class="fa fa-facebook-square fa-2x"></span>
                    </a>
                </li>
            }
            @if (!string.IsNullOrEmpty(Model.TwitterLink))
            {
                <li class="list-group-item twitter">
                    <a href="@Model.TwitterLink" target="twitter">
                        <span class="fa fa-twitter fa-2x"></span>
                        <span class="sr-only">twitter</span>
                    </a>
                </li>
            }
            @if (Model.NewsEnabled)
            {
                <li class="list-group-item rss">
                    <a href="@Url.RouteUrl("NewsRSS", new {languageId = Model.WorkingLanguageId})">
                        <span class="fa fa-rss fa-2x"></span>
                        <span class="sr-only">@T("NewsRSS")</span>
                    </a>
                </li>
            }
            @if (!string.IsNullOrEmpty(Model.YoutubeLink))
            {
                <li class="list-group-item youtube">
                    <a href="@Model.YoutubeLink" target="youtube">
                        <span class="fa fa-youtube fa-2x"></span>
                        <span class="sr-only">youtube</span>
                    </a>
                </li>
            }
            @if (!string.IsNullOrEmpty(Model.GooglePlusLink))
            {
                <li class="list-group-item google-plus">
                    <a href="@Model.GooglePlusLink" target="google-plus"><span class="fa fa-google-plus fa-2x"></span><span class="sr-only">google plus</span></a>
                </li>
            }
           </div>
</ol>
</div>