﻿@model AccountActivationModel
@using Nop.Web.Models.Customer;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.AccountActivation").Text);
}
<div class="page account-activation-page">
    <h1 class="h2 generalTitle">@T("Account.AccountActivation")</h1>
    <div class="result">
        @Model.Result
    </div>
</div>
