﻿@model CustomerAddressEditModel
@using Nop.Web.Models.Customer;
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);
}
@section left
{
    @Html.Action("CustomerNavigation", "Customer", new { selectedTabId = CustomerNavigationEnum.Addresses })
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="page account-page address-edit-page">
            <h1 class="h2 generalTitle">@T("Account.CustomerAddresses.Edit")</h1>
            @{
                var validationSummary = Html.ValidationSummary(true);
            }
            @if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
            {
                <div class="message-error text-danger">
                    @validationSummary
                </div>
            }
            @{
                var dataDictAddress = new ViewDataDictionary();
                //Merge ModelState (required for validation)
                dataDictAddress.ModelState.Merge(ViewData.ModelState);
                dataDictAddress.TemplateInfo.HtmlFieldPrefix = "Address";
                @Html.Partial("_CreateOrUpdateAddress", Model.Address, dataDictAddress)
            }
            <div class="col-4 px-0 buttons generalMarginSupporter">
                <input type="submit" class="btn btn-success save-address-button" value="@T("Common.Save")" />
            </div>
    </div>
                }