﻿@model ChangePasswordModel
@using Nop.Web.Models.Customer;
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);
}
@section left
{
    @Html.Action("CustomerNavigation", "Customer", new { selectedTabId = CustomerNavigationEnum.ChangePassword })
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <section class="page account-page change-password-page">
            <h1 class="h2 generalTitle">@T("Account.ChangePassword")</h1>
            @if (!String.IsNullOrEmpty(Model.Result))
            {
                <section class="result">
                    @Model.Result
                </section>
            }
            @{
                var validationSummary = Html.ValidationSummary(true);
            }
            @if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
            {
                <div class="message-error">@validationSummary</div>
            }
        <fieldset>
            <div class="form-fields">
                <fieldset class="form-group">
                    @Html.LabelFor(model => model.OldPassword, new { @class = "col-form-label" }, ":")
                    @Html.EditorFor(model => model.OldPassword)
                    @Html.ValidationMessageFor(model => model.OldPassword)
                </fieldset>
                <fieldset class="form-group">
                    @Html.LabelFor(model => model.NewPassword, new { @class = "col-form-label" }, ":")
                    @Html.EditorFor(model => model.NewPassword)
                    @Html.ValidationMessageFor(model => model.NewPassword)
                </fieldset>
                <fieldset class="form-group">
                    @Html.LabelFor(model => model.ConfirmNewPassword, new { @class = "col-form-label" }, ":")
                    @Html.EditorFor(model => model.ConfirmNewPassword)
                    @Html.ValidationMessageFor(model => model.ConfirmNewPassword)
                </fieldset>
            </div>
            <div class="col-4 text-center px-0">
                <input type="submit" class="btn btn-success change-password-button" value="@T("Account.ChangePassword.Button")" />
            </div>
        </fieldset>
    </section>
}