﻿@model CustomerNavigationModel
@using Nop.Web.Models.Customer;
<div id="block-account-navigation" class="block block-account-navigation">
    <h2 class="h5 generalTitle hidden-md-down"><strong>@T("Account.Navigation")</strong></h2>
    <h2 class="h5 bg-faded p-3 hidden-lg-up"><strong>@T("Account.Navigation")</strong><i id="computers" class="fa fa-angle-down float-xs-right"></i></h2>
    <ul class="list viewBox">
        @Html.Widget("account_navigation_before")
        @foreach (var item in Model.CustomerNavigationItems)
        {
            <li class="@item.ItemClass">
                <a href="@Url.RouteUrl(item.RouteName)" class="@(Model.SelectedTab == item.Tab ? "active" : "inactive")">@(item.Title)</a>
            </li>
        }
        @Html.Widget("account_navigation_after")
    </ul>
</div>
