﻿@model PasswordRecoveryConfirmModel
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.PasswordRecovery").Text);
}
@using Nop.Web.Models.Customer;
<div class="page password-recovery-page">
        <h1 class="generalTitle">@T("Account.PasswordRecovery")</h1>
        @if (!String.IsNullOrEmpty(Model.Result))
        {
            <div class="result">
                @Model.Result
            </div>
        }
        @if (!Model.DisablePasswordChanging)
        {
            using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                    <div class="form-fields">
                        <div class="inputs">
                            @Html.LabelFor(model => model.NewPassword, new { @class = "col-form-label" }, ":")
                            @Html.EditorFor(model => model.NewPassword)
                            @Html.ValidationMessageFor(model => model.NewPassword)
                        </div>
                        <div class="inputs">
                            @Html.LabelFor(model => model.ConfirmNewPassword, new { @class = "col-form-label" }, ":")
                            @Html.EditorFor(model => model.ConfirmNewPassword)
                            @Html.ValidationMessageFor(model => model.ConfirmNewPassword)
                        </div>
                    </div>
                <div class="col--12 text-xs-center btn-group-sm">
                    <input type="submit" name="set-password" class="btn btn-secondary new-password-button" value="@T("Account.PasswordRecovery.ChangePasswordButton")" />
                </div>
            }
        }
</div>
