﻿@model PasswordRecoveryModel
@using Nop.Web.Models.Customer;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.PasswordRecovery").Text);
}
<div class="container mt-4">
    <div class="row">
        <div class="page password-recovery-page">
            <h1 class="recovery-title"><strong>@T("Account.PasswordRecovery")</strong></h1>
            @if (!String.IsNullOrEmpty(Model.Result))
            {
                <div class="result">
                    @Model.Result
                </div>
            }
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-group">
                    @Html.LabelFor(model => model.Email, new { @class = "col-form-label email-label" }, ":")
                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control email" })
                    @Html.ValidationMessageFor(model => model.Email)
                </div>
                    <div class="col--12 text-xs-center">
                        <input type="submit" name="send-email" class="btn btn-secondary password-recovery-button" value="@T("Account.PasswordRecovery.RecoverButton")" />
                    </div>

                    <div class="tooltip card card-inverse card-danger text-xs-center">
                        <div class="card-block">
                            <blockquote class="card-blockquote">
                                <p>@T("Account.PasswordRecovery.Tooltip")</p>
                            </blockquote>
                        </div>
                    </div>
            }
        </div>
    </div>
</div>

