﻿@model RegisterResultModel
@using Nop.Web.Models.Customer;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Register").Text);

    //continue URL
    var qs = this.Context.Request.QueryString["returnUrl"];
    var continueUrl = "";
    if (!String.IsNullOrEmpty(qs) && Url.IsLocalUrl(qs))
    {
        continueUrl = qs;
    }
    else
    {
        continueUrl = Url.RouteUrl("HomePage");
    }
}
<div class="container">
    <div class="row">
        <div class="page registration-result-page text-xs-center">
            <h1 class="generalTitle">@T("Account.Register")</h1>
            <section class="result">
                @Model.Result
            </section>
            <div class="btn-group generalMarginSupporter">
                <input type="button" class="btn btn-secondary register-continue-button" onclick="location.href='@continueUrl'" value="@T("Account.Register.Result.Continue")">
            </div>
        </div>
    </div>
</div>
