﻿@model RegisterModel
@using Nop.Web.Models.Customer;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";
    //Layout = "~/Views/Shared/_ColumnsTwo.cshtml";


    //title
    Html.AddTitleParts(T("PageTitle.Register").Text);

    // Html.AppendPageCssClassParts("html-account-page");
    // Html.AppendPageCssClassParts("html-customer-info-page");
}

@*@section left
    {
        @Html.Action("CustomerNavigation", "Customer", new { selectedTabId = CustomerNavigationEnum.Info })


    }*@

@if (Model.CountryEnabled && Model.StateProvinceEnabled)
{
    <script type="text/javascript">
        $(function () {
            $("#@Html.FieldIdFor(model => model.CountryId)").change(function () {
                var selectedItem = $(this).val();
                var ddlStates = $("#@Html.FieldIdFor(model => model.StateProvinceId)");
                var statesProgress = $("#states-loading-progress");
                statesProgress.show();
                $.ajax({
                    cache: false,
                    type: "GET",
                    url: "@(Url.RouteUrl("GetStatesByCountryId"))",
                    data: { "countryId": selectedItem, "addSelectStateItem": "true" },
                    success: function (data) {
                        ddlStates.html('');
                        $.each(data, function (id, option) {
                            ddlStates.append($('<option></option>').val(option.id).html(option.name));
                        });
                        statesProgress.hide();
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to retrieve states.');
                        statesProgress.hide();
                    }
                });
            });
        });
    </script>
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container" id="resgister_nform">
        <div class="row">
            <div class="col-lg-3">
                <div class="sideleft" id="Register_sidebar">
                    <h4>Register (Step 1 of 3)</h4>
                    <h5>Customer info</h5>
                    <div class="clearfix"></div>
                    <ul>
                        <li class="frt1"> <a href="#">Personal details</a> <i id="frt1" class="fa pull-right" aria-hidden="true"></i> </li>
                        <li class="frt2"> <a href="#">Address</a> <i id="frt2" class="fa  pull-right" aria-hidden="true"></i></li>
                    </ul>

                </div>

            </div><!--sidebar-->
            <div class="col-lg-9">
                <div class="col-12">
                    <div class="row">
                        <div class="page registration-page">
                            <h2 class="text-left mt-2 mb-3 reg_head"><strong>Create your account</strong></h2>
                            @{
                                var validationSummary = Html.ValidationSummary(true);
                            }
                            @if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
                {
                                <div class="message-error">@validationSummary</div>
                            }

                            @Html.Partial("_ExternalAuthentication.AssociateMessage")



                           
                            @if (Model.AllowCustomersToSetTimeZone)
                {
                                <div class="card col-lg-12 col-sm-12 pl-0 pl-0">
                                    <h3 class="h5 card-header pb-0 pl-0">@T("Account.Preferences")</h3>
                                    <div class="card-block">
                                        @if (Model.AllowCustomersToSetTimeZone)
                    {
                                            <div class="form-group col-lg-9 offset-lg-3 col-sm-12 text-left px-0 pt-2">
                                                @Html.LabelFor(model => model.TimeZoneId, new { @class = "col-form-label" }, ":")
                                                @Html.DropDownList("TimeZoneId", Model.AvailableTimeZones, new { @class = "custom-select form-control" })
                                                @Html.ValidationMessageFor(model => model.TimeZoneId)
                                            </div>
                                        }
                                    </div>
                                </div>
                            }
                          

                            @if (Model.AcceptPrivacyPolicyEnabled)
                {
                                <script type="text/javascript">
                                        $(document).ready(function () {
                                            $('#register-button').click(function () {
                                                if ($('#accept-privacy-policy').is(':checked')) {
                                                    //do some stuff
                                                    return true;
                                                }
                                                else {
                                                    //just show validation errors, dont post
                                                    alert('@Html.Raw(HttpUtility.JavaScriptStringEncode(T("Account.Fields.AcceptPrivacyPolicy.Required").Text))');
                                                    return false;
                                                }
                                            });
                                        });
                                </script>

                                    <label class="custom-control custom-checkbox">
                                        <input id="accept-privacy-policy" name="accept-privacy-policy" type="checkbox" class="custom-control-input">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">@T("Account.Fields.AcceptPrivacyPolicy")</span>
                                        <span class="read" onclick="javascript:OpenWindow('@Url.RouteUrl("TopicPopup", new { SystemName = "privacyinfo" })', 450, 500, true)">@T("Account.Fields.AcceptPrivacyPolicy.Read")</span>
                                    </label>
                            }



                            <div id="wizard1" class="wizard">

                                <div class="wizard-content">
                                    <div id="profile" class="wizard-step active">
                                        
                                            <fieldset class="form-group col-lg-12 col-sm-12 mail">
                                                <legend class="sr-only">@T("account.fields.email")</legend>
                                                <div class="row">
                                                    @Html.LabelFor(model => model.Email, new { @class = "col-form-label text-left" }, ": *")
                                                    @Html.EditorFor(model => model.Email)
                                                    @Html.ValidationMessageFor(model => model.Email)
                                                </div>
                                            </fieldset>
                                            @*<button type="button" class="wizard-prev btn btn-primary">Previous</button>*@
                                            <button type="button" id="idprof" class="wizard-next btn btn-success pull-right">Next</button>
                                            
                                        </div>

                                    <div id="messages" class="wizard-step">
                                       
                                        <fieldset class="col-lg-5 col-sm-12 px-0 form-group">
                                            <legend class="sr-only">Title:</legend>
                                            <label class="col-form-label text-left">Title</label>
                                            <select class="form-control custom-select">
                                                <option>Mr</option>
                                                <option>Miss</option>
                                                <option>Mrs</option>
                                            </select>
                                        </fieldset>
                                        <div class="clearfix"></div>
                                        <fieldset class="col-lg-6 col-sm-12 pl-0 form-group pull-left fosign">
                                            <legend class="sr-only">@T("account.fields.firstname")</legend>
                                            @Html.LabelFor(model => model.FirstName, new { @class = "col-form-label text-left" }, ": *")
                                            @Html.EditorFor(model => model.FirstName)
                                            @Html.ValidationMessageFor(model => model.FirstName)
                                        </fieldset>
                                        <fieldset class="col-lg-6 col-sm-12 pr-0 form-group pull-right fosign">
                                            <legend class="sr-only">@T("account.fields.lastname")</legend>
                                            @Html.LabelFor(model => model.LastName, new { @class = "col-form-label text-left" }, ": *")
                                            @Html.EditorFor(model => model.LastName)
                                            @Html.ValidationMessageFor(model => model.LastName)
                                        </fieldset>

                                        @if (Model.CompanyEnabled)
                {
                                            <div class="card col-lg-12 col-sm-12 px-0">
                                                @*<h3 class="h5 card-header pl-0 pb-0">@T("Account.CompanyDetails")</h3>*@
                                                <div class="card-block px-0">
                                                    <div class="form-group col-lg-12 col-sm-12 px-0">
                                                        @Html.LabelFor(model => model.Company, new { @class = "col-form-label text-left" }, ":")
                                                        @Html.EditorFor(model => model.Company, new { @class = "form-control" })
                                                        @Html.ValidationMessageFor(model => model.Company)
                                                    </div>

                                                </div>
                                            </div>
                                        }
                                        @if (Model.DisplayVatNumber)
                {
                                            <div class="card col-lg-12 col-sm-12 px-0">
                                                <div class="card-block px-0">
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.VatNumber, new { }, ":")
                                                        @Html.EditorFor(model => model.VatNumber)
                                                        <span class="vat-note"><em>@T("Account.Fields.VatNumber.Note")</em></span>
                                                    </div>
                                                </div>
                                            </div>
                                        }

                                        @if (Model.PhoneEnabled || Model.FaxEnabled)
                {
                                            <div class="card col-lg-12 col-sm-12 px-0">
                                                @*<h3 class="h5 card-header px-0 pb-0">@T("Account.YourContactInformation")</h3>*@
                                                <div class="card-block px-0">
                                                    <div class="d-flex row">
                                                        @if (Model.PhoneEnabled)
                    {
                                                            <fieldset class="form-group col-lg-12 col-sm-12">
                                                                <legend class="sr-only">@T("account.fields.phone")</legend>
                                                                @Html.LabelFor(model => model.Phone, new { @class = "col-form-label text-left" }, ": *")
                                                                @Html.EditorFor(model => model.Phone)
                                                                @Html.ValidationMessageFor(model => model.Phone)
                                                            </fieldset>
                                                            }
                                                        @if (Model.FaxEnabled)
                    {
                                                            <fieldset class="form-group col-lg-9 offset-lg-3 col-sm-12">
                                                                <legend class="sr-only">@T("account.fields.fax")</legend>
                                                                @Html.LabelFor(model => model.Fax, new { @class = "col-form-label" }, ":")
                                                                @Html.EditorFor(model => model.Fax)
                                                                @Html.ValidationMessageFor(model => model.Fax)
                                                            </fieldset>
                                                            }
                                                    </div>
                                                </div>
                                            </div>
                                        }

                                        <div class="col-lg-12 px-0 dis_label">
                                            <p>
                                                Yes! I would like to receive the latest discounts, offers and sale previews from Sunny
                                                Electricals and its group companies via the following methods.
                                            </p>
                                            <div class="clearfix"></div>
                                            <label><input type="checkbox" name="email" /> Email</label>
                                            <label><input type="checkbox" name="sms" /> SMS</label>
                                            <label><input type="checkbox" name="Phone" /> Phone</label>
                                            <label><input type="checkbox" name="Direct" /> Direct mail</label>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="card-block">
                                            <div class="form-group col-lg-12 col-sm-12 px-0">
                                                <div class="row">
                                                    @Html.LabelFor(model => model.Password, new { @class = "col-form-label text-left" }, ": *")
                                                    @Html.EditorFor(model => model.Password)
                                                    @Html.ValidationMessageFor(model => model.Password)
                                                </div>
                                            </div>
                                            <div class="form-group col-lg-12 col-sm-12 px-0">
                                                <div class="row">
                                                    @Html.LabelFor(model => model.ConfirmPassword, new { @class = "col-form-label text-left" }, ": *")
                                                    @Html.EditorFor(model => model.ConfirmPassword)
                                                    @Html.ValidationMessageFor(model => model.ConfirmPassword)
                                                </div>
                                            </div>
                                        </div>

                                        <div class="clearfix"></div>
                                        @*<button type="button" class="wizard-prev btn btn-primary">Previous</button>
                <button type="button" class="wizard-next btn btn-primary">Next</button>*@
                                        <button type="button" id="idmsg" class="wizard-next btn btn-success pull-right">Next</button>


                                    </div>
                               





                                    <div id="step3" class="wizard-step">
                                       
                                            @if (Model.StreetAddressEnabled ||
Model.StreetAddress2Enabled ||
Model.ZipPostalCodeEnabled ||
Model.CityEnabled ||
Model.CountryEnabled)
                                            {
                                                <div class="card col-lg-12 col-sm-12 px-0">
                                                    @*<h3 class="h5 card-header">
                            @T("Account.YourAddress")
                        </h3>*@
                                                    <div class="card-block">
                                                        <div class="form-fields d-flex row">
                                                            @if (Model.StreetAddressEnabled)
                    {
                                                            <fieldset class="form-group col-lg-6 col-sm-12 pl-0 fosign">
                                                                <legend class="sr-only">@T("account.fields.streetaddress")</legend>
                                                                @Html.LabelFor(model => model.StreetAddress, new { @class = "col-form-label text-left" }, ": *")
                                                                @Html.EditorFor(model => model.StreetAddress)
                                                                @Html.ValidationMessageFor(model => model.StreetAddress)
                                                            </fieldset>
                                                            }
                                                            @if (Model.StreetAddress2Enabled)
                    {
                                                            <fieldset class="form-group col-lg-6 col-sm-12 pr-0 fosign">
                                                                <legend class="sr-only">@T("account.fields.streetaddress2")</legend>
                                                                @Html.LabelFor(model => model.StreetAddress2, new { @class = "col-form-label text-left" }, ": *")
                                                                @Html.EditorFor(model => model.StreetAddress2)
                                                                @Html.ValidationMessageFor(model => model.StreetAddress2)
                                                            </fieldset>
                                                            }
                                                            @if (Model.ZipPostalCodeEnabled)
                    {
                                                            <fieldset class="form-group col-lg-6 col-sm-12 pr-0 fosign">
                                                                <legend class="sr-only">@T("account.fields.zippostalcode")</legend>
                                                                @Html.LabelFor(model => model.ZipPostalCode, new { @class = "col-form-label text-left" }, ": *")
                                                                @Html.EditorFor(model => model.ZipPostalCode)
                                                                @Html.ValidationMessageFor(model => model.ZipPostalCode)
                                                            </fieldset>
                                                            }
                                                            @if (Model.CityEnabled)
                    {
                                                            <fieldset class="form-group col-lg-6 col-sm-12 pl-0 fosign">
                                                                <legend class="sr-only">@T("account.fields.city")</legend>
                                                                @Html.LabelFor(model => model.City, new { @class = "col-form-label text-left" }, ": *")
                                                                @Html.EditorFor(model => model.City)
                                                                @Html.ValidationMessageFor(model => model.City)
                                                            </fieldset>
                                                            }
                                                            @if (Model.CountryEnabled)
                    {
                                                            <fieldset class="form-group col-lg-6 col-sm-12 pr-0 fosign">
                                                                <legend class="sr-only">@T("account.fields.country")</legend>
                                                                @Html.LabelFor(model => model.CountryId, new { @class = "col-form-label text-left" }, ": *")
                                                                @Html.DropDownList("CountryId", Model.AvailableCountries, new { @class = "custom-select form-control" })
                                                                @Html.ValidationMessageFor(model => model.CountryId)
                                                            </fieldset>
                                                            }
                                                            @if (Model.CountryEnabled && Model.StateProvinceEnabled)
                    {
                                                            <fieldset class="form-group col-lg-6 col-sm-12 pl-0 fosign">
                                                                <legend class="sr-only">@T("account.fields.stateprovince")</legend>
                                                                @Html.LabelFor(model => model.StateProvinceId, new { @class = "col-form-label text-left" }, ": *")
                                                                @Html.DropDownList("StateProvinceId", Model.AvailableStates, new { @class = "custom-select form-control" })
                                                                @Html.ValidationMessageFor(model => model.StateProvinceId)
                                                                <span id="states-loading-progress" style="display: none;" class="please-wait">@T("Common.Wait...")</span>
                                                            </fieldset>
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                            <div class="clearfix"></div>
                                            <fieldset class="form-group col-lg-12 col-sm-12 px-0 def_add">
                                                <label><span>Make this my default address</span> <input type="checkbox" name="default" /></label>

                                            </fieldset>

                                            <hr class="divider" style="margin-top:5px;" />

                                            <div class="col-lg-12 px-0"><a href="javascript:void(0);">Add another address</a></div>


                                            @*<button type="button" class="wizard-prev btn btn-primary">Previous</button>
                <button type="button" class="wizard-next btn btn-primary">Next</button>
                                                    <input type="submit" id="register-button" class="btn btn-success pull-right register-next-step-button mb-3" value="@T("Account.Register.Button")" name="register-button" />
                                            *@
                                            <input type="submit" id="register-button" class="btn btn-success pull-right register-next-step-button mb-3" value="Confirm" name="register-button" />
                                        </div>
                                    

                                </div>
                                <div class="clearfix"></div>
                                <div class="wizard-header">
                                    <ul class="nav nav-tabs">
                                        <li role="presentation" class="wizard-step-indicator active"><h5><strong>Step</strong></h5><a id="clkstep1" href="#profile">1</a></li>
                                        <li role="presentation" class="wizard-step-indicator"><h5><strong>Step</strong></h5><a id="clkstep2" href="#messages">2</a></li>
                                        <li role="presentation" class="wizard-step-indicator"><h5><strong>Step</strong></h5><a id="clkstep3" href="#step3">3</a></li>
                                    </ul>
                                </div>

                            </div>


                        </div>












                    </div>

                </div>









            </div>
        </div>
    </div>


    <div class="external-authentication">
        @Html.Action("ExternalMethods", "ExternalAuthentication")
    </div>
                                }