﻿@model UserAgreementModel
@using Nop.Web.Models.Customer;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml"; 
}
<script type="text/javascript">
    $(document).ready(function () {

        $("#agreement-agree").click(toggleContinueButton);

        toggleContinueButton();
    });
    function toggleContinueButton() {
        if ($('#agreement-agree').is(':checked')) {
            $('#continue-downloading').removeAttr('disabled');
        } else {
            $('#continue-downloading').attr('disabled', 'disabled');
        }
    }
</script>
<div class="page user-agreement-page">
        <h1 class="generalTitle text-xs-center">@T("DownloadableProducts.UserAgreement")</h1>
        <div class="terms-of-agreement text-xs-center">
            <label class="custom-control custom-checkbox">
                <input id="agreement-agree" class="custom-control-input" type="checkbox" value="@T("DownloadableProducts.IAgree")" />
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">@Html.Raw(Model.UserAgreementText)</span>
            </label>
        </div>
        <div class="buttons text-xs-center generalMarginSupporter">
            <input type="submit" id="continue-downloading" class="btn btn-success user-agreement-button" value="@T("Common.Continue")" onclick="setLocation('@Url.RouteUrl("GetDownload", new { orderItemId = Model.OrderItemGuid, agree = true })')" />
        </div>
</div>


