﻿@{
    Layout = "";
}
@model Nop4you.Plugin.Widgets.ThemeGarden.Models.ConfigurationModel
@using Nop.Web.Framework;
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="content-header clearfix">
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
        </div>
    </div>

    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.useGallery)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.useGallery)
                    </div>
                </div>
            </div>
        </div>
    </div>

}