﻿@model IList<BlogPostYearModel>
@using Nop.Web.Models.Blogs;
@if (Model.Count > 0)
{
    <section id="block-blog-archive" class="block block-blog-archive mt-1">
            <h5 class="generalTitle hidden-md-down"><strong>@T("Blog.Archive")</strong></h5>
            <h5 class="bg-faded p-3 hidden-lg-up"><strong>@T("Blog.Archive")</strong>
                <i id="computers" class="fa fa-angle-down fa-1x float-xs-right" aria-hidden="true"></i></h5>
        <div class="viewBox">
            <ul class="list" id="blog-month-list">
                @foreach (var yearItem in Model)
                {
                    <li class="year">
                        <strong class="number">@(yearItem.Year)</strong>
                        <ul class="sublist" id="blog-year-@(yearItem.Year)">
                            @foreach (var monthItem in yearItem.Months)
                            {
                                <li class="month">
                                    <a href="@Url.RouteUrl("BlogByMonth", new { month = yearItem.Year + "-" + monthItem.Month })">
                                        @(new DateTime(yearItem.Year, monthItem.Month, 1).ToString("MMMM"))
                                    (@(monthItem.BlogPostCount))
                                </a>
                            </li>
                            }
                        </ul>
                    </li>
                }
            </ul>
            </div>
</section>
}