﻿@model NewsletterCategoryModel
@using Nop.Web.Models.Newsletter;
@{ 
    var storeLocation = Nop.Core.Infrastructure.EngineContext.Current.Resolve<Nop.Core.IWebHelper>().GetStoreLocation();
}
<div class="newsletter-category">
    <div class="newsletter-category-title">
        <h3>@T("NewsletterCategory.Title")</h3>
    </div>
    <form id="newsletter-category-method-form" action="" >
        @Html.HiddenFor(x=>x.NewsletterEmailId)
        <div class="newsletter-category-body">


            @*<label class="custom-control custom-radio">
                <input class="custom-control-input" type="checkbox" name="Category_@(category.Id)" value="@category.Id" />
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">Toggle this custom radio</span>
            </label>*@

                @foreach (var category in Model.NewsletterCategories)
                {
                    <label for="radio2" class="custom-control custom-radio">
                        <input id="radio2" name="radio" type="radio" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">@category.Name</span>
                    </label>
                }
            <div class="newsletter-category-save pt-1 pb-1">
                <input type="button" value="@T("NewsletterCategory.Options.Save")" id="newsletter-category-button" class="btn btn-success newsletter-subscribe-button" />
            </div>
        </div>
    </form>

    <script type="text/javascript">
        function newsletter_subscribe_category() {
            $.ajax({
                cache: false,
                type: "POST",
                url: "@(Url.RouteUrl("SubscribeNewsletterCategory"))",
                data: $('#newsletter-category-method-form').serialize(),
                success: function(data) {
                    if (data.Success) {
                        var magnificPopup = $.magnificPopup.instance;
                        magnificPopup.close();
                    } else {
                        alert(data.Message);
                    }
                },
                error: function(xhr, ajaxOptions, thrownError) {
                    alert('Failed to assignt to categories.');
                    var magnificPopup = $.magnificPopup.instance;
                    magnificPopup.close();
                }
            });
        }
        $(document).ready(function () {
            $('#newsletter-category-button').click(function () {
                newsletter_subscribe_category();
            });

        });
    </script>

</div>
