﻿@model SubscriptionActivationModel
@using Nop.Web.Models.Newsletter;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";
}
<div class="page newsletter-page">
    <div class="container text-center">
        <h1 class="h2 text-xs-center generalTitle" style="margin-top:20px;">@T("Newsletter.Title")</h1>
        <strong>
            @Model.Result
        </strong>
    </div>
</div>