<div class="clearfix"></div>
<div class="container" style="padding:0px;">
    <div class="home-page-product-grid generalMarginSupporter">
        <h5 class="generalTitle text-center"><span>Top Brands</span></h5>
        <section class="customer-logos slider">
            <div class="slide"><a href="https://sunnyelectricals.com/crabtree"><img src="~/Themes/Garden/Content/images/logos/logo1.jpg"></a></div>
            <div class="slide"><a href="https://sunnyelectricals.com/dimplex"><img src="~/Themes/Garden/Content/images/logos/logo2.jpg"></a></div>
            <div class="slide"><a href="https://sunnyelectricals.com/bg"><img src="~/Themes/Garden/Content/images/brand_bg.png"></a></div>
            <div class="slide"><a href="https://sunnyelectricals.com/brand-halers"><img src="~/Themes/Garden/Content/images/logos/logo4.jpg"></a></div>
            <div class="slide"><a href="https://sunnyelectricals.com/honeywell-security"><img src="~/Themes/Garden/Content/images/logos/logo5.jpg"></a></div>
            <div class="slide"><a href="https://sunnyelectricals.com/ring"><img src="~/Themes/Garden/Content/images/logos/brand_ring@2x.png"></a></div>
            <div class="slide"><a href="https://sunnyelectricals.com/lightwaverf"><img src="~/Themes/Garden/Content/images/logos/brand_lightwave@2x.png"></a></div>
            <div class="slide"><a href="https://sunnyelectricals.com/biasi"><img src="~/Themes/Garden/Content/images/logos/brand_biasi@2x.png"></a></div>
			   <div class="slide"><a href="https://sunnyelectricals.com/searchlight-electricals"><img src="~/Themes/Garden/Content/images/logos/brand_searchlight@2x.png"></a></div>
			      <div class="slide"><a href="https://sunnyelectricals.com/aurora"><img src="~/Themes/Garden/Content/images/logos/brand_aurora@2x.png"></a></div>
        </section>
        <div class="clearfix"></div>
<div class="text-center pb-4"> <a href="/Brand/">View all</a> </div>
 </div>
</div>