﻿@model IList<PollModel>
@using Nop.Web.Models.Polls;
@if (Model.Count > 0)
{
    <div class="col-12 home-page-polls">
            <h2 class="generalTitle text-center">@T("Polls.Title")</h2>
            @foreach (var poll in Model)
            {
                @Html.Partial("_Poll", poll)
            }
    </div>
}
