﻿@model CatalogPagingFilteringModel
@using Nop.Web.Models.Catalog;

    <div class="generalMarginSupporter categoryGrid">
        <div class="d-flex flex-row justify-content-end row">
            @*view mode*@
            @if (Model.AllowProductViewModeChanging)
            {
                <div class="ml-auto col-4 text-sm-right rightHead hidden-sm-down pr-0 pl-0 align-self-center"> 
                                
                        @if (Model.AvailableViewModes.Count > 1)
                        {

                            var gridMode = Model.AvailableViewModes[0];
                            var listMode = Model.AvailableViewModes[1];

                            <div class="col justify-content-start d-flex flex-row">
                                    <a class="viewmode-icon grid ml-1 pr-1 @if(gridMode.Selected){<text>selected</text>}" href="@gridMode.Value" title="@gridMode.Text"><i class="fa fa-th-large"></i>
                                    <span class="sr-only">viewmode grid</span></a>
                                    <a class="viewmode-icon list ml-1 pl-1 @if (listMode.Selected){<text>selected</text>}" href="@listMode.Value" title="@listMode.Text"><i class="fa fa-th-list"></i><span class="sr-only">viewmode list</span></a>
                            </div>
                        }
                </div>
            }
            @*sorting*@
            @if (Model.AllowProductSorting)
            {
                <div class="col-4">
                    <label class="mb-0" for="custom-select">@T("Catalog.OrderBy")</label>
                    @Html.DropDownList("custom-select", Model.AvailableSortOptions, new { @class = "form-control custom-select", onchange = "setLocation(this.value);" })       
                </div>
            }
            @*page size*@
            @if (Model.AllowCustomersToSelectPageSize)
            {
                <div class="col-4 pl-0">
                            <span class="mb-1">@T("Catalog.PageSize")</span>
                                <label for="products-pagesize" class="sr-only">@T("Catalog.PageSize")</label>
                                @Html.DropDownList("products-pagesize", Model.PageSizeOptions, new { @class = "custom-select form-control", onchange = "setLocation(this.value);" })                      
                </div>
            }
        </div>
    </div>
