@model CategoryModel
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";
    Html.AddTitleParts(!String.IsNullOrEmpty(Model.MetaTitle) ? Model.MetaTitle : Model.Name);
    Html.AddMetaDescriptionParts(Model.MetaDescription);
    Html.AddMetaKeywordParts(Model.MetaKeywords);

    var canonicalUrlsEnabled = EngineContext.Current.Resolve<SeoSettings>().CanonicalUrlsEnabled;
    if (canonicalUrlsEnabled)
    {
        var categoryUrl = Url.RouteUrl("Category", new { SeName = Model.SeName }, this.Request.Url.Scheme);
        Html.AddCanonicalUrlParts(categoryUrl);
    }

    var breadcrumbDelimiter = EngineContext.Current.Resolve<CommonSettings>().BreadcrumbDelimiter;
}
@using Nop.Core.Domain.Common;
@using Nop.Core.Domain.Seo;
@using Nop.Core.Infrastructure;
@using Nop.Web.Models.Catalog;
@*category breadcrumb*@
@section Breadcrumb
{
    @if (Model.DisplayCategoryBreadcrumb)
    {
        <div class="container">
            <div class="row">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="@Url.RouteUrl("HomePage")" title="@T("Categories.Breadcrumb.Top")">@T("Categories.Breadcrumb.Top")</a>
                </li>
                @foreach (var cat in Model.CategoryBreadcrumb)
                {
                    var isLastCategory = cat.Id == Model.Id;
                    
                        if (isLastCategory)
                            {
                                <li class="breadcrumb-item active">
                                    <strong class="current-item">@cat.Name</strong>
                                </li>
                            }
                        else
                            {
                                <li class="breadcrumb-item">
                                    <a href="@Url.RouteUrl("Category", new { SeName = cat.SeName })" title="@cat.Name">@cat.Name</a>
                                </li>
                            }
                }
            </ol>
            </div>
            </div>
            @Html.Widget("categorydetails_after_breadcrumb", Model.Id)
    }
}




@{
    //current category ID
    string currentCategoryId = "";
    if (Url.RequestContext.RouteData.Values["controller"].ToString().Equals("catalog", StringComparison.InvariantCultureIgnoreCase) &&
        Url.RequestContext.RouteData.Values["action"].ToString().Equals("category", StringComparison.InvariantCultureIgnoreCase))
    {
        currentCategoryId = Url.RequestContext.RouteData.Values["categoryId"].ToString();
    }


    //current manufacturer ID
    string currentManufacturerId = "";
    if (Url.RequestContext.RouteData.Values["controller"].ToString().Equals("catalog", StringComparison.InvariantCultureIgnoreCase) &&
        Url.RequestContext.RouteData.Values["action"].ToString().Equals("manufacturer", StringComparison.InvariantCultureIgnoreCase))
    {
        currentManufacturerId = Url.RequestContext.RouteData.Values["manufacturerId"].ToString();
    }


    //current product ID
    string currentProductId = "";
    if (Url.RequestContext.RouteData.Values["controller"].ToString().Equals("product", StringComparison.InvariantCultureIgnoreCase) &&
        Url.RequestContext.RouteData.Values["action"].ToString().Equals("productdetails", StringComparison.InvariantCultureIgnoreCase))
    {
        currentProductId = Url.RequestContext.RouteData.Values["productId"].ToString();
    }
}

<div class="page category-page">
   
        @*<h2>@Model.Name</h2>*@
        @Html.Widget("categorydetails_top", Model.Id)
        @*description*@
        @if (!String.IsNullOrWhiteSpace(Model.Description))
        {
                <div class="card category-description">
                    <div class="card-block">
                        <h2 class="card-title m-0">
                            @Html.Raw(Model.Description)
                        </h2>
                    </div>
                </div>
        }
        @Html.Widget("categorydetails_before_subcategories", Model.Id)
        @*subcategories*@
        @if (Model.SubCategories.Count > 0)
        {
            <div class="categoryItems">
                <div class="row">
                    @foreach (var item in Model.SubCategories)
                {
                <div class="col-md-4 col-sm-6 col-12 mb-2">
                    <div class="card">
                        <a href="@Url.RouteUrl("Category", new { SeName = item.SeName })" title="@item.PictureModel.Title">
                            <div class="main_imgext">
                                <img class="card-img-top img-fluid" alt="@item.PictureModel.AlternateText" src="@item.PictureModel.ImageUrl" title="@item.PictureModel.Title">
                            </div>
                            <hr class="divider"/>
                            <h2 class="h6 m-3 card-title">
                                @item.Name
                            </h2>

                        </a>
                    </div>
                </div>
                    }
                </div>
            </div>
        }
        @Html.Widget("categorydetails_before_featured_products", Model.Id)
        @*featured products*@
    @if (Model.FeaturedProducts.Count > 0)
    {
        <div class="col-12  product-grid featured-product-grid px-0 ">
            <h2 class="h4 text-center xtitle">
              <strong>@T("Products.FeaturedProducts")</strong>
            </h2>
			 <div class="featured-slider ">
					@foreach (var item in Model.FeaturedProducts)
					{ <section class=" slider ">
						<div class=" slide ">
						
							<div class="featured-grids-col">
							@Html.Partial("_ProductBox", item)
							</div>
						</div>
						</section>
					}
				</div>	
			
        </div>
	
    }
        @Html.Widget("categorydetails_after_featured_products", Model.Id)
        @if (Model.Products.Count > 0)
        {
            @Html.Partial("_CatalogSelectors", Model.PagingFilteringContext, new ViewDataDictionary())
        }
        @Html.Widget("categorydetails_before_filters", Model.Id)

        @Html.Widget("categorydetails_before_product_list", Model.Id)

        @if (Model.Products.Count > 0)
        {
            if (Model.PagingFilteringContext.ViewMode == "grid")
            {
                <div class="subCategoryList product-grid">
                    <div class="row glex-grid">
                        @foreach (var product in Model.Products)
                        {
                            <div class="col-lg-4 col-sm-6 col-12">
							<div class="featured-grids-col">
                                @Html.Partial("_ProductBox", product)
                            </div>
							</div>
                        }
                    </div>

                    @{
                        var pager = Html.Pager(Model.PagingFilteringContext).QueryParam("pagenumber");
                    }
                    @if (!pager.IsEmpty())
                    {
                        <nav class="navigation" aria-label="Page">
                            @pager
                        </nav>
                    }
                    @Html.Widget("categorydetails_bottom", Model.Id)
                </div>
            }
            else
            {
                <div class="col-12 product-list">
                    <div class="row">
                        @foreach (var product in Model.Products)
                    {
                            @Html.Partial("_ProductBoxList", product)
                        }
                        @{
                            var pager = Html.Pager(Model.PagingFilteringContext).QueryParam("pagenumber");
                        }
                        @if (!pager.IsEmpty())
                    {
                            <nav aria-label="Page" class="navigation">
                                @pager
                            </nav>
                        }
                        @Html.Widget("categorydetails_bottom", Model.Id)
                    </div>
                </div>

            }
        }
</div>
@section filters
{
        @*filtering*@
        @if (Model.PagingFilteringContext.PriceRangeFilter.Enabled)
    {
            @Html.Partial("_FilterPriceBox", Model.PagingFilteringContext.PriceRangeFilter, new ViewDataDictionary())
        }
        @*filtering*@
        @if (Model.PagingFilteringContext.SpecificationFilter.Enabled)
    {
            @Html.Partial("_FilterSpecsBox", Model.PagingFilteringContext.SpecificationFilter, new ViewDataDictionary())
        }
}