@model IList<CategoryModel>

@using Nop.Web.Models.Catalog;
@if (Model.Count > 0)
{

    
    <div class="select-slide mb-2">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-12 px-1 sc-anim">
                            @Html.Action("TopicBlock", "Topic", new { systemName = "homeslider1" }) 
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 px-1 sc-anim">
                            @Html.Action("TopicBlock", "Topic", new { systemName = "homeslider2" })
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 px-1 sc-anim">                     
                            @Html.Action("TopicBlock", "Topic", new { systemName = "homeslider3" })
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 px-1 sc-anim">    
                            @Html.Action("TopicBlock", "Topic", new { systemName = "homeslider4" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="container"> -->
        <!-- <div class="row"> -->
            <!-- <div class="our-options"> -->
                <!-- <div class="col-12"> -->
                    <!-- <div class="row"> -->
                        <!-- <div class="col-lg-4 col-md-6 op-anim our-1"> -->
                            <!-- <div class="col-12 d-flex first-option p-4"> -->
                                <!-- <span><i class="fa fa-undo fa-anim" aria-hidden="true"></i></span> -->
                                <!-- <div class="align-self-center px-3"> -->
                                    <!-- <p class="h5 mb-0 our-optiosn-title pr-3">@*@T("nop4you.theme.gardentheme.ouroptions1title")*@ Zero Hassle Return Policy</p> -->
                                    <!-- @*<span><p class="mb-0">@T("nop4you.theme.gardentheme.ouroptions1content")</p></span>*@ -->
                                <!-- </div> -->
                            <!-- </div> -->
                        <!-- </div> -->
                        <!-- <div class="col-lg-4 col-md-6 op-anim our-2"> -->
                            <!-- <div class="col-12 d-flex first-option p-4"> -->
                                <!-- <span><i class="fa fa-lock fa-anim" aria-hidden="true"></i></span> -->
                                <!-- <div class="align-self-center px-3"> -->
                                    <!-- <p class="h5 mb-0 our-optiosn-title">@*@T("nop4you.theme.gardentheme.ouroptions2title")*@ Secured by Worldpay</p> -->
                                    <!-- @*<span><p class="mb-0">@T("nop4you.theme.gardentheme.ouroptions2content") </p></span>*@ -->
                                <!-- </div> -->
                            <!-- </div> -->
                        <!-- </div> -->
                        <!-- <div class="col-lg-4 col-md-6 pr-0 op-anim our-3"> -->
                            <!-- <div class="col-12 d-flex first-option p-4"> -->
                                <!-- <span><i class="fa fa-cube fa-anim" aria-hidden="true"></i></span> -->
                                <!-- <div class="align-self-center px-3"> -->
                                    <!-- <p class="h5 mb-0 our-optiosn-title pr-4">@*@T("nop4you.theme.gardentheme.ouroptions3title")*@ Large Stock Availabilty</p> -->
                                    <!-- @*<span><p class="mb-0">@T("nop4you.theme.gardentheme.ouroptions3content")</p></span>*@ -->
                                <!-- </div> -->
                            <!-- </div> -->
                        <!-- </div> -->
                    <!-- </div> -->
                <!-- </div> -->
            <!-- </div> -->
        <!-- </div> -->
    <!-- </div> -->
	<div class="container">
		<div class="row">
			<div class="trust-pilot"> 
              <div class="col-12">
                <div class="row">
					<div class="col-md-7">
						<div class="trust-pilot-col">
							<img title="stars" src="/Content/Images/uploaded/stars.png" alt="stars"> <h4> Review our products & service here...  </h4>
						</div>
					</div>
					<div class="col-md-3">
						<div class="best-of-walsall-logo">
							<a href="https://www.thebestof.co.uk/local/walsall/business-guide/feature/sunny-electrical-supplies/" target="_blank"><img title="BoW-best-of-walsall-logo" src="/Content/Images/uploaded/BoW-best-of-walsall-logo.png" alt="BoW-best-of-walsall-logo"></a>

						</div>
					</div>
					<div class="col-md-2">
						<div class="trust-pilot-rating-col">
							<a href="https://www.google.com/search?q=sunny+electrical+supplies+walsall&oq=sunny+electrical+&aqs=chrome.2.69i57j0l3j69i60l2.8287j0j9&sourceid=chrome&ie=UTF-8" target="_blank"><img title="google-logo" src="/Content/Images/uploaded/google-logo.png" alt="google-logo"></a>

						</div>
					</div>
				</div>
			 </div>
		</div>
	</div>
	</div>


}