﻿@model ManufacturerNavigationModel
@using Nop.Web.Models.Catalog;
@if (Model.Manufacturers.Count > 0)
{


    <div id="block-manufacturer-navigation" class="block block-manufacturer-navigation">
        <h2 class="h5 bg-faded p-3 hidden-lg-up"><strong>@T("Manufacturers")</strong><i id="Manufacturers" class="fa fa-angle-down fa-1x float-xs-right"></i></h2>
        <h2 class="h5 generalTitle hidden-md-down"><strong>@T("Manufacturers")</strong>
            </h2>
        <div class="viewBox">
            <ul>
                @foreach (var manufacturer in Model.Manufacturers)
                {
                    <li class="@(manufacturer.IsActive ? "active" : "inactive")">
                        <a href="@Url.RouteUrl("Manufacturer", new { SeName = manufacturer.SeName })">@manufacturer.Name</a>
                    </li>
                }
            </ul>
            @if (Model.TotalManufacturers > Model.Manufacturers.Count)
            {
                <div class="view-all btn-group-sm mb-1">
                    <a class="btn btn-secondary" href="@Url.RouteUrl("ManufacturerList")">@T("Manufacturers.ViewAll")</a>
                </div>
            }
        </div>
    </div>





}