﻿@model PopularProductTagsModel
@using Nop.Web.Models.Catalog;
@if (Model.Tags.Count > 0)
{
    <div id="block-popular-tags" class="block block-popular-tags">
            <h2 class="h5 bg-faded p-3 hidden-lg-up pt-1"><strong>@T("Products.Tags.Popular")</strong><i id="computers-navigator" class="fa fa-angle-down fa-1x float-xs-right" aria-hidden="true"></i></h2>
            <h2 class="h5 generalTitle hidden-md-down"><strong>@T("Products.Tags.Popular")</strong></h2>
            <div class="viewBox btn-toolbar">
                @foreach (var item in Model.Tags)
                {
                        <a class="btn btn-sm btn-secondary" href="@Url.RouteUrl("ProductsByTag", new { productTagId = item.Id, SeName = item.SeName })" style="font-size:@(Model.GetFontSize(item))%;">@item.Name</a>
                }
                @if (Model.TotalTags > Model.Tags.Count)
                {
                    <div class="view-all btn-group-sm mt-2">
                        <a class="btn btn-secondary" href="@Url.RouteUrl("ProductTagsAll")">@T("Products.Tags.Popular.ViewAll")</a>
                    </div>
                }
            </div>
        </div>
}