﻿@model SearchBoxModel
@using Nop.Web.Models.Catalog;
@using (Html.BeginRouteForm("ProductSearch", FormMethod.Get, new { id = "small-search-box-form" }))
{

    <label for="small-searchterms" class="sr-only">Search Product</label>
    <div class="search-switcher" onclick="openMinisearch()">
        </div>
           
            <div id="search_mini_form">
                <div class="search">
                <input type="text" id="small-searchterms" autocomplete="off" name="q" placeholder="Search Product" />
                @Html.Widget("searchbox_before_search_button")

                @if (Model.SearchTermMinimumLength > 0)
                {
                    <script type="text/javascript">
                $("#small-search-box-form").submit(function(event) {
                    if ($("#small-searchterms").val() == "") {
                        alert('@Html.Raw(HttpUtility.JavaScriptStringEncode(T("Search.EnterSearchTerms").Text))');
                        $("#small-searchterms").focus();
                        event.preventDefault();
                    }
                });
                    </script>
                }

                    <button type="submit">
                        <span class="sr-only">Search Product</span>
                        <span class="fa fa-search"></span>  
                    </button>
                    </div>
            </div>
        
        <script>
                function openMinisearch() {  
                    $("#search_mini_form").toggleClass("shown");
                }  
                $('html').click(function () {
                    $("#search_mini_form").removeClass("shown");
                });
                $('#search_mini_form').click(function (event) {
                    event.stopPropagation();
                });
                $('.search-switcher').click(function (event) {
                    event.stopPropagation();
                });            
        </script>

    if (Model.AutoCompleteEnabled)
    {
        <text>
            <script type="text/javascript">
                $(document).ready(function() {
                    $('#small-searchterms').autocomplete({
                        delay: 500,
                        minLength: @(Model.SearchTermMinimumLength.ToString()),
                        source: '@(Url.RouteUrl("ProductSearchAutoComplete"))',
                        appendTo: '.search-box',
                        select: function(event, ui) {
                            $("#small-searchterms").val(ui.item.label);
                            setLocation(ui.item.producturl);
                            return false;
                        }
                    })
                        .data("ui-autocomplete")._renderItem = function(ul, item) {
                            var t = item.label;
                            //html encode
                            t = htmlEncode(t);
                            return $("<li class=\"list-group-item\"></li>")
                                .data("item.autocomplete", item)
                                .append("<a class=\"generalImg\">@(Model.ShowProductImagesInSearchAutoComplete ? Html.Raw("<img src='\" + item.productpictureurl + \"'>") : null)<span>" + t + "</span></a>")
                                .appendTo(ul);
                        };
                });
            </script>
        </text>
        }
        @Html.Widget("searchbox")
        }

    
