﻿@model VendorModel
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";
    Html.AddTitleParts(!String.IsNullOrEmpty(Model.MetaTitle) ? Model.MetaTitle : Model.Name);
    Html.AddMetaDescriptionParts(Model.MetaDescription);
    Html.AddMetaKeywordParts(Model.MetaKeywords);

    var canonicalUrlsEnabled = EngineContext.Current.Resolve<SeoSettings>().CanonicalUrlsEnabled;
    if (canonicalUrlsEnabled)
    {
        var vendorUrl = Url.RouteUrl("Vendor", new { SeName = Model.SeName }, this.Request.Url.Scheme);
        Html.AddCanonicalUrlParts(vendorUrl);
    }
}
@using Nop.Core.Domain.Seo;
@using Nop.Core.Infrastructure;
@using Nop.Web.Models.Catalog;
<div class="page vendor-page">
       <div class="col--12"> 
    <h1 class="h2 generalTitle">
        @Model.Name
    </h1> 
           @if (Model.AllowCustomersToContactVendors)
           {
               <input type="button" value="@T("ContactVendor")" class="btn btn-sm btn-secondary contact-vendor-button float-xs-right" onclick="setLocation('@Url.RouteUrl("ContactVendor", new { vendorId = Model.Id })')" />
           }
       </div>
        @Html.Widget("vendordetails_top", Model.Id)
        @*description*@
        @if (!String.IsNullOrWhiteSpace(Model.Description))
        {
            <article class="text-xs-center generalMarginSupporter vendor-description">
                @Html.Raw(Model.Description)
            </article>
        }
        @*contact vendor*@
        @if (Model.Products.Count > 0)
        {
            @Html.Partial("_CatalogSelectors", Model.PagingFilteringContext, new ViewDataDictionary())
        }
        @*product list*@
        @if (Model.Products.Count > 0)
            {
                if (Model.PagingFilteringContext.ViewMode == "grid")
                {
                <div class="col--12">
                    <div class="row flex-grid">
                        @foreach (var product in Model.Products)
                    {
                            <div class="col-lg-4 col-sm-6 col--12">
                                @Html.Partial("_ProductBox", product)
                            </div>
                        }
                    </div>
                </div>
            }
            else
            {
                <div class="col--12">
                    @foreach (var product in Model.Products)
                    {
                        @Html.Partial("_ProductBoxList", product)
                    }
                </div>
            }
        }
        @{
            var pager = Html.Pager(Model.PagingFilteringContext).QueryParam("pagenumber");
        }
        @if (!pager.IsEmpty())
        {
            <div class="pager navigation">
                @pager
            </div>
        }
        @Html.Widget("vendordetails_bottom", Model.Id)
    </div>
